<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <title>ترمیم مو, کاشت مو, تقویت مو, روش های ترمیم مو | الگانت مو - @ViewBag.title</title>
    @{
        ViewBag.title = "خانه";
    }
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="الگانت مو ارائه دهنده خدمات کاشت , ترمیم مو و تقویت مو">

    <meta charset="UTF-8">
    <meta name="keywords" content="ترمیم مو, کاشت مو, تقویت مو, روش های ترمیم مو">
    <meta name="author" content="Mohsen Esmaeli - http://happyspider.org">

    <!-- CSS Files -->
    <link href="~/Packages/fullpage.js/jquery.fullPage.min.css" rel="stylesheet" />
    <link href="~/Packages/vegas/vegas.min.css" rel="stylesheet" />
    <link href="~/Packages/reset.css/reset.min.css" rel="stylesheet" />
    <link href="~/Packages/Magnific-Popup/magnific-popup.min.css" rel="stylesheet" />
    <link href="~/Themes/Elegantmoo/Css/Elegant.min.css" rel="stylesheet" />
    <!-- // CSS Files -->
</head>
<body lang="fa">

    @RenderBody()

     <ul id="social">
            <li>

                <a target="_blank" title="ما را در اینستاگرام دنبال کنید" href="https://www.instagram.com/tarmime_moo_elegant/"><img alt="اکانت اینستاگرام ما" src="~/Themes/Elegantmoo/Images/Instagram.png" /></a>
                <a target="_blank" title="ویدئو های ما را در آپارات ببینید" href="http://www.aparat.com/tarmime_moo"><img alt="آپارات ما" src="~/Themes/Elegantmoo/Images/aparat.png" /></a>
                <a target="_blank" title="تلگرام الگانت مو" href="http://telegram.me/elegantmoo_lotfi"><img alt="تلگرام ما" src="~/Themes/Elegantmoo/Images/Telegram_Messenger.png" /></a>
                <a target="_blank" title="واتساپ الگانت مو" href="whatsapp://send?abid=Elegantmoo_lotfi&text=HeyThere!"><img alt="واتساپ ما" src="~/Themes/Elegantmoo/Images/whatsapp-flag-icons-95406.png" /></a>

            </li>
        </ul>

    <!-- JavaScript Files -->
    <script src="~/Packages/jquery-2.1.4/jquery-2.1.4.min.js"></script>
    <script src="~/Packages/fullpage.js/vendors/jquery.easings.min.js"></script>
    <script src="~/Packages/fullpage.js/vendors/scrolloverflow.min.js"></script>
    <script src="~/Packages/fullpage.js/jquery.fullPage.min.js"></script>
    <script src="~/Packages/vegas/vegas.min.js"></script>
    <script src="~/Packages/mixitup/jquery.mixitup.min.js"></script>
    <script src="~/Packages/tinynav/tinynav.min.js"></script>
    <script src="~/Packages/Magnific-Popup/jquery.magnific-popup.min.js"></script>
    <script src="~/Themes/Elegantmoo/Scripts/Elegant.min.js"></script>
    <script src="~/Packages/HCMS/js/DStats.min.js"></script>
    <!--// JavaScript Files -->

</body>
</html>