@model HCMS.Dynamics.DSystem.Models.RouteModel
@{
    ViewBag.Title = "Edit Route";
}


<div class="box-bordered info">
    <h2>
        @ViewBag.title
    </h2>
    @Html.Partial("Forms/ObjectForm", Model)
</div>
