<!DOCTYPE html>
<html lang="fa" ng-app="myApp">

<head>

    <base href="~/" />
    <meta charset="utf-8" />
    <title>حیات نو | @ViewBag.title </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />

    <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
    <link href="favicon.ico" rel="shortcut icon">


    <!-- reset css defaults -->
    <link href="~/Themes/hayat2/lib/resetcss/reset.min.css" rel="stylesheet" />


    <!-- Bootstrap CSS File -->
    <link href="~/Themes/hayat2/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/hayat2/lib/bootstrap-rtl/css/bootstrap-rtl.min.css" rel="stylesheet" />


    <!-- Libraries CSS Files -->
    <link href="~/Themes/hayat2/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Themes/hayat2/lib/animate-css/animate.min.css" rel="stylesheet" />
    <link href="~/Themes/hayat2/lib/aos/aos.min.css" rel="stylesheet" />


    <!-- hayat styles -->
    <link href="~/Themes/hayat2/css/all.css" rel="stylesheet" />

    <link href="~/Themes/hayat2/less/blocks.css" rel="stylesheet" />


</head>

<body>

    <div id="loader">
        <div class="logo-wrapper">
            <div class="logobox">
            </div>
        </div>
    </div>


    <header>

        <div class="logo">
            <img src="~/Themes/hayat2/img/logo/Ebtekar Saze Samle Logo.png" />
        </div>

        <a href="~/" class="homelogo">
            <img src="~/Themes/hayat2/img/logo/Hayate no Logo black.png" />
        </a>

        <div class="links">
            <ul>
                <li>
                    <span>
                        رزرو بازدید
                    </span>
                    <i class="fa fa-calendar"></i>
                </li>

                <li>
                    <span class="ltr email">
                        info@hayat-no.com
                    </span>
                    <i class="fa fa-envelope"></i>
                </li>


                <li>
                    <span class="ltr phone">
                        021 2290 4055
                    </span>
                    <i class="fa fa-phone-square"></i>
                </li>
            </ul>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#!/hayat">حیات</a>

                    <div class="child-menu">
                        برند چیست؟ برند نام تجاری، لوگوی شرکت و یا محصول و خدمات یک سازمان نیست! برند به صورت عمومی تعریف یا تصویری از هویت یک محصول،
                        خدمت (سرویس)، سازمان و یا شرکت است که در طول زمان در ذهن مصرف&zwnj;کننده، کاربر یا مخاطب رسوب می&zwnj;کند.
                        این ذهنیت شامل احساس، قضاوت&zwnj; و تعریف مخاطب از میزان کیفیت ارائه&zwnj;شده&zwnj;، ماهیت، روحیه
                        و شخصیت برند است.

                    </div>

                </li>
                <li>
                    <a href="/blocks">حیات نو</a>
                    <div class="child-menu">
                        چرا برند؟ هدف ساخت برند به عنوان یک هویت مستقل، متمایزسازی یک محصول یا خدمت از سایر رقبای برند است. متمایزسازی برگ برنده&zwnj;ی
                        افزایش فروش و موفقیت در بازار پرتنوع امروزِ ماست. اهمیت ساخت برند در دنیای امروز بر دو اصل ساده اما
                        اساسیِ یک معادله&zwnj;ی معکوس استوار است: • کاهش زمان تصمیم&zwnj;گیری مخاطب برای خرید یا بهره&zwnj;مندی
                        از خدمات • افزایش گسترده&zwnj;ی تعداد رقبا در بازار پرماجرای امروزی
                    </div>
                </li>
                <li>
                    <a href="#services">اخبار</a>
                    <div class="child-menu">
                        چرا برند؟ هدف ساخت برند به عنوان یک هویت مستقل، متمایزسازی یک محصول یا خدمت از سایر رقبای برند است. متمایزسازی برگ برنده&zwnj;ی
                        افزایش فروش و موفقیت در بازار پرتنوع امروزِ ماست. اهمیت ساخت برند در دنیای امروز بر دو اصل ساده اما
                        اساسیِ یک معادله&zwnj;ی معکوس استوار است: • کاهش زمان تصمیم&zwnj;گیری مخاطب برای خرید یا بهره&zwnj;مندی
                        از خدمات • افزایش گسترده&zwnj;ی تعداد رقبا در بازار پرماجرای امروزی
                    </div>
                </li>
                <li>
                    <a href="#!/cell/cellDetail">گالری</a>
                </li>
                <li>
                    <a href="#testimonials">اپلیکیشن حیات</a>
                </li>
            </ul>

        </nav>

    </header>




    @RenderBody()




    <div class="back-to-top"><i class="fa fa-chevron-up"></i></div>




    <!--angularJs-->
    @*<script src="~/Themes/hayat2/lib/angular/angular.min.js"></script>
    <script src="~/Themes/hayat2/lib/angular/angular-route.min.js"></script>*@


    <!-- Required JavaScript Libraries -->


    <script src="~/Themes/hayat2/lib/underscore/underscore.min.js"></script>
    <script src="~/Themes/hayat2/lib/async/async.min.js"></script>
    <script src="~/Themes/hayat2/lib/aos/aos.min.js"></script>

    <script src="~/Themes/hayat2/lib/jquery/jquery.min.js"></script>
    <script src="~/Themes/hayat2/lib/bootstrap/js/bootstrap.min.js"></script>


    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1YnR95LCRaznjcExHiMVSS6mt8GJXiks&callback=initMap">
    </script>



    <!-- hayat JS Bundle -->

    <script src="~/Themes/hayat2/js/hayat.js"></script>

    <!-- hayat angular library-->

    @*<script src="~/Themes/hayat2/module/app.js"></script>
    <script src="~/Themes/hayat2/module/controllers.js"></script>*@





</body>

</html>
