<!DOCTYPE html>
<html lang="fa" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>حیات نو | {{title}}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
    <link href="favicon.ico" rel="shortcut icon">

    <link href="~/Themes/hayat2/lib/resetcss/reset.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS File -->
    <link href="~/Themes/hayat2/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Themes/hayat2/lib/bootstrap-rtl/css/bootstrap-rtl.min.css" rel="stylesheet" />


    <!-- Libraries CSS Files -->
    <link href="~/Themes/hayat2/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Themes/hayat2/lib/animate-css/animate.min.css" rel="stylesheet">
    <!-- Main Stylesheet File -->
    <link href="~/Themes/hayat2/css/style.css" rel="stylesheet">


    <link href="~/Themes/hayat2/lib/aos/aos.css" rel="stylesheet" />
    <link href="~/Themes/hayat2/css/logo.min.css" rel="stylesheet" />


    <link href="~/Themes/hayat2/css/hayat.min.css" rel="stylesheet" />

    <link href="~/Themes/hayat2/css/slider.css" rel="stylesheet" />
    <link href="~/Themes/hayat2/css/logo.css" rel="stylesheet" />
    <link href="~/Themes/hayat2/css/places.css" rel="stylesheet" />


</head>

<body>

    <div id="loader">
        <div class="logo-wrapper">
            <div class="logobox">
            </div>
        </div>
    </div>


    <header>

        <div class="logo">
            <img src="~/Themes/hayat2/img/logo/Ebtekar Saze Samle Logo.png" />
        </div>

        <div class="links">
            <ul>
                <li>
                    <span>
                        رزرو بازدید
                    </span>
                    <i class="fa fa-calendar"></i>
                </li>

                <li>
                    <span class="ltr email">
                        info@hayat-no.com
                    </span>
                    <i class="fa fa-envelope"></i>
                </li>


                <li>
                    <span class="ltr phone">
                        021 2290 4055
                    </span>
                    <i class="fa fa-phone-square"></i>
                </li>
            </ul>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#!/hayat">حیات</a>

                    <div class="child-menu">
                        برند چیست؟ برند نام تجاری، لوگوی شرکت و یا محصول و خدمات یک سازمان نیست! برند به صورت عمومی تعریف یا تصویری از هویت یک محصول،
                        خدمت (سرویس)، سازمان و یا شرکت است که در طول زمان در ذهن مصرف&zwnj;کننده، کاربر یا مخاطب رسوب می&zwnj;کند.
                        این ذهنیت شامل احساس، قضاوت&zwnj; و تعریف مخاطب از میزان کیفیت ارائه&zwnj;شده&zwnj;، ماهیت، روحیه
                        و شخصیت برند است.

                    </div>

                </li>
                <li>
                    <a href="#!/hayatNo">حیات نو</a>
                    <div class="child-menu">
                        چرا برند؟ هدف ساخت برند به عنوان یک هویت مستقل، متمایزسازی یک محصول یا خدمت از سایر رقبای برند است. متمایزسازی برگ برنده&zwnj;ی
                        افزایش فروش و موفقیت در بازار پرتنوع امروزِ ماست. اهمیت ساخت برند در دنیای امروز بر دو اصل ساده اما
                        اساسیِ یک معادله&zwnj;ی معکوس استوار است: • کاهش زمان تصمیم&zwnj;گیری مخاطب برای خرید یا بهره&zwnj;مندی
                        از خدمات • افزایش گسترده&zwnj;ی تعداد رقبا در بازار پرماجرای امروزی
                    </div>
                </li>
                <li>
                    <a href="#services">اخبار</a>
                    <div class="child-menu">
                        چرا برند؟ هدف ساخت برند به عنوان یک هویت مستقل، متمایزسازی یک محصول یا خدمت از سایر رقبای برند است. متمایزسازی برگ برنده&zwnj;ی
                        افزایش فروش و موفقیت در بازار پرتنوع امروزِ ماست. اهمیت ساخت برند در دنیای امروز بر دو اصل ساده اما
                        اساسیِ یک معادله&zwnj;ی معکوس استوار است: • کاهش زمان تصمیم&zwnj;گیری مخاطب برای خرید یا بهره&zwnj;مندی
                        از خدمات • افزایش گسترده&zwnj;ی تعداد رقبا در بازار پرماجرای امروزی
                    </div>
                </li>
                <li>
                    <a href="#!/cell/cellDetail">گالری</a>
                </li>
                <li>
                    <a href="#testimonials">اپلیکیشن حیات</a>
                </li>
            </ul>

        </nav>

    </header>




   @RenderBody()

    <!--==========================
      Footer
    ============================-->
    @*<footer id="footer" class="hidden">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            &copy; تمامی حقوق برای شرکت <strong>ابتکار سازه</strong> محفوظ می باشد
                        </div>
                    </div>
                </div>
            </div>
        </footer>*@
    <!-- #footer -->



    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>




    <!--angularJs-->
    <script src="~/Themes/hayat2/Scripts/angular.min.js"></script>
    <script src="~/Themes/hayat2/Scripts/angular-route.min.js"></script>

    <!-- Required JavaScript Libraries -->
    <script src="~/Themes/hayat2/lib/jquery/jquery.min.js"></script>
    <script src="~/Themes/hayat2/lib/jquery/3.1.1/jquery3-1-1.js"></script>
    <script src="~/Themes/hayat2/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Themes/hayat2/lib/superfish/hoverIntent.js"></script>
    <script src="~/Themes/hayat2/lib/superfish/superfish.min.js"></script>
    <script src="~/Themes/hayat2/lib/easing/easing.js"></script>

    <!-- Template Specisifc Custom Javascript File -->
    <script src="~/Themes/hayat2/js/custom.js"></script>



    <script src="~/Themes/hayat2/lib/aos/aos.js"></script>
    <!--scroll animate-->
    <!--<script src="node_modules/scroll-animated/js/css3-animate-it.js"></script>-->

    <script src="~/Themes/hayat2/lib/underscore/underscore-min.js"></script>
    <script src="~/Themes/hayat2/lib/async/async.min.js"></script>


    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1YnR95LCRaznjcExHiMVSS6mt8GJXiks&callback=initMap">

    </script>

    <script>

        var map;

        function initMap() {
            var uluru = { lat: 35.789581, lng: 51.495528 };
            map = new google.maps.Map($('.page-places .map')[0], {
                zoom: 16,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }


        $(document).on('click', '#tabs-rest', function () {
            //رستوران
            var points = [
                 {
                     position: new google.maps.LatLng(35.788718, 51.497732),
                     title: 'رستوران نوبهار',
                 }, {
                     position: new google.maps.LatLng(35.788688, 51.496523),
                     title: 'کترینگ عارف',
                 }, {
                     position: new google.maps.LatLng(35.790298, 51.495021),
                     title: 'بامزی فست فود',
                 }
            ];
            // Create markers.
            points.forEach(function (point) {
                var marker = new google.maps.Marker({
                    position: point.position,
                    title: point.title,
                    //icon: icons[feature.type].icon,
                    map: map
                });
            });
        });

        $(document).on('click', '#tabs-bred', function () {
            //نانوایی
            var points = [
                {
                    position: new google.maps.LatLng(35.790198, 51.495022),
                    title: 'نانوایی سنگکی',
                }
            ];
            // Create markers.
            points.forEach(function (point) {
                var marker = new google.maps.Marker({
                    position: point.position,
                    title: point.title,
                    //icon: icons[feature.type].icon,
                    map: map
                });
            });
        });

    </script>


    <script src="~/Themes/hayat2/js/imageMapper.min.js"></script>

    <script src="~/Themes/hayat2/js/lhome-animate.min.js"></script>

    <script src="~/Themes/hayat2/js/logo.js"></script>
    <script src="~/Themes/hayat2/js/slider.js"></script>
    <script src="~/Themes/hayat2/js/scroll.js"></script>

    <!--angular library-->
    <script src="~/Themes/hayat2/module/app.js"></script>

    <script src="~/Themes/hayat2/module/controllers.js"></script>





</body>

</html>
