<div class="cellDetail">

    <div class="img" ng-repeat="item in images" ng-hide="isComment">
        <img ng-src="{{item.url}}" class="item  animated bounceInLeft {{item.className}}" />

        <div class="pov">
            <i class="fa fa-video-camera"></i>
            <img  ng-src="{{item.pov}}" />
        </div>
      

        <!--<div class="pov">

        </div>-->
    </div>

    <div class="comments animated bounceInLeft" ng-show="isComment">
        <div>
            <header>
                <h3>نام واحد : 1 بلوک A</h3>
                <button class="btn btn-success">مقایسه کن</button>
            </header>
            <div class="body">

                <div class="row">
                    <div class="item col-md-6 col-sm-6 col-xs-12">
                        <div class="prof-comment">
                            <h4>نظرات خبرگان و متخصصین</h4>
                            <ul>
                                <li>
                                    این واحد از نظر کیفیت فضاهای مفید شرایط ایده آلی دارد
                                </li>
                                <li>
                                    این واحد از نظر کیفیت فضاهای مفید شرایط ایده آلی دارد
                                </li>
                                <li>
                                    این واحد از نظر کیفیت فضاهای مفید شرایط ایده آلی دارد
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="item col-md-6 col-sm-6 col-xs-12">
                        <div class="rate">
                            <h4>امتیازهای شما</h4>
                            <ul>
                                <li>
                                    <label>آشپزخونه</label>
                                    <span>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </li>

                                <li>
                                    <label>اتاق خواب</label>
                                    <span>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </li>

                                <li>
                                    <label>سرویس بهداشتی</label>
                                    <span>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </li>

                                <li>
                                    <label>حال و پذیرایی</label>
                                    <span>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </li>

                                <li>
                                    <label>حال و پذیرایی</label>
                                    <span>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </li>

                                <li>
                                    <label>حال و پذیرایی</label>
                                    <span>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </li>

                                <li>
                                    <label>حال و پذیرایی</label>
                                    <span>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </li>


                            </ul>

                            <hr />

                            <form class="register">
                                <div class="col-md-6 col-sm-12">
                                    <input type="text" class="form-control" placeholder="نام و نام خانوادگی" />
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input type="text" class="form-control" placeholder="شماره تماس / ایمیل" />
                                </div>
                                <div class="col-md-12">
                                    <label>نظر خود را بنویسید</label>
                                    <textarea class="form-control" placeholder="نظر شما"></textarea>
                                </div>
                                <button class="btn btn-success">ارسال نظر</button>
                            </form>

                        </div>

                    </div>


                </div>
            </div>

            <div class="user-comment">
                <div class="rate">
                    <h4>امتیازهای کاربر شماره 1</h4>
                    <div class="msg">
                        بدنه ی لپ تاپ با اینکه از پلاستیک هست باید بگم خیلی خوبه و اصلا انتظار چنین کیفیت بالایی رو نداشتم.
                        تو این قیمت رقیب دیگه ای با این مشخصات سخت افزاری حداقل تو دیجی کالا (به تاریخ درج کامنت توجه کنید) موجود نیست.
                        برای کاربری مولتی مدیا شامل فیلم دیدن و گوش دادن به موسیقی این لپ تاپ رو پیشنهاد میدم بلندگو های بسیار خوب و قوی داره که با تکنولوژی Acer TrueHarmony پشتیبانی میشه.
                    </div>
                    <ul>
                        <li>
                            <label>آشپزخونه</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>اتاق خواب</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>سرویس بهداشتی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>حال و پذیرایی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>حال و پذیرایی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>حال و پذیرایی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>حال و پذیرایی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>


                    </ul>

                </div>

                <div class="rate">
                    <h4>امتیازهای کاربر شماره 1</h4>
                    <div class="msg">
                        برای مثال هم میتونم بگم بازی Assassins creed : Syndicate رو میتونیدفقط با پایین ترین تنظیمات گرافیکی به صورت 1920*1080 میتونید اجرا کنید که البته پایین آوردن رزولوشن تصویر هم فرجه زیادی برای استفاده از تنظیمات بهتری به شما نمیده.
                        اگر نگاهی به اجرای بازی های روز دارید باید حداقل لپ تاپ های گیمینگ 4 ملیونی رو بگیرید در غیر اینصورت با حرید لپ تاپ هایی تو این رنج قیمت پول خودتون رو هدر میدید. 
                    </div>
                    <ul>
                        <li>
                            <label>آشپزخونه</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>اتاق خواب</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>سرویس بهداشتی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>حال و پذیرایی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>حال و پذیرایی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>حال و پذیرایی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>حال و پذیرایی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>


                    </ul>

                </div>

                <div class="rate">
                    <h4>امتیازهای کاربر شماره 1</h4>
                    <div class="msg">
                        در نهایت من خرید این محصول رو اگر نمیخواید بیشتر از این خرج کنید پیشنهاد میکنم.
                    </div>
                    <ul>
                        <li>
                            <label>آشپزخونه</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>اتاق خواب</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>سرویس بهداشتی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>حال و پذیرایی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>حال و پذیرایی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>حال و پذیرایی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>حال و پذیرایی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>


                    </ul>

                </div>

                <div class="rate">
                    <h4>امتیازهای کاربر شماره 1</h4>
                    <div class="msg">
                        سلام دوستان من تا قیمت ۹۰ میلیون قصد خرید مزدا نیو کارکرد مدل ۹۰ رو دارم. هر ماشینی رو که میبینم همشون میگن فنی سالم و خودرو بدون خرج و حدود ۱۰۰ هزارتا کارکرده. از دوستان خواهش دارم راهنمایی کنن خرید همچین ماشینی درسته یا اشتباه. لوازم مصرفی و سرویس دوره ای به ه صورته؟
                    </div>
                    <ul>
                        <li>
                            <label>آشپزخونه</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>اتاق خواب</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>سرویس بهداشتی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>حال و پذیرایی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>حال و پذیرایی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>حال و پذیرایی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>

                        <li>
                            <label>حال و پذیرایی</label>
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>


                    </ul>

                </div>
                
            </div>

        </div>
    </div>


    <div class="arrow">
        <div class="right" ng-click="next()">
            <img src="/img/slider/Arrow Black-Right.png" />
        </div>
        <div class="left" ng-click="prev()">
            <img src="/img/slider/Arrow Black-left.png" />
        </div>
    </div>



    <div class="footer">
        <div class="pull-right">
            <div class="share">
                <ul>
                    <li>
                        <i class="fa fa-telegram"></i>
                    </li>

                    <li>
                        <i class="fa fa-twitter"></i>
                    </li>

                    <li>
                        <i class="fa fa-instagram"></i>
                    </li>

                    <li>
                        <i class="fa fa-linkedin"></i>
                    </li>

                    <li>
                        <i class="fa fa-facebook"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pull-left">
            <a ng-repeat="rank in starRank">
                <i class="fa fa-star-o" ng-hide="rank.isActive"></i>
                <i class="fa fa-star" ng-show="rank.isActive"></i>
            </a>

        </div>
    </div>



</div>






