<div class="comments">


    <div class="block">
        <h2>
            ارسال نظر
        </h2>
        <form>
            <input type="text" name="name" ng-model="comment.name" placeholder="نام و نام خانوادگی (اختیاری)" />
            <input type="email"  name="email" ng-model="comment.email" placeholder="ایمیل (ایمیل شما منتشر نخواهد شد.)" />
      
            <textarea  name="name" ng-model="comment.name" placeholder="متن پیام"></textarea>
            <div class="buttons">
                <button ng-click="submitComment(comment)">ارسال</button>
            </div>
        </form>
    </div>


</div>