<div class="block register-block">
    <h2>عضویت</h2>
    <p>
        با وارد کردن ایمیل خود، از انتشار آخرین مقالات مطلع شوید. استودیو هیچ گونه ایمیل تبلیغاتی
        برای شما ارسال نخواهد کرد. همچنین آدرس ایمیل شما محرمانه تلقی شده و منتشر نخواهد شد .
    </p>
    <form>
        <input type="email" placeholder="ایمیل" />
        <div class="buttons">
            <button>ثبت</button>
        </div>
    </form>
</div>