

<div class="outerbox">
    <div class="innerbox">
        <div class="kunstler-text-box">
            <a class="expander" href="#">click me</a>
            <div class="content">
                <p>
                    
                </p>
            </div>
        </div>
        <div class="kunstler-photos-box">
            <img class="kuenstler-photos" src="~/img/11.jpg">
            <img class="kuenstler-photos" src="~/img/11.jpg">
        </div>
    </div>
</div>

