<div class="gtitle-box">
    <div class="gtitle">
        <ul>
            <li>
                <a class="active" href="~/Galerie News.cshtml">Galerie News</a>
            </li>
            <li>
                <a  href="~/Galerie Gesch.cshtml">Galerie Geschichte</a>
            </li>
            <li>
                <a href="">Kunst erleben</a>
            </li>
        </ul>
    </div>
</div>


<div class="outerbox">
    <div class="innerbox">
        <div class="about-text-box">
            <div class="Galery-textbox2">
                <p>Ausstellungen in September und Oktober 2016</p>
            </div>
            <div class="about-text">
                <p>
                    Vom 15. - 18. September präsentieren wir auf der "Position" in Berlin während des "gallery weekend" Alfonso Hüppi und Steffen Schlichter.<br /><br />
                    Vom 27. - 30. Oktober präsentieren wir auf der Art.Fair Köln Vera Leutloff, Steffen Schlichter und Christian Wulffen
                </p>
            </div>
        </div>
        <div class="about-photos-box">
            <img class="about-photos" src="~/img/Kunst-aus-Polen-2.jpg">
        </div>
    </div>
</div>

