    .plan-hover {
        display: none;
    }

    #figur-plan-c {
        border-radius: 20px;
        width: 600px;
        height: 427px;
    }


    #capaRecorte-plan-c {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }

    #imagen-plan-c {
        position: absolute;
        top: 0;
        left: 0;
        cursor: crosshair;
        width: 100%;
        height: 100%;
    }


    #figur-plan-c area {
        display: block;
    }

        #figur-plan-c area:nth-of-type(1):hover ~ #capaRecorte-plan-c {
            clip-path: url(#PC1);
            display: block;
        }

        #figur-plan-c area:nth-of-type(2):hover ~ #capaRecorte-plan-c {
            clip-path: url(#PC2);
            display: block;
        }

        #figur-plan-c area:nth-of-type(3):hover ~ #capaRecorte-plan-c {
            clip-path: url(#PC3);
            display: block;
        }

        #figur-plan-c area:nth-of-type(4):hover ~ #capaRecorte-plan-c {
            display: block;
            clip-path: url(#PC4);
        }

        #figur-plan-c area:nth-of-type(5):hover ~ #capaRecorte-plan-c {
            display: block;
            clip-path: url(#PC5);
        }
