@model IEnumerable<FormFieldValue>

@{
    var form = Model.First().Field.Form;
    ViewBag.Title = "Details Of " +form.Caption;
}

<h2>@ViewBag.title</h2>
<hr />
<table class="table table-bordered table-striped table-hover">

  @foreach (var item in Model)
  {
    <tr>
        <td>
            <h4>@item.Field.Label :</h4>
            <div>
                @*@Html.Partial("Grids/_CellRender", new HCMS.Dynamics.Grids.Models.StandradGridModel { Field = item.Field, DRow = HCMS.Dynamics.Data.DDB.GetTable( })*@
              @Html.Raw(item.Value)
            </div>
        </td>
    </tr>
  }

</table>

<div class="text-left">

    <a class="btn btn-primary" href="~/Manage/Dynamics/@ViewBag.SectionName/@ViewBag.FormName">
     Back To   @ViewBag.FormCaption 
    </a>

</div>