@{
    ViewBag.Title = "Dynamics";
}

<h2 class="text-uppercase">Upload Control</h2>

<div class='uploadcontrol-wrapper'>
    <div class='uploadcontrol'>
        <input type='file' />
        <div class='buttons'>
            <a class='btn btn-success submit-file'>
                <i class='glyphicon glyphicon-ok'></i>
                تایید فایل
            </a>
            <a class='btn btn-default refresh-file'>
                <i class='glyphicon glyphicon-refresh'></i>
                انتخاب فایل دیگر
            </a>
        </div>
    </div>
</div>

