src/*
!src/HCMS.sln
!src/HCMS.Business
!src/HCMS.Data
!src/HCMS.Dynamics
!src/HCMS.Security
!src/HCMS.Web

src/packages/*
src/*/obj/*
src/*/obj/Debug/
src/HCMS.Web/Files/*
src/HCMS.Web/Themes/*
src/HCMS.Web/App_Data/*
src/HCMS.Web/Plugins/*

*.cache
src/*/bin/*
src/*/bin/Release/*
src/*/Log/*

*.mp4
*.ogv
*.mpeg
*.flv
*.ts
*.mp3
*.mkv
*.avi
*.3gp
*.webm
*.rar
*.zip
debug.log