
<div id="brands" class="ltr" data-bg-src="/Themes/gostarhost/img/brands-bg.jpg">
    <div class="container">
        <div class="row brands-slider reset-margin">
            <div class="col-md-12">
                <div class="extra-bg">
                    <img src="/Themes/gostarhost/img/01.png" alt="01" class="img-responsive">
                </div>
            </div>
            <div class="col-md-12">
                <div class="extra-bg">
                    <img src="/Themes/gostarhost/img/02.png" alt="02" class="img-responsive">
                </div>
            </div>
            <div class="col-md-12">
                <div class="extra-bg">
                    <img src="/Themes/gostarhost/img/03.png" alt="03" class="img-responsive">
                </div>
            </div>
            <div class="col-md-12">
                <div class="extra-bg">
                    <img src="/Themes/gostarhost/img/04.png" alt="04" class="img-responsive">
                </div>
            </div>
            <div class="col-md-12">
                <div class="extra-bg">
                    <img src="/Themes/gostarhost/img/05.png" alt="05" class="img-responsive">
                </div>
            </div>
            <div class="col-md-12">
                <div class="extra-bg">
                    <img src="/Themes/gostarhost/img/06.png" alt="06" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
