<section id="offer" class="post-204 " data-bg-src="">
    <div class="container">
        <div class="row content">

            <div class="col-md-6 col-md-offset-3 right-content">
                <form action="#" method="post" id="domainSearchForm">
                    <div class="row reset-gutter">

                        <div class="col-sm-3">
                            <button class="btn btn-primary" type="submit">
                                جست و جو
                            </button>
                        </div>
                        <div class="col-sm-3 select-box">
                            <select class="form-control ltr" name="tld">
                                <option value=".com">
                                    .com
                                </option>
                                <option value=".net">
                                    .net
                                </option>
                                <option value=".org">
                                    .org
                                </option>
                                <option value=".info">
                                    .info
                                </option>
                                <option value=".us">
                                    .us
                                </option>
                                <option value=".eu">
                                    .eu
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control" dir="auto" name="sld" type="text" placeholder="دامنه مورد نظر خود را وارد کنید ..." required>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
