<div id="features" class="post-1850 " data-bg-src="">
    <div class="container">
        <div class="section-title">
            <h2>
                چرا گستر هاست ؟
            </h2>
        </div>
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 feature-item">
                <div class="feature-item-icon hc-margin">
                    <i class="fa fa-desktop">
                    </i>
                </div>
                <div class="feature-item-content">
                    <h4>
                        مانیتورینگ
                    </h4>
                    <p>
                        مشاهده میزان مصرف منابع سرویس ها
                    </p>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 feature-item">
                <div class="feature-item-icon hc-margin">
                    <i class="fa fa-dashboard">
                    </i>
                </div>
                <div class="feature-item-content">
                    <h4>
                        بهینه سازی وبسایت
                    </h4>
                    <p>
                        کاهش حجم صفحات سایت و افرایش سرعت بارگذاری وبسایت
                    </p>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 feature-item">
                <div class="feature-item-icon hc-margin">
                    <i class="fa fa-bug">
                    </i>
                </div>
                <div class="feature-item-content">
                    <h4>
                        رفع باگ
                    </h4>
                    <p>
                        ارائه خدمات رفع باگ برای سایت ها
                    </p>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 feature-item">
                <div class="feature-item-icon hc-margin">
                    <i class="fa fa-headphones">
                    </i>
                </div>
                <div class="feature-item-content">
                    <h4>
                        مرکز آموزش
                    </h4>
                    <p>
                        آموزش و فایل های راهنما برای تنظیمات سرور و هاست
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
