<div id="footer">

    <div class="container">

        <div class="row">

            <div class="col-sm-6 footer-widget">

                <div class="footer-about">

                    <h4>
                        درباره ما
                    </h4>

                    <p>
                        گسترهاست از سال 1389 فعالیت خود را بطور رسمی آغاز نموده است وهمواره سعی بر آن دارد تا بهترین خدمات را با نازلترین قیمت در اختیار مشتریان خود قراردهد.
                    </p>



                </div>

            </div>
            <div class="col-sm-3 footer-widget">

                <h4>
                    لینک ها
                </h4>
                <div class="menu-company-container">

                    <ul id="menu-company-1" class="menu">

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1700">
                            <a href="http://support.gostarhost.net/clientarea.php">
                                ناحیه کاربری
                            </a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1821">
                            <a href="http://support.gostarhost.net/clientarea.php?action=invoices">
                               صورت حساب ها
                            </a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1822">
                            <a href="http://support.gostarhost.net/clientarea.php?action=services">
                               سرویس های من
                            </a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1703">
                            <a href="http://support.gostarhost.net/clientarea.php?action=domains">
                              دامنه های من
                            </a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1704">
                            <a href="http://support.gostarhost.net/cart.php">
                                سفارش جدید
                            </a>
                        </li>

                    </ul>

                </div>

            </div>
            <div class="col-sm-3 footer-widget">

                <h4>
                    سرویس های مکمل
                </h4>
                <div class="menu-add-on-services-container">

                    <ul id="menu-add-on-services" class="menu">

                        <li id="menu-item-1705" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1705">
                            <a href="#">
                                فضای پشتیبان گیری
                            </a>
                        </li>

                        <li id="menu-item-1826" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1826">
                            <a href="#">
                                لایسنس ویندوز
                            </a>
                        </li>

                        <li id="menu-item-1827" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1827">
                            <a href="#">
                                لایسنس آنتی ویروس ها
                            </a>
                        </li>

                        <li id="menu-item-1708" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1708">
                            <a href="#">
                                لایسنس cpanel / plesk
                            </a>
                        </li>

                        <li id="menu-item-1829" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1829">
                            <a href="#">
                                Migrations / Transfers
                            </a>
                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </div>


</div>

<div class="contact-info">

    <div class="container">

        <div class="row">

            <!-- Contact Info Item Start -->

            <div class="col-md-3 col-xs-6">

                <i class="fa fa-headphones">
                </i>

                <a href="#">
                    پشتیبانی
                    24/7
                </a>

            </div>

            <!-- Contact Info Item End -->
            <!-- Contact Info Item Start -->

            <div class="col-md-3 col-xs-6 ltr">

                <i class="fa fa-envelope-o">
                </i>

                <a href="#">
                    <span>
                        support@gostarhost.net
                    </span>
                </a>

            </div>

            <!-- Contact Info Item End -->
            <!-- Contact Info Item Start -->
            <!-- Contact Info Item End -->
            <!-- Contact Info Item Start -->

            <div class="col-md-3 col-xs-6  ltr">

                <i class="fa fa-phone">
                </i>

                <a href="#">
                    +98 912 056 4439
                </a>

            </div>

            <!-- Contact Info Item End -->

        </div>

    </div>

</div>

<!-- Footer Area End -->
<!-- Copyright Area Start -->

<div id="copyright">

    <div class="container">


        <p class="left">
            2017 © <a href="http://gostarhost.ir">
                GostarHost.net
            </a>

        </p>

        <p class="right">
            <img src="/Themes/gostarhost/img/payment-methods.png" alt="payment methods">
        </p>


    </div>

</div>