<div id="vpsPricing" class="post-1795 " data-bg-src="/Themes/gostarhost/img/slider-bg-1.jpg">

    <div class="container">

        <div class="section-title">
            <h2>
                سرور مجازی خود را انتخاب کنید
            </h2>
        </div>
        <!-- VPS Slider Start -->

        <div class="vps-slider-holder">

            <div class="vps-ruler" data-bg-src="/Themes/gostarhost/img/ruler.png">
            </div>

            <div id="vpsSlider">
            </div>

        </div>

        <!-- VPS Slider End -->

        <div class="row">

            <!-- VPS Slider Item Start -->

            <div class="col-sm-2 col-xs-6 vps-item-feature">
                <span class="vps-item-feature-name">
                    پردازنده
                </span>
                <span class="vps-item-feature-value vps-item-cpu">
                </span>
            </div>
            <div class="col-sm-2 col-xs-6 vps-item-feature">
                <span class="vps-item-feature-name">
                    رم
                </span>
                <span class="vps-item-feature-value vps-item-cpu">
                </span>
            </div>
            <div class="col-sm-2 col-xs-6 vps-item-feature">
                <span class="vps-item-feature-name">
                    هارد
                </span>
                <span class="vps-item-feature-value vps-item-cpu">
                </span>
            </div>
            <div class="col-sm-2 col-xs-6 vps-item-feature">
                <span class="vps-item-feature-name">
                    پهنای باند
                </span>
                <span class="vps-item-feature-value vps-item-cpu">
                </span>
            </div>
            <div class="col-sm-2 col-xs-6 vps-item-feature">
                <span class="vps-item-feature-name">
                    راه اندازی
                </span>
                <span class="vps-item-feature-value vps-item-cpu">
                </span>
            </div>
            <div class="col-sm-2 col-xs-6 vps-item-feature">
                <span class="vps-item-feature-name">
                    تعداد IP
                </span>
                <span class="vps-item-feature-value vps-item-cpu">
                </span>
            </div>

        </div>

        <!-- VPS Slider Price Tag Start -->

        <div class="vps-total-price">
            <span>
                تومان
            </span>
            <em>
            </em>
        </div>

        <!-- VPS Slider Price Tag End -->

        <div class="action">


            <a href="#" class="order-link btn btn-lg btn-custom-reverse">
                ثبت
            </a>
            <a href="#" class="deatils-link btn btn-lg btn-custom">
                مشاهده
            </a>

        </div>

    </div>

</div>
