
<div class="lhome-animate">

    <article class="box item1">
        <div class="left">
            <img src="../../../img/25-01.jpg" />

        </div>
        <div class="right">

            <div class="details">

                <h2>معرفی ابتکار سازه</h2>
                <p>

                    شرکت مدیریت پروژه های سرمایه گذاری ابتکارسازه ایرانیان یکی از شرکت های کارآمد و اثربخش در صنعت ساختمان ایران می باشد که با بهره گیری از تیمی جوان ،متخصص و با انگیزه و به کارگیری نوآوری ، تکنولوژی ، دانش جدید و همچنین مصالح و متریال مرغوب مساحتی بالغ بر 85 هزار متر مربع در زمینه توسعه و ساخت پروژه های مسکونی و اداری از سال 1388 تا به حال تجربه کرده است و محصول نهایی شرکت تحت نام تجاری حیات به بازار مسکن عرضه می گردد. آینده پژوهی و تحلیل اقتصادی ،انتخاب بازار هدف ،شناخت نیازهای مشتریان و تمرکز بر خلق ارزش برای گروه مخاطبان از جمله مواردی است که موجبات موفقیت ابتکارسازه را در این راه پرفراز و نشیب فراهم آورده است و در یک بازه کوتاه مسیر طولانی را پیموده است . چاشنی شیرین رضایت مخاطبان از نحوه خدمات رسانی و کیفیت قابل لمس محصول نهایی را با تخصص و تجربه ای که در این راه به لطف همراهانمان به دست آورده ایم ترکیبی بسیار انگیزاننده را برای ادامه تلاش و ارزش آفرینی در راستای ارتقای کیفیت زندگی مشتریان برای ما ایجاد کرده است.
                </p>

                <a href="http://www.ebtekarsazeiranian.com/" target="_blank">
                    سایت ابتکار سازه
                </a>
                <!--<a class="btn btn-success" href="#!/about">ادامه مطلب</a>-->
            </div>
        </div>

    </article>

    <article class="box item2">
        <div class="left">
            <img src="../../../img/team/photo_2017-12-16_01-29-07.jpg" />

        </div>
        <div class="right">

            <div class="details">

                <h2>مدیریت ابتکار سازه</h2>

                <p>
                    تیم مدیریت ابتکار سازه شامل ...
                </p>

                <a class="btn btn-success" href="#!/team">ادامه مطلب</a>
            </div>
        </div>

    </article>


    <article class="box item3">
        <div class="left">
            <img src="../../../img/25-01.jpg" />

        </div>
        <div class="right">

            <div class="details">

                <h2>همکاران اصلی</h2>
                <p>
                    همکاران اصلی شامل
                    <ul>
                        <li>مدیر فنی</li>
                        <li>مدیر بازرگانی</li>
                        <li>مدیر داخلی</li>
                        <li>معماران</li>
                    </ul>
                </p>

                <a class="btn btn-success" href="#!/hamkaran">ادامه مطلب</a>
            </div>
        </div>

    </article>


</div>
