@{

    var phrases = (HCMS.Dynamics.Localization.Phrases)ViewBag.Phrases;
    var cc = phrases.CurrentCulture.CultureName();
    
    
    var page = HCMS.Dynamics.Data.DDB.GetTable("theme", "pages").DRows
        .Where(p => p.GetValue("Language.name").Value.ToLower() == phrases.CurrentCulture.LanguageNameAbbr.ToLower())
        .FirstOrDefault(p => p.GetValue("name").Value.ToLower() == "about");
}
@if (page != null)
{
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-page">

                    @Html.Raw(page.GetValue("Content"))

                </div>
            </div>
        </div>
    </div>
}

