@{

    Layout = null;
}

<nav>
    <ul>

        <li>
            <a href="/">
                خانه
            </a>
        </li>

        <li>
            <a href="/panel">
                زبان آموزان
            </a>
        </li>
     




        <li>
            <a href="/courses">
                دوره ها
            </a>
        </li>
        <li>
            <a href="#footer">
                تماس
            </a>
        </li>

        @*<li>
            <a href="#">
                دبیران
            </a>
        </li>

        <li>
            <a href="/terms">
                مقررات
            </a>
        </li>*@

    </ul>

</nav>