
<div id="courses" class="courses content-box">
    <div class="container">

        <h1>
            دوره های زبان آموزی
        </h1>
        <h2>
            در مرکز زبان مهر آیین
        </h2>
        <div class="text pull-right">

            <div class="course">
                <h3>
                    ایلتس : international english language testing system
                </h3>
                <p>
                    سیستم بین المللی ارزیابی زبان انگلیسی که اولین بارتوسط دانشگاه کمبریج ایجاد و برگزار شد و توانایی داوطلب را در در چهار موضوع اصلی مکالمه شنوایی  خواندن و نوشتن به چالش میکشد .
                </p>
            </div>

            <div class="course">
                <h3>
                    تافل
                </h3>
                <p>
                    ازمون ورودی اغلب دانشگاه های امریکا و کانادا که مهارت داوطلب را در گرامر دایره لغات خواندن و صحبت کردن می‌سنجد لازم به ذکر است که مکالمه تافل یک طرفه بوده و داوطلب صرفا به مجموعه سوالات مشخصی پاسخ میدهد
                </p>
            </div>

            <div class="course">
                <h3>
                    GRE
                </h3>
                <p>
                    به جرات سنگین ترین ارزیابی دایره لغات برگزار شده خاص دانشگاه های بزرگ امریکا از جمله هاروارد و ام ای تی میباشد
                </p>
            </div>

            <div class="course">
                <h3>
                    مکالمه عادی
                </h3>
                <p>
                    ایجاد توانایی مکالمات  عادی روزمره در سیستمی هدفمند بسیار مناسب مسافرت به کشورهای خارجی
                </p>
            </div>

            <div class="course">
                <h3>
                    تقویتی
                </h3>
                <p>
                    امورش نکات تستی کنکوری و اموزشی کلیه سطوح دبیرستان و دانشگاه از جمله ازمون ورودی دکتری
                </p>
            </div>


            <div class="course">
                <h3>
                    مکالمه فشرده
                </h3>
                <p>
                    توانایی مکالمه در هرج شرایطی آموزش انواع نامه و خواندن متون در مدت تنها 8 الی 12 ماه
                </p>
            </div>

            <div class="course">
                <h3>
                    دوره اموزش فیلم
                </h3>
                <p>
                    اموزش لهجه آمریکن در غالب فیلم و صحبت و مکالمه درباره موضوع فیلم
                </p>
            </div>
        </div>
        <div class="pic pull-left">

            <img src="~/Themes/bestmehr.ir/img/courses.png" />
        </div>

        <div class="clear"></div>

    </div>
</div>