@{
    //var journals = HCMS.Dynamics.Data.DDB.GetTable("cms", "journal").DRows.OrderByDescending(p => p.RowID).Take(10);
    //var fileTypes = HCMS.Dynamics.Data.DDB.GetTable("cms", "FileTypes").DRows.ToArray();
    //var files = HCMS.Dynamics.Data.DDB.GetTable("cms", "files").DRows.ToArray();
    //var photo_gallery = HCMS.Dynamics.Data.DDB.GetTable("cms", "Photo_Gallery").DRows;
    //var videos = HCMS.Dynamics.Data.DDB.GetTable("cms", "video").DRows.OrderByDescending(p => p.RowID);
    //var news = HCMS.Dynamics.Data.DDB.GetTable("cms", "news").DRows.OrderByDescending(p => p.RowID);
    //var pages = HCMS.Dynamics.Data.DDB.GetTable("cms", "page").DRows.OrderByDescending(p => p.RowID);
    //var settings = HCMS.Dynamics.Data.DDB.GetTable("cms", "settings").DRows.OrderByDescending(p => p.RowID);
    if (Request.QueryString["emailConfirm"] != null)
    {
        Response.Redirect("/panel");
    }
}
<div class="container">

    <div class="content-box">
        <div class="text">
            <h1>
                در مرکز زبان مهر آیین
            </h1>
            <p>

                کلیه مدرسان بر اساس تکنیک های آیلتس و سی ای اف تدریس میکنند و مکالمه روان شما در سیستم آموزشی تضمین شده است .
                ما طیف وسیعی از کتاب ها و آزمون های داخلی و خارجی زبان را پوشش میدهیم .

            </p>
        </div>
        <div class="pic">

            <img src="~/Themes/bestmehr.ir/img/page1-img1.png" />
        </div>

    </div>
</div>

<div class="reason-box">
    <div class="container">

        <h1>
            4 دلیل برای شروع یادگیری زبان
        </h1>
        <div class="box">
            <h2>
                باهوش‌تر می‌شوید
            </h2>
            <p>
                تحصیل زبان دوم، حافظه شما را بهبود داده و توجه شما را افزایش می‌دهد. فرایند دو زبانه شدن، مغز شما را ورزش میدهد و شما را برای تمرکز و تقویت مهارت حل مسأله به چالش می‌کشد.
            </p>
        </div>
        <div class="box">
            <h2>
                کارفرما از مهارت شما خوشش می آید
            </h2>
            <p>
                اگر مسلط به زبان دوم باشید، احتمال استخدامتان در شرایط اقتصادی امروزه بسیار بیشتر از افرادی می‌شود که تنها با یک زبان صحبت می‌کنند.

            </p>
        </div>
        @*<div class="box">
                <h2>
                    آشنایی با افراد جدید
                </h2>
                <p>
                    یکی از مهمترین فواید یادگیری زبان جدید، درهایی از دنیای دیگر است که به رویتان باز می‌شود. اگر به صورت گروهی زبان یاد بگیرید، بلافاصله با دوستان جدیدی آشنا می‌شوید که در یادگیری زبان جدید با آنها اشتراک دارید. اگر گروهی کار نمی‌کنید، همین که به فضایی که مردم به آن زبان صحبت می‌کنند، بروید و بتوانید چیزهایی را که یاد گرفته اید، استفاده کنید، می‌بینید ‌مردم چقدر از شما استقبال می‌کنند.
                </p>
            </div>*@


        <div class="box">
            <h2>
                مهارتی عالی برای مسافرت
            </h2>
            <p>
                دانستن بیش از یک زبان، امکان مسافرت به مکان‌های مختلف را برای شما فراهم می آورد. مسافرت به کشورهای خارجی در صورتی که زبان مردم آن کشور را بلد باشید، آسانتر می‌شود. لازم نیست حتما روان صحبت کنید. مردم محلی همه جا، از این که حداقل زمان گذاشته و تلاش کرده اید تا زبان آنها را یاد بگیرید و با آنها ارتباط برقرار کنید، خوشحال می‌شوند. این احترام شما را نشان می‌دهد و راه ساده‌ای برای آشنایی با افراد جدید است.
            </p>
        </div>

        <div class="box">
            <h2>
                افزایش اعتماد به نفس
            </h2>
            <p>
                با یادگیری زبان دوم، به خود یاد می‌دهید که می‌توانید و باید به خود اعتماد کنید. اعتماد به نفس با یادگیری مهارت جدید، غالب می‌شود. یادگیری زبان خارجی نیز یک مهارت است؛ بنابراین، اعتماد به نفس شما را بالا می‌برد. واقعیت این است که افراد با اعتماد به نفس، جذاب‌تر از افرادی هستند که به خود اطمینان ندارند. تکنیک‌هایی که برای یادگیری زبان دوم استفاده می‌کنید، منجر به پذیرا و باز‌تر شدن ذهن می‌شود.
            </p>
        </div>


    </div>

</div>
<div class="container">

    <div class="content-box">
        <div class="text pull-left">
            <h1>
                مهر آیین پیش رو در آموزش زبان
            </h1>
            <h2>
                در مرکز زبان مهر آیین
            </h2>
            <p>

                کلیه مدرسان بر اساس تکنیک های آیلتس و سی ای اف تدریس میکنند و مکالمه روان شما در سیستم آموزشی تضمین شده است .
                ما طیف وسیعی از کتاب ها و آزمون های داخلی و خارجی زبان را پوشش میدهیم .

            </p>
        </div>
        <div class="pic pull-right">

            <img src="~/Themes/bestmehr.ir/img/page1-img2.png" />
        </div>
        <div class="clear"></div>

    </div>
</div>

<div class="emailcourse">
    <div class="container">

        <div class="box">

            <h1>
                ثبت نام در خبرنامه آموزش مجازی (رایگان)
            </h1>
            <h3>
                آموزش های صوتی و تصویری در زمینه های مکالمه , گرامر , کلمات و تکنینک های آزمون های بین الملی مانند آیلتس به صورت ایمیل برای شما ارسال خواهد شد
            </h3>
            <form>

                <a href="/panel" class="btn">
                    ثبت نام
                </a>

            </form>

        </div>

    </div>

</div>