@{ 
    if (User.Identity.IsAuthenticated && User.IsInRole("user"))
    {
        Response.Redirect("/");
    }
}

<section class="page page-login" id="login">
    <div class="inner">
        <div class="alert alert-info">
            برای پر کردن فرم رزرو بازدید باید در سایت ثبت نام کنید.
        </div>
        <div class="login-form">
            <h2>ورود به اکانت</h2>
            <form method="post" id="login-form" action="/fa-ir/manage/Auth/Login">

                @Html.AntiForgeryToken()


                <input type="hidden" name="isAjax" value="true" />
                <input type="hidden" name="ReturnUrl" value="/" />

                <div id="err" class="alert alert-danger" style="display:none;">

                </div>


                <div class="input-field">
                    <label>
                        آدرس ایمیل
                    </label> <input name="UserName" type="text" placeholder="ایمیل " />
                </div>

                <div class="input-field">
                    <label>رمز عبور</label> <input name="password" type="password" />
                </div>
                <div class="input-field captcha-field">
                    <img src="~/manage/Captcha/msdn?prefix=_login" id="captcha-image" />
                    <input class="captcha" autocomplete="off" required type="text" name="captcha" placeholder="کد امنیتی را وارد کنید ..." />
                </div>
                <div class="input-field">
                    @*<input type="submit" value="تایید" />*@
                    <input type="button" id="submit" value="تایید" />
                </div>
                <div class="clearfix"></div>
                <div class="links" style="text-align:center;">


                    @*<a id="fgpassword"> فراموشی رمز عبور ؟</a>

                    <a id="confirmPassword"> فعال سازی اکانت</a>*@

                    <a href="/#signup"> ایجاد حساب کاربری</a>

                </div>
                @*<div class="links">
                    </div>*@


            </form>
        </div>



    </div>

</section>

@section scripts{

    <script>
        $('#captcha-image').attr('src', 'manage/Captcha/msdn?prefix=_login&guid=' + Date.now());
        $(document).on('click', '#submit', function () {
            var model = {};
            model.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
            model.captcha_guid = $('input[name="captcha_guid"]').val();
            model.isAjax = true;

            model.Email = $('input[name="UserName"]').val();
            model.UserName = $('input[name="UserName"]').val();
            model.password = $('input[name="password"]').val();
            model.ConfirmPassword = $('input[name="ConfirmPassword"]').val();
            model.captcha = $('input[name="captcha"]').val();
            model.captcha_guid = $('#captcha-image').attr('src').split('guid=')[1];

            $.ajax({
                type: 'POST',
                url: '/fa-ir/manage/Auth/Login',
                data: model
            }).success(function (res) {
                $('#captcha-image').attr('src', 'manage/Captcha/msdn?prefix=_login&guid=' + Date.now());
                // hideLoader();
                if (res.length > 0) {
                    $('#err').css('display', 'block');
                    var html = '<ul><li>' + res + '</li></ul>';
                    $('#err').html(res);
                } else {
                    $('#err').css('display', 'none');
                    location.href = "/";
                }
            }).error(function (err) {
                $('#err').css('display', 'block');
                $('#err').html("خطای ورود");
                $('#captcha-image').attr('src', 'manage/Captcha/msdn?prefix=_login&guid=' + Date.now());
                console.log(err);
            })
        })

    </script>


}

