@{
    if (User.Identity.IsAuthenticated && User.IsInRole("user"))
    {
        Response.Redirect("/");
    }
}



<section id="login" class="page page-login cscroll noSwipe">

    <div class="inner">
        <div class="alert alert-info">
            برای پر کردن فرم رزرو بازدید باید در سایت <a href="/#signup">ثبت نام</a> کنید.
        </div>
        <form class="login-form">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <input type="hidden" name="isAjax" value="true" />
            <input type="hidden" name="ReturnUrl" value="/" />

            <h2 class="title" data-aos="fade-down">
                ورود به حساب کاربری
            </h2>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>
                        شماره همراه
                        <i class="fa fa-mobile-phone"></i>
                    </label>
                    <input required name="UserName" is-not-persian-checked class="form-control" type="text" 
                           placeholder="شماره همراه" />
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>
                        <i class="fa fa-key"></i>
                        رمز عبور
                    </label>
                    <input required name="password" is-not-persian-checked class="form-control" type="password" placeholder="رمز عبور" />
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group captcha-field">
                    <img src="~/manage/Captcha/msdn?prefix=_login" id="captcha-image" />
                    <input class="captcha form-control" autocomplete="off" required type="number" name="captcha" placeholder="کد امنیتی را وارد کنید ..." />
                </div>
            </div>

            <button class="hayatbtn full-width" type="button" id="submit">
                ورود
            </button>

            @*<div>
                <div class="loader"></div>

            </div>*@

            <div class="col-md-12 text-center">


                <a href="#" class="hayatbtn">
                    فراموشی رمز عبور
                </a>
                <a href="/#signup" class="hayatbtn">
                    ایجاد حساب کاربری
                </a>
                @*<div class="text-center">
                        <a class="txt1" href="#">
                            فراموشی رمز عبور
                        </a>
                    </div>

                    <div class="text-center">
                        <a class="txt1" href="/#signup">
                            ایجاد حساب کاربری
                        </a>
                    </div>*@
            </div>

            <br />
            <br />
            <br />
        </form>
    </div>



</section>




@section scripts{

    <script>
        $('#captcha-image').attr('src', 'manage/Captcha/msdn?prefix=_login&guid=' + Date.now());
        $(document).on('click', '#submit', function () {
            var model = {};
            model.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
            model.captcha_guid = $('input[name="captcha_guid"]').val();
            model.isAjax = true;
            model.ReturnUrl = "/";

            model.Email = $('input[name="UserName"]').val();
            model.UserName = $('input[name="UserName"]').val();
            model.password = $('input[name="password"]').val();
            model.captcha = $('input[name="captcha"]').val();
            model.captcha_guid = $('#captcha-image').attr('src').split('guid=')[1];
            console.log(model);
            $.ajax({
                type: 'POST',
                url: '/fa-ir/manage/Auth/Login',
                data: model
            }).done(function (res) {
                console.log(res);
                $('#captcha-image').attr('src', 'manage/Captcha/msdn?prefix=_login&guid=' + Date.now());
                // hideLoader();
                var html = '';
                if (res.length > 0) {
                    $.each(res, function (index, item) {
                        html += item + "/";
                    })
                    swal("", html, "error");
                } else {
                    location.href = "/";
                }
            }).fail(function (err) {
                console.log(err)
                swal("", "خطای ورود", "error");
                $('#captcha-image').attr('src', 'manage/Captcha/msdn?prefix=_login&guid=' + Date.now());
            })
        })

    </script>


}

