@using System.Web.Script.Serialization;
@using HCMS.Dynamics.Data
@{
    var gallery = DDB.GetTable("cms", "gallery").DRows;
    var block = DDB.GetTable("cms", "blocks").DRows;
    int i = 0;

    List<object> _data = new List<object>();
    foreach (var item in block)
        {
            foreach (var image in gallery.Where(a => a.GetValue("blockId").ToString() == item.RowID.ToString()))
            {
                i++;
                var _src = image.GetValue("image").Value;
                var _type = "jpg";
                if (_src.Contains(".jpg"))
                {
                    _src = image.GetValue("image").Value.Split(new[] { ".jpg" }, StringSplitOptions.None)[0];
                }
                else
                {
                    _src = image.GetValue("image").Value.Split(new[] { ".png" }, StringSplitOptions.None)[0];
                    _type = "png";
                }
                _data.Add(new
                {
                    id = i,
                    link = '#',
                    src = _src,
                    type = _type
                });
            }

            JavaScriptSerializer ser = new JavaScriptSerializer();

            string json = ser.Serialize(_data);

            //write string to file
            System.IO.File.WriteAllText(Request.MapPath("~/themes/hayat2/gallery-" + item.GetValue("name").Value + ".json"), json);
        }

        ViewBag.title = "گالری";

        Layout = null;

    }

<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="گالری حیات نو - عکس ها - تصاویر طبقات">
    <meta name="Keywords" content="گالری، حیات نو، عکس ها، تصاویر">

    <meta name="author" content="HappySpider">
    <meta name="robots" content="nofollow">
    @*<meta name="alexaVerifyID" content="zrJoKU2oucs-J6KcPl7fTZY_f-Q" />
        <meta name="p:domain_verify" content="cc32b168bb374202b716b1056442e601" />*@
    <meta property="title" content="گالری حیات نو - عکس ها - تصاویر طبقات">
    <meta property="site_name" content="hayat-no">
    <meta property="url" content="http://hayat-no.com/gallery">
    <meta property="description" content="گالری حیات نو - عکس ها - تصاویر طبقات">
    <meta property="type" content="gallery">
    
    <link href="~/Themes/hayat2/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Themes/hayat2/module/Jquery-FullGallery/css/style.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    <link href="~/Themes/hayat2/module/Jquery-FullGallery/css/normalize.css" rel="stylesheet" />

    <script src="~/Packages/jquery-3.2.1/jquery-3.2.1.min.js"></script>

    

</head>
<body>
    <div class="spinner">
        <img src="~/Themes/hayat2/module/Jquery-FullGallery/img/loader.gif" alt="loader" />
    </div>
    <div class="container">
        <div class="gallery">

            @*<a href="/" class="homelogo" title="بازگشت به صفحه اصلی" rel="external">
                <img src="~/Themes/hayat2/img/logo/Hayate no Logo white.png">
            </a>*@

            <div class="top-nav">
                <div data-item="Blocka" class="item">
                    <label>
                        بلوک A
                    </label>
                </div>
                <div data-item="Blockb" class="item">
                    <label>
                        بلوک B
                    </label>
                </div>
                <div data-item="Blockc" class="item">
                    <label>
                        بلوک C
                    </label>
                </div>
                <div data-item="Blockm" class="item">
                    <label>
                        مشاعات
                    </label>
                </div>

                <div class="item pull-left hidden-mobile">
                    <label>
                        <a href="/" title="بازگشت به صفحه اصلی" >
                            بازگشت به صفحه اصلی
                        </a>
                    </label>
                </div>

                <a href="/" title="بازگشت به صفحه اصلی" class="item pull-left show-mobile">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </a>
            </div>

            <div class="gallery__view">
                <div class="gallery__thumbs-wrapper">
                    <button class="scroll__btn left__btn">
                        <img src="~/Themes/hayat2/module/Jquery-FullGallery/img/left-button.png" width="25px" height="45px" alt="left" />
                    </button>
                    <button class="scroll__btn right__btn">
                        <img src="~/Themes/hayat2/module/Jquery-FullGallery/img/right-button.png" width="25px" height="45px" alt="right" />
                    </button>

                    <div class="gallery__thumbs">
                        <!-- Rendering thumbs with jQuery-->
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="~/Themes/hayat2/module/Jquery-FullGallery/js/app.js"></script>
</body>
</html>