
@using HCMS.Dynamics.Data
@{
    var gallery = DDB.GetTable("cms", "gallery").DRows;

    ViewBag.title = "گالری";
int i =0;

}

<section id="gallery" class="page gallery">
    <div class="container">
        <div class="row">
            @foreach(var item in gallery)
            {
            i++;
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img class="thumnail" data-item="@i" src="@item.GetValue("image")" />
            </div>
            }
           
        </div>

        <div class="full-image">
            <i class="fa fa-close"></i>

            <i class="fa fa-chevron-left" id="prev" aria-hidden="true"></i>

            <i class="fa fa-chevron-right" id="next"></i>

            <div class="preview">
                <img src="" data-item="" />
            </div>

            <!--<div class="thum">
                <ul>
                    <li>
                        <a>
                            <img src="~/Themes/hayat2/img/my-slider/3.jpg" />
                        </a>
                    </li>

                    <li>
                        <a>
                            <img src="~/Themes/hayat2/img/my-slider/3.jpg" />
                        </a>
                    </li>

                    <li>
                        <a>
                            <img src="~/Themes/hayat2/img/my-slider/3.jpg" />
                        </a>
                    </li>

                    <li>
                        <a>
                            <img src="~/Themes/hayat2/img/my-slider/3.jpg" />
                        </a>
                    </li>
                </ul>
            </div>-->

        </div>
    </div>
</section>



