
@using HCMS.Dynamics.Data
@{
    var gallery = DDB.GetTable("cms", "gallery").DRows;
    var block = DDB.GetTable("cms", "blocks").DRows;

    ViewBag.title = "گالری";
    int i = 0;

    Layout = null;

}

<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">


    <link href="~/Themes/hayat2/module/Jquery-FullGallery/css/style.css" rel="stylesheet" />
    <link href="~/Themes/hayat2/module/Jquery-FullGallery/css/normalize.css" rel="stylesheet" />

    <script src="~/Packages/jquery-3.2.1/jquery-3.2.1.min.js"></script>

    <script src="~/Themes/hayat2/module/Jquery-FullGallery/js/app.js"></script>

</head>
<body>
    <div class="spinner">
        <img src="~/Themes/hayat2/module/Jquery-FullGallery/img/loader.gif" alt="loader" />
    </div>
    <div class="container">
        <div class="gallery">

            <div class="gallery__view">
                <div class="gallery__thumbs-wrapper">
                    <button class="scroll__btn left__btn">
                        <img src="~/Themes/hayat2/module/Jquery-FullGallery/img/left-button.png" width="25px" height="45px" alt="left" />
                    </button>
                    <button class="scroll__btn right__btn">
                        <img src="~/Themes/hayat2/module/Jquery-FullGallery/img/right-button.png" width="25px" height="45px" alt="right" />
                    </button>

                    <div class="gallery__thumbs">
                        <!-- Rendering thumbs with jQuery-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>