<div class="reserve-box">

    <div class="reserve-box-header">
        <div class="date">
            <label>یکشنبه, تیر ۱۰ ۱۳۹۷</label>
        </div>
        <div class="full-desc">ظرفیت تکمیل شده است </div>
        <div class="sign">
            <i class="fa fa-chevron-down"></i>
        </div>
    </div>
    <div class="reserve-box-body">
        <div class="child">
            <table>
                <thead>
                    <tr>
                        <th>ساعت</th>
                        <th>ظرفیت</th>
                        <th>باقیمانده</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>undefined</td>
                        <td>10:00</td>
                        <td>4</td>
                        <td>
                            <button class="hayatbtn">رزرو</button>
                        </td>
                    </tr>
                    <tr class="disabled">
                        <td>10 - 12</td>
                        <td>4</td>
                        <td>0</td>
                        <td><button class="hayatbtn" disabled="disabled">ظرفیت تکمیل</button></td>
                    </tr>
                    <tr><td>undefined</td><td>12:00</td><td>4</td><td><button class="hayatbtn">رزرو</button></td></tr>
                    <tr class="disabled"><td>10 - 12</td><td>4</td><td>0</td><td><button class="hayatbtn" disabled="disabled">ظرفیت تکمیل</button></td></tr>
                    <tr><td>undefined</td><td>16:00</td><td>4</td><td><button class="hayatbtn">رزرو</button></td></tr>
                    <tr class="disabled"><td>10 - 12</td><td>4</td><td>0</td><td><button class="hayatbtn" disabled="disabled">ظرفیت تکمیل</button></td></tr>
                    <tr><td>undefined</td><td>18:00</td><td>4</td><td><button class="hayatbtn">رزرو</button></td></tr>
                    <tr class="disabled"><td>10 - 12</td><td>4</td><td>0</td><td><button class="hayatbtn" disabled="disabled">ظرفیت تکمیل</button></td></tr>
                    <tr><td>undefined</td><td>null</td><td>0</td><td><button class="hayatbtn">رزرو</button></td></tr>
                    <tr class="disabled"><td>10 - 12</td><td>4</td><td>0</td><td><button class="hayatbtn" disabled="disabled">ظرفیت تکمیل</button></td></tr>
                    <tr><td>undefined</td><td>null</td><td>0</td><td><button class="hayatbtn">رزرو</button></td></tr>
                    <tr class="disabled"><td>10 - 12</td><td>4</td><td>0</td><td><button class="hayatbtn" disabled="disabled">ظرفیت تکمیل</button></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="reserve-box"><div class="reserve-box-header"><div class="date"><label>دوشنبه, تیر ۱۱ ۱۳۹۷</label></div><div class="full-desc">ظرفیت تکمیل شده است </div><div class="sign"><i class="fa fa-chevron-down"></i></div></div><div class="reserve-box-body"><div class="child"><table><thead><tr><th>ساعت</th><th>ظرفیت</th><th>باقیمانده</th><th></th> </tr></thead><tbody><tr><td>undefined</td><td>10:00</td><td>4</td><td><button class="hayatbtn">رزرو</button></td></tr><tr class="disabled"><td>10 - 12</td><td>4</td><td>0</td><td><button class="hayatbtn" disabled="disabled">ظرفیت تکمیل</button></td></tr><tr><td>undefined</td><td>12:00</td><td>3</td><td><button class="hayatbtn">رزرو</button></td></tr><tr class="disabled"><td>10 - 12</td><td>4</td><td>0</td><td><button class="hayatbtn" disabled="disabled">ظرفیت تکمیل</button></td></tr><tr><td>undefined</td><td>null</td><td>0</td><td><button class="hayatbtn">رزرو</button></td></tr><tr class="disabled"><td>10 - 12</td><td>4</td><td>0</td><td><button class="hayatbtn" disabled="disabled">ظرفیت تکمیل</button></td></tr><tr><td>undefined</td><td>null</td><td>0</td><td><button class="hayatbtn">رزرو</button></td></tr><tr class="disabled"><td>10 - 12</td><td>4</td><td>0</td><td><button class="hayatbtn" disabled="disabled">ظرفیت تکمیل</button></td></tr><tr><td>undefined</td><td>null</td><td>0</td><td><button class="hayatbtn">رزرو</button></td></tr><tr class="disabled"><td>10 - 12</td><td>4</td><td>0</td><td><button class="hayatbtn" disabled="disabled">ظرفیت تکمیل</button></td></tr><tr><td>undefined</td><td>null</td><td>0</td><td><button class="hayatbtn">رزرو</button></td></tr><tr class="disabled"><td>10 - 12</td><td>4</td><td>0</td><td><button class="hayatbtn" disabled="disabled">ظرفیت تکمیل</button></td></tr></tbody></table></div></div></div>