<!DOCTYPE html>
<html lang="fa" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>حیات نو | {{title}}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
    <link href="favicon.ico" rel="shortcut icon">

    <!-- Google Fonts -->

    <!-- Bootstrap CSS File -->
    <link href="~/Themes/hayat2/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Themes/hayat2/lib/bootstrap-rtl/css/bootstrap-rtl.min.css" rel="stylesheet" />


    <!-- Libraries CSS Files -->
    <link href="~/Themes/hayat2/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Themes/hayat2/lib/animate-css/animate.min.css" rel="stylesheet">
    <!-- Main Stylesheet File -->
    <link href="~/Themes/hayat2/css/style.css" rel="stylesheet">

  
    <link href="~/Themes/hayat2/lib/aos/aos.css" rel="stylesheet" />
    <link href="~/Themes/hayat2/css/logo.min.css" rel="stylesheet" />


    <link href="~/Themes/hayat2/css/hayat.min.css" rel="stylesheet" />
    <link href="~/Themes/hayat2/css/my-slider.min.css" rel="stylesheet" />
  
</head>

<body>

    <div id="loader">

    </div>

    <!--<div class="logobox">
    </div>-->


    <section id="slider" ng-controller="sliderCtrl" class="section secActive" data-id="1">

        <img class="main" ng-src="{{mainImage}}" />
        <div class="my-slider">
            <ul>
                <li ng-repeat="item in images" ng-class="item.className">
                    <img ng-src="{{item.url}}" alt="1" title="" />
                </li>

            </ul>
        </div>


        <ul class="page">
            <li>
                <a href="" class="ws_selbull">
                    <img src="~/Themes/hayat2/img/slider/numbers/Nomber right.png" />
                </a>
            </li>
            <li class="one">
                <a href="">
                    <img src="~/Themes/hayat2/img/slider/numbers/Nomber 1.png" />
                </a>
            </li>
            <li class="active">
                <a href="">
                    <img src="~/Themes/hayat2/img/slider/numbers/Nomber 2.png" />
                </a>
            </li>
            <li>
                <a href="">
                    <img src="~/Themes/hayat2/img/slider/numbers/Nomber 3.png" />
                </a>
            </li>
            <li>
                <a href="">
                    <img src="~/Themes/hayat2/img/slider/numbers/Nomber 4.png" />
                </a>
            </li>
            <li>
                <a href="">
                    <img src="~/Themes/hayat2/img/slider/numbers/Nomber-Left.png" />
                </a>
            </li>
        </ul>


        <img class="chat-logo" src="~/Themes/hayat2/img/chat-logo/Chat Icon-Syan.png" />

        <div class="row">
            <div class="pull-left ebtekar-logo">
                <img src="~/Themes/hayat2/img/logo/Ebtekar Saze Samle Logo.png" />
            </div>
            <div class="pull-right">

                <div class="top">
                    <ul>
                        <li>
                            <span>
                                رزرو بازدید
                            </span>
                            <i class="fa fa-calendar"></i>
                        </li>

                        <li>
                            <span class="ltr email">
                                info@hayat-no.com
                            </span>
                            <i class="fa fa-envelope"></i>
                        </li>


                        <li>
                            <span class="ltr phone">
                                021 2290 4055
                            </span>
                            <i class="fa fa-phone-square"></i>
                        </li>
                    </ul>
                </div>


            </div>
        </div>

        <header id="header">
            <div class="line"></div>
            <div class="menu-icon">

            </div>
            <div class="container">

                <div class="search-bar">
                    <i class="fa fa-search" onclick="toggleSearchBar()"></i>


                    <input class="form-control" placeholder="طبقه را وارد کنید" />
                    <select class="form-control">
                        <option>تعداد اتاق را انتخاب کنید</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>

                    <select class="form-control">
                        <option>متراژ </option>
                        <option>80 - 100</option>
                        <option>100 - 120</option>
                        <option>120 - 140</option>
                        <option>140 - 180</option>
                    </select>

                </div>

                <!--<img src="~/Themes/hayat2/img/Icon 02.png" />-->
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active">
                            <a href="#!/hayat">حیات</a>

                            <div class="child-menu">
                                برند چیست؟
                                برند نام تجاری، لوگوی شرکت و یا محصول و خدمات یک سازمان نیست!
                                برند به صورت عمومی تعریف یا تصویری از هویت یک محصول، خدمت (سرویس)، سازمان و یا شرکت است که در طول زمان در ذهن مصرف‌کننده، کاربر یا مخاطب رسوب می‌کند. این ذهنیت شامل احساس، قضاوت‌ و تعریف مخاطب از میزان کیفیت ارائه‌شده‌، ماهیت، روحیه و شخصیت برند است.

                            </div>

                        </li>
                        <li>
                            <a href="#!/hayatNo">حیات نو</a>
                            <div class="child-menu">
                                چرا برند؟
                                هدف ساخت برند به عنوان یک هویت مستقل، متمایزسازی یک محصول یا خدمت از سایر رقبای برند است.
                                متمایزسازی برگ برنده‌ی افزایش فروش و موفقیت در بازار پرتنوع امروزِ ماست.
                                اهمیت ساخت برند در دنیای امروز بر دو اصل ساده اما اساسیِ یک معادله‌ی معکوس استوار است:
                                •  کاهش زمان تصمیم‌گیری مخاطب برای خرید یا بهره‌مندی از خدمات
                                •  افزایش گسترده‌ی تعداد رقبا در بازار پرماجرای امروزی
                            </div>
                        </li>
                        <li>
                            <a href="#services">اخبار</a>
                            <div class="child-menu">
                                چرا برند؟
                                هدف ساخت برند به عنوان یک هویت مستقل، متمایزسازی یک محصول یا خدمت از سایر رقبای برند است.
                                متمایزسازی برگ برنده‌ی افزایش فروش و موفقیت در بازار پرتنوع امروزِ ماست.
                                اهمیت ساخت برند در دنیای امروز بر دو اصل ساده اما اساسیِ یک معادله‌ی معکوس استوار است:
                                •  کاهش زمان تصمیم‌گیری مخاطب برای خرید یا بهره‌مندی از خدمات
                                •  افزایش گسترده‌ی تعداد رقبا در بازار پرماجرای امروزی
                            </div>
                        </li>
                        <!--<li><a href="#subscribe">همراهان</a></li>-->
                        <li><a href="#!/cell/cellDetail">گالری</a></li>
                        <li><a href="#testimonials">اپلیکیشن حیات</a></li>
                        <!--<li><a href="#contact">ثبت نام</a></li>-->
                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </header>

        <div class="show-mobile">
            <div class="menu-icon ">
            </div>
        </div>


        <div class="mobile-menu">

            <i class="fa fa-close"></i>

            <ul class="nav-menu">
                <li class="menu-active">
                    <a href="#!/hayat">حیات</a>
                </li>
                <li><a href="#!/hayatNo">حیات نو</a></li>
                <li><a href="#services">ویدیوهای معرفی</a></li>
                <li><a href="#portfolio">همراهان</a></li>
                <li><a href="#!/cell/cellDetail">گالری</a></li>
                <li><a href="#testimonials">اپلیکیشن حیات</a></li>
                <li><a href="#contact">ثبت نام</a></li>
            </ul>

        </div>


        <div class="right-icons">
            <ul>
                <li class="gallery">
                    <span>گالری</span>
                    <i class="fa fa-image"></i>
                    <div class="descrp">
                        شما می توانید از تصاویر و ویدوهای وقایع و اخبار حیات
                        استفاده کنید
                    </div>
                </li>
                <li class="catalog">
                    <span>کاتالوگ</span>
                    <i class="fa fa-newspaper-o"></i>
                    <div class="descrp">

                        <ul>
                            <li>
                                <a href="../../../img/pdf/ازگل_کاتالوگ.pdf" download>
                                    کاتالوگ فنی
                                </a>
                            </li>
                            <li>
                                <a href="" download>
                                    کاتالوگ واحد های بر اساس متراژ
                                </a>
                            </li>
                            <li>
                                <a href="" download>
                                    کاتالوگ واحد ها بر اساس طبقه
                                </a>
                            </li>
                            <li>
                                <a href="" download>
                                    کاتالوگ واحد ها بر اساس ویو
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="register">
                    <span>ثبت نام</span>
                    <i class="fa fa-user"></i>
                    <div class="descrp">
                      برای بازدید از تمام بخش های اصلی وب سایت
                        <a href="#contact">ثبت نام</a> کنید. این سایت و شرکت ابتکار سازه
                        محافظ حریم شخصی شماست.
                    </div>
                </li>

                <li class="location">
                    <span>موقعیت</span>
                    <i class="fa fa-map-marker"></i>
                    <div class="descrp">
                      تهران - ازگل - <a href="#portfolio">برج حیات</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="left-icons">
            <ul>
                <li>
                    <i class="fa fa-telegram"></i>
                </li>
                <li>
                    <i class="fa fa-facebook"></i>
                </li>
                <li>
                    <i class="fa fa-instagram"></i>
                </li>
                <li>
                    <i class="fa fa-twitter"></i>
                </li>
                <li>
                    <i class="fa fa-linkedin"></i>
                </li>

            </ul>
        </div>

        <div class="logo-hayat-no">
            <img src="~/Themes/hayat2/img/logo/Hayate no Logo white.png" />
            <img src="~/Themes/hayat2/img/logo/Hayate no Logo black.png" class="back" />
            <h4>تکست روز یا سوتیتر برای تصویر</h4>
            <h5>سوتیتر برای تصویر، سوتیتر برای تصویر، سوتیتر برای تصویر</h5>
        </div>


    </section>

    <section class="show-other-page-menu">


        <div class="ebtekar-logo">
            <img src="~/Themes/hayat2/img/logo/Ebtekar Saze Samle Logo.png" />
        </div>

        <div class="top">
            <ul>
                <li data-aos="fade-right" data-aos-delay="1000">
                    <span>
                        رزرو بازدید
                    </span>
                    <i class="fa fa-calendar"></i>
                </li>

                <li data-aos="fade-right" data-aos-delay="500">
                    <span class="ltr email">
                        info@hayat-no.com
                    </span>
                    <i class="fa fa-envelope"></i>
                </li>


                <li data-aos="fade-right" data-aos-delay="100">
                    <span class="ltr phone">
                        021 2290 4055
                    </span>
                    <i class="fa fa-phone-square"></i>
                </li>
            </ul>
        </div>


        <a href="#!/" id="gotoMainPage">
            <div class="logo-hayat-no">
                
                <img src="~/Themes/hayat2/img/logo/Hayate no Logo black.png" />
                <!--<img ng-show="!blackActive" src="~/Themes/hayat2/img/logo/Hayate no Logo white.png" />-->
            </div>
        </a>


        <img class="chat-logo" src="~/Themes/hayat2/img/chat-logo/Chat Icon-Syan.png" />

    </section>

    <div class="container main">
        <ng-view></ng-view>

    </div>

    <!--==========================
    Porfolio Section
    ============================-->
    <section id="portfolio" class="hidden section" style="margin:0 80px;" data-id="2">
        <div class="wow ">
            <div class="row">
                <div class="col-md-12">
                    <div id="map" style="height: 600px; width: 100%;">
                    </div>
                    <div class="tabs">
                        <ul>
                            <li style="background-color:green;">مراکز خرید</li>
                            <li style="background-color:cyan;">مراکز درمانی</li>
                            <li style="background-color:greenyellow;">میوه و تره بار</li>
                            <li style="background-color:yellow;" id="tabs-bred">نانوایی</li>
                            <li style="background-color:blue;">کارواش</li>
                            <li style="background-color:red;">فروشگاه شهروند</li>
                            <li style="background-color:orange;">فست فودها</li>
                            <li style="background-color:aliceblue;" id="tabs-rest">رستوران ها</li>
                            <li style="background-color:rebeccapurple;">کترینگ</li>
                            <li style="background-color:peru;">مداری</li>
                            <li style="background-color:mistyrose;">مراکز دولتی</li>
                            <li style="background-color:saddlebrown;">آموزشگاه ها</li>
                            <li style="background-color:salmon;">حمل و نقل عمومی</li>
                            <li style="background-color:paleturquoise;">تاسیسات</li>
                        </ul>

                    </div>

                </div>
            </div>


        </div>
    </section>


    <!--==========================
    Contact Section
    ============================-->
    <section id="contact" class="hidden register">
        <div class="container wow ">
            <div class="row">
                <div class="col-md-12">
                    <!--<p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>-->
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">



                    <div class="form">

                        <h5 class="section-title">فرم ثبت نام خریدار</h5>
                        <div class="section-title-divider"></div>

                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">

                            <div class="row">

                                <div class="col-md-6">
                                    <select class="form-control">
                                        <option>بازدید</option>
                                        <option>مذاکره</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="نام شما" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="نام خانوادگی شما" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="آدرس پست الکترونیکی" data-rule="email" data-msg="Please enter a valid email" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label>
                                        <i class="fa fa-phone"></i>
                                        شماره همراه
                                    </label>
                                    <br />

                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="phone" id="email" placeholder="شماره همراه" data-rule="email" data-msg="Please enter a valid phone" />
                                            <div class="validation"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" dir="ltr" value="+98" disabled="disabled" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    </div>
                                    <div class="col-md-5" style="padding:0;">
                                        <select class="form-control">
                                            <option>ایران</option>
                                        </select>
                                    </div>


                                </div>
                                <label>محل سکونت فعلی</label>

                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>کشور</label>
                                        <select class="form-control">
                                            <option>ایران</option>
                                        </select>
                                    </div>

                                    <div class="col-md-4">
                                        <label>استان / ایالت</label>
                                        <select class="form-control">
                                            <option>تهران</option>
                                        </select>
                                    </div>

                                    <div class="col-md-4">
                                        <label>شهر</label>
                                        <select class="form-control">
                                            <option>تهران</option>
                                            <option>اسلامشهر</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>منطقه</label>

                                        <select class="form-control">
                                            <option>ناحیه 1</option>
                                            <option>ناحیه 2</option>
                                        </select>
                                    </div>

                                </div>


                            </div>

                            <div class="text-center">
                                <button class="btn btn-success" type="submit">ثبت نام</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-6" style="border-right: 3px solid #03C4EB;">

                    <div class="form">
                        <h5 class="section-title">فرم ثبت نام همکاری</h5>
                        <div class="section-title-divider"></div>
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">

                            <div class="row">

                                <div class="col-md-6">
                                    <select class="form-control">
                                        <option>نوع همکاری</option>
                                        <option>استخدام</option>
                                        <option>همراهان (تامین کنندگان و پیمانکاران)</option>
                                        <option>سرمایه گذاران</option>
                                      
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="نام شما" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="نام خانوادگی شما" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="آدرس پست الکترونیکی" data-rule="email" data-msg="Please enter a valid email" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label>
                                        <i class="fa fa-phone"></i>
                                        شماره همراه
                                    </label>
                                    <br />

                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="phone" id="email" placeholder="شماره همراه" data-rule="email" data-msg="Please enter a valid phone" />
                                            <div class="validation"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="text" dir="ltr" value="+98" disabled="disabled" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    </div>
                                    <div class="col-md-5" style="padding:0;">
                                        <select class="form-control">
                                            <option>ایران</option>
                                        </select>
                                    </div>


                                </div>
                            </div>

                            <div class="text-center"><button class="btn btn-success" type="submit">ثبت نام</button></div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer" class="hidden">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        &copy; تمامی حقوق برای شرکت <strong>ابتکار سازه</strong> محفوظ می باشد
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- #footer -->



    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>




    <!--angularJs-->
    <script src="~/Themes/hayat2/Scripts/angular.min.js"></script>
    <script src="~/Themes/hayat2/Scripts/angular-route.min.js"></script>

    <!-- Required JavaScript Libraries -->
    <script src="~/Themes/hayat2/lib/jquery/jquery.min.js"></script>
    <script src="~/Themes/hayat2/lib/jquery/3.1.1/jquery3-1-1.js"></script>
    <script src="~/Themes/hayat2/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Themes/hayat2/lib/superfish/hoverIntent.js"></script>
    <script src="~/Themes/hayat2/lib/superfish/superfish.min.js"></script>
    <script src="~/Themes/hayat2/lib/morphext/morphext.min.js"></script>
    <script src="~/Themes/hayat2/lib/wow/wow.js"></script>
    <script src="~/Themes/hayat2/lib/stickyjs/sticky.js"></script>
    <script src="~/Themes/hayat2/lib/easing/easing.js"></script>

    <!-- Template Specisifc Custom Javascript File -->
    <script src="~/Themes/hayat2/js/custom.js"></script>



    <script src="~/Themes/hayat2/lib/aos/aos.js"></script>
    <!--scroll animate-->
    <!--<script src="node_modules/scroll-animated/js/css3-animate-it.js"></script>-->

    <script src="~/Themes/hayat2/lib/underscore/underscore-min.js"></script>
    <script src="~/Themes/hayat2/lib/async/async.min.js"></script>


    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1YnR95LCRaznjcExHiMVSS6mt8GJXiks&callback=initMap">

    </script>

    <script>

        var map;

        function initMap() {
            var uluru = { lat: 35.789581, lng: 51.495528 };
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }


        $(document).on('click', '#tabs-rest', function () {
            //رستوران
            var points = [
                 {
                     position: new google.maps.LatLng(35.788718, 51.497732),
                     title: 'رستوران نوبهار',
                 }, {
                     position: new google.maps.LatLng(35.788688, 51.496523),
                     title: 'کترینگ عارف',
                 }, {
                     position: new google.maps.LatLng(35.790298, 51.495021),
                     title: 'بامزی فست فود',
                 }
            ];
            // Create markers.
            points.forEach(function (point) {
                var marker = new google.maps.Marker({
                    position: point.position,
                    title: point.title,
                    //icon: icons[feature.type].icon,
                    map: map
                });
            });
        });

        $(document).on('click', '#tabs-bred', function () {
            //نانوایی
            var points = [
                {
                    position: new google.maps.LatLng(35.790198, 51.495022),
                    title: 'نانوایی سنگکی',
                }
            ];
            // Create markers.
            points.forEach(function (point) {
                var marker = new google.maps.Marker({
                    position: point.position,
                    title: point.title,
                    //icon: icons[feature.type].icon,
                    map: map
                });
            });
        });
    </script>


    <script src="~/Themes/hayat2/js/imageMapper.min.js"></script>

    <script>
        var nVer = navigator.appVersion;
        var nAgt = navigator.userAgent;
        var browserName = navigator.appName;
        var fullVersion = '' + parseFloat(navigator.appVersion);
        var majorVersion = parseInt(navigator.appVersion, 10);
        var nameOffset, verOffset, ix;

        // In Opera 15+, the true version is after "OPR/"
        if ((verOffset = nAgt.indexOf("OPR/")) != -1) {
            browserName = "Opera";
            fullVersion = nAgt.substring(verOffset + 4);
        }
            // In older Opera, the true version is after "Opera" or after "Version"
        else if ((verOffset = nAgt.indexOf("Opera")) != -1) {
            browserName = "Opera";
            fullVersion = nAgt.substring(verOffset + 6);
            if ((verOffset = nAgt.indexOf("Version")) != -1)
                fullVersion = nAgt.substring(verOffset + 8);
        }
            // In MSIE, the true version is after "MSIE" in userAgent
        else if ((verOffset = nAgt.indexOf("MSIE")) != -1) {
            browserName = "Microsoft Internet Explorer";
            fullVersion = nAgt.substring(verOffset + 5);
        }
            // In Chrome, the true version is after "Chrome"
        else if ((verOffset = nAgt.indexOf("Chrome")) != -1) {
            browserName = "Chrome";
            fullVersion = nAgt.substring(verOffset + 7);
        }
            // In Safari, the true version is after "Safari" or after "Version"
        else if ((verOffset = nAgt.indexOf("Safari")) != -1) {
            browserName = "Safari";
            fullVersion = nAgt.substring(verOffset + 7);
            if ((verOffset = nAgt.indexOf("Version")) != -1)
                fullVersion = nAgt.substring(verOffset + 8);
        }
            // In Firefox, the true version is after "Firefox"
        else if ((verOffset = nAgt.indexOf("Firefox")) != -1) {
            browserName = "Firefox";
            fullVersion = nAgt.substring(verOffset + 8);
        }
            // In most other browsers, "name/version" is at the end of userAgent
        else if ((nameOffset = nAgt.lastIndexOf(' ') + 1) <
                  (verOffset = nAgt.lastIndexOf('/'))) {
            browserName = nAgt.substring(nameOffset, verOffset);
            fullVersion = nAgt.substring(verOffset + 1);
            if (browserName.toLowerCase() == browserName.toUpperCase()) {
                browserName = navigator.appName;
            }
        }
        if (browserName != "Firefox" && browserName != "Chrome")
            alert("لطفا از یکی از مرورگرهای گوگل کروم و یا فایر فاکس استفاده کنید")
        console.log(browserName);
        // trim the fullVersion string at semicolon/space if present
        //if ((ix=fullVersion.indexOf(";"))!=-1)
        //    fullVersion=fullVersion.substring(0,ix);
        //if ((ix=fullVersion.indexOf(" "))!=-1)
        //    fullVersion=fullVersion.substring(0,ix);

        //majorVersion = parseInt(''+fullVersion,10);
        //if (isNaN(majorVersion)) {
        //    fullVersion  = ''+parseFloat(navigator.appVersion);
        //    majorVersion = parseInt(navigator.appVersion,10);
        //}

        //document.write(''
        // +'Browser name  = '+browserName+'<br>'
        // +'Full version  = '+fullVersion+'<br>'
        // +'Major version = '+majorVersion+'<br>'
        // +'navigator.appName = '+navigator.appName+'<br>'
        // +'navigator.userAgent = '+navigator.userAgent+'<br>')
    </script>

    <script>

    

        //hadi2
        AOS.init({
            offset: 200,
            duration: 1000,
            easing: 'fade-right',
            delay: 20,
            once: true,
        });

        var scollFirst = 0;


        //$(window).scroll(function () {
        //    var top = $(this).scrollTop();

        //    var count = $(document).find('.section').length;
        //    var activeSec = parseInt($('.section.secActive').attr('data-id'));
        //    $('.section.secActive').removeClass('secActive');
        //    console.log(top);
        //    if (!isNaN(activeSec) && scollFirst > 100)
        //        if (top > scollFirst) {
        //            if (activeSec > count)
        //                activeSec = 1;
        //            else
        //                activeSec += 1;
        //            console.log(activeSec);

        //            var nextSecId = $('.section[data-id=' + activeSec + ']').attr('id');

        //            $('.section[data-id=' + activeSec + ']').addClass('secActive');
        //            if ($('.section[data-id=' + activeSec + ']').hasClass('secActive'))
        //                $('html, body').animate({
        //                    scrollTop: $("#" + nextSecId).offset().top
        //                }, 2000);

        //            //window.location = "#" + nextSecId;
        //        } else {
        //            // console.log(top);
        //        }

        //    scollFirst = top;
        //})



        $(document).ready(function () {

            $(window).scrollTop(0);


            $('[data-toggle="popover"]').popover();
            setTimeout(function () {
                $('.logo').css('display', 'none');
            }, 8000);

            $('.page .item').click(function () {
                alert();
                $('.page li').removeClass('active');
                $(this).addClass('active');
            })

            //goto main page
            //$(document).on('click', '#gotoMainPage', function () {
            //    console.log('hadi');
            //    window.location = "/";
            //    window.location.reload();
            //})

            //toggle mobile menu
            $(document).on('click', '.mobile-menu .fa', function () {
                $('.mobile-menu').removeClass('open');
            })

            $(document).on('click', '.show-mobile  .menu-icon', function () {
                $('.mobile-menu').addClass('open');
            });

        })



        $(function () {

            $('header .toggle,header nav .exit').click(function () {

                $('header nav').toggleClass('open');

            });

            $(document).on('click', '#slider .numbers li', function () {

                $('#slider .numbers li').removeClass('active');
                $(this).addClass('active');


                var slideNo = $(this).index() + 1;
                $('#slider .slide[data-number=' + slideNo + ']').trigger('click');
                clearInterval(sliderInterval);


            });


            var sliderInterval = 0;
            setTimeout(function () {

                //$('.logobox,.logoboxR').addClass('loaded');

                setTimeout(function () {
                    $('#loader').fadeOut(500, function () {
                        setTimeout(function () {
                            $('#slider > .slides > .slide').last().addClass('load');
                            sliderInterval = setInterval(function () {

                                var slideNo = parseInt($('#slider > .slides > .slide.load').attr('data-number'));
                                var nextSlide = slideNo + 1;

                                if (nextSlide == 5)
                                    nextSlide = 1;

                                $('#slider > .slides > .slide[data-number="' + nextSlide + '"]').trigger('click');


                            }, 5000);
                        }, 500);
                    });
                }, 500);
            }, 100);


            $(document).on('click', '#slider .slide', function () {

                $('#slider .numbers li').removeClass('active');

                var slide = $(this);
                $('#slider .slide').removeClass('load');
                slide.appendTo($('#slider .slides'));
                var thisSlideNo = parseInt(slide.attr('data-number'));

                parseInt(slide.attr('data-number'))

                $('#slider .numbers li:eq(' + (thisSlideNo - 1) + ')').addClass('active');

                var prevSlideNo = thisSlideNo - 1;
                if (prevSlideNo == 0)
                    prevSlideNo = 4;

                var prevSlide = $('#slider > .slides > .slide[data-number="' + prevSlideNo + '"]');
                setTimeout(function () {

                    slide.addClass('load');

                }, 300);


                prevSlide.addClass('out');

                setTimeout(function () {

                    prevSlide.removeClass('out');

                }, 3000);



            });

            var logoBoxSelect = ".logobox";
            var logoBox = $(logoBoxSelect).html('');

            for (var i = 1; i <= 50; i++) {
                logoBox.append('<div class="o' + i + ' start"></div>');
            }


            function doLogoAnim(reverse) {

                logoBox = $(logoBoxSelect);

                var transforms = [
                    [2, { height: 45 }],
                    [3, { height: 10 }],
                    [4, { height: 28 }],
                    [5, { width: 27 }],
                    [6, { width: 78 }],
                    [7, { width: 57.5 }],
                    [10, { height: 44 }],
                    [11, { width: 22.5 }],
                    [12, { width: 78 }],
                    [13, { width: 40 }],
                    [9, { height: 10 }],
                    [8, { height: 10 }],
                    [17, { width: 42 }, ],
                    [16, { height: 45 }, ],
                    [15, { width: 26 }, ],
                    [14, { height: 55 }, ],
                    [18, { height: 10 }, ],
                    [19, { height: 90 }],
                    [20, { height: 70 }],
                    [21, { height: 140 }],
                    [22, { height: 133 }, 300],
                    [23, { width: 198 }, 300],
                    [24, { height: 144 }, 300],
                    [25, { width: 154 }, 300],
                    [26, { width: 50 }, 300],
                    [27, { width: 88 }, 300],
                    [30, { width: 43 }, 100],
                    [28, { width: 102 }, 100],
                    [29, { width: 35 }, 100],
                    [31, { width: 71 }, 100]
                ];

                if (reverse)
                    transforms = transforms.reverse();



                var transformSeries = [];

                transforms.forEach(function (item) {

                    var reverseDuration = 500;

                    if (reverse)
                        if ([23, 24, 29, 15, 16, 14].indexOf(item[0]) != -1)
                            return;

                    var resFn = function (callback) {

                        if (reverse) {

                            if (item[1].width)
                                item[1].width = 0;

                            if (item[1].height)
                                item[1].height = 0;


                            var mainDuration = reverseDuration;
                            if ([22, 25, 31].indexOf(item[0]) != -1)
                                mainDuration = reverseDuration / 2;

                            if ([17].indexOf(item[0]) != -1)
                                mainDuration = reverseDuration / 4;

                            $('.o' + item[0], logoBox).animate(item[1], mainDuration, function () {


                                if (item[0] == 22)
                                    $('.o23', logoBox).animate({ width: 0 }, reverseDuration / 2);


                                if (item[0] == 25)
                                    $('.o24', logoBox).animate({ height: 0 }, reverseDuration / 2);


                                if (item[0] == 31)
                                    $('.o29', logoBox).animate({ width: 0 }, reverseDuration / 2);


                                if (item[0] == 17)
                                    $('.o16', logoBox).animate({ height: 0 }, reverseDuration / 4, function () {
                                        $('.o15', logoBox).animate({ width: 0 }, reverseDuration / 4, function () {
                                            $('.o14', logoBox).animate({ height: 0 }, reverseDuration / 4, function () {

                                            });
                                        });
                                    });
                                callback(null, item);



                            });


                        } else {

                            $('.o' + item[0], logoBox).animate(item[1], item[2] || 200, function () {
                                callback(null, item);

                            });

                        }


                    }

                    transformSeries.push(resFn);

                });

                $('> div', logoBox).removeClass('start');

                if (reverse) {

                    async.parallel(transformSeries, function () {

                        setTimeout(function () {
                            $('.logobox').addClass('solid');
                        }, 3000);


                    });

                } else
                    async.series(transformSeries,
                            function (err, results) {

                                setTimeout(function () {

                                    var logoBoxR = $('.logoboxR');
                                    logoBoxR = $($('<div class="logoboxR done loaded"></div>').append(logoBox.html()));
                                    logoBox.parent().append(logoBoxR);
                                    logoBoxSelect = '.logoboxR';

                                    var toReversPos = {
                                        "o20": ["bottom", "left"],
                                        "o22": ["bottom", "left"],
                                        "o23": ["bottom", "left"],
                                        "o17": ["top", "right"],
                                        "o16": ["bottom", "left"],
                                        "o15": ["bottom", "left"],
                                        "o14": ["top", "left"],

                                        // "o24": ["top", "left"],
                                        // "o25": ["top", "right"]
                                    };

                                    _.each(_.keys(toReversPos), function (key) {

                                        var ro = toReversPos[key];
                                        var o = $('div.' + key, logoBoxR);

                                        if (ro.indexOf("bottom") != -1)
                                            o.css("top", o.css("top")).css("bottom", "unset");

                                        if (ro.indexOf("top") != -1)
                                            o.css("bottom", o.css("bottom")).css("top", "unset");

                                        if (ro.indexOf("left") != -1)
                                            o.css("right", o.css("right")).css("left", "unset");

                                        if (ro.indexOf("right") != -1)
                                            o.css("left", o.css("left")).css("right", "unset");

                                    });


                                    setTimeout(function () {
                                        doLogoAnim(true);
                                    }, 5000);

                                }, 3000);


                            });
            };

            setTimeout(function () {

                doLogoAnim(false);

            }, 1000);


        });


    </script>


    <script src="~/Themes/hayat2/js/lhome-animate.min.js"></script>

    <!--angular library-->
    <script src="~/Themes/hayat2/module/app.js"></script>

    <script src="~/Themes/hayat2/module/controllers.js"></script>


</body>

</html>
