<div class="about">
    <div class="background">
    </div>

    <div class="detail animated  bounceInDown">
     
        <h2>
            درباره دکتر احمد ترک نژاد
        </h2>
        <p>
            اولین ساختمان حیات در سال 1387 الی 1388 ساخته شدو پس از آن حیات های دیگر یکی پس از دیگری ساخته شدند و در حال حاضر حیات نو خاص ترین پروژه در منطقه آماده تحویل می باشد و حیات نیاوران در مرحله اجرای اسکلت است
            اولین ساختمان حیات در سال 1387 الی 1388 ساخته شدو پس از آن حیات های دیگر یکی پس از دیگری ساخته شدند و در حال حاضر حیات نو خاص ترین پروژه در منطقه آماده تحویل می باشد و حیات نیاوران در مرحله اجرای اسکلت است
            اولین ساختمان حیات در سال 1387 الی 1388 ساخته شدو پس از آن حیات های دیگر یکی پس از دیگری ساخته شدند و در حال حاضر حیات نو خاص ترین پروژه در منطقه آماده تحویل می باشد و حیات نیاوران در مرحله اجرای اسکلت است
        </p>

        <a href="http://www.ahmadtorknezhad.com" target="_blank">سایت دکتر ترک نژاد</a>
    </div>

</div>