@model HCMS.Dynamics.Tools.MailTemplate
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="box-bordered">

    <form method="post">
        <div class="form-group">
            Name :
            <div>
                @Html.TextBoxFor(p => p.Name)
            </div>
        </div>
           <div class="form-group">
            Template :
            <div>
                @Html.TextAreaFor(p => p.Template)
            </div>
        </div>

        <input type="submit" value="Save" />
    </form>


</div>