section.page-login .inner,
section.page-register .inner {
  padding-top: 140px;
  max-width: 600px;
  width: auto;
  margin: 0 auto;
}
section.page-login form,
section.page-register form {
  background: #f1f1f1;
  box-sizing: border-box;
  padding: 20px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
section.page-login form .input-field,
section.page-register form .input-field {
  margin: 0 0 10px 0;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
section.page-login form .input-field label,
section.page-register form .input-field label {
  width: 35%;
  text-align: left;
  float: right;
  vertical-align: top;
  line-height: 30px;
  padding: 0 0 0 10px;
  margin: 0;
  box-sizing: border-box;
}
section.page-login form .input-field input,
section.page-register form .input-field input,
section.page-login form .input-field select,
section.page-register form .input-field select {
  height: 30px;
  float: right;
  width: 65%;
  vertical-align: top;
  padding: 0 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
section.page-login form .input-field input[type=submit],
section.page-register form .input-field input[type=submit] {
  width: 100%;
  border-radius: 5px;
  float: left;
}
section.page-login form .input-field input[type=email],
section.page-register form .input-field input[type=email],
section.page-login form .input-field input[type=password],
section.page-register form .input-field input[type=password] {
  text-align: left;
  font-size: 12px;
  direction: ltr;
}
section.page-login form .captcha-field,
section.page-register form .captcha-field {
  text-align: center;
}
section.page-login form .captcha-field img,
section.page-register form .captcha-field img {
  border: 1px solid #ccc;
  border-bottom: none;
}
section.page-login form .captcha-field input,
section.page-register form .captcha-field input {
  float: none;
  text-align: center;
}
section.page-login form .links,
section.page-register form .links {
  text-align: center;
  line-height: 40px;
}
section.page-login form .links a,
section.page-register form .links a {
  background: #ccc;
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
  padding: 0 10px;
}
