.block-detail {
  display: inline-block;
  position: relative;
  padding: 20px;
  padding-top: 100px;
  padding-bottom: 90px;
}
.block-detail .inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 500px;
}
.block-detail .block {
  width: 500px;
  float: left;
  overflow: hidden;
  margin-right: 40px;
  transform-origin: top left;
  position: absolute;
  left: 0;
  top: -60px;
}
.block-detail .plan {
  transform: scale(0.4);
  transform-origin: bottom left;
  overflow: hidden;
  height: 500px;
  position: absolute;
  left: 100px;
  bottom: -85px;
  z-index: 2;
}
.block-detail .data {
  position: absolute;
  top: 0;
  width: 400px;
  height: calc(100vh - 300px);
  overflow: scroll;
  float: right;
  vertical-align: top;
  left: 840px;
}
@media (max-width: 1270px) {
  .block-detail .inner {
    top: unset;
    transform: unset;
  }
  .block-detail .block {
    transform: scale(0.4);
  }
  .block-detail .plan {
    transform: scale(0.3);
    transform-origin: top left;
    position: absolute;
    top: 240px;
    left: 20px;
  }
  .block-detail .data {
    left: 220px;
    width: calc(100% - 220px);
  }
}
@media (max-width: 600px) {
  .block-detail .inner {
    top: unset;
    transform: unset;
    margin-top: -40px;
  }
  .block-detail .block {
    transform: scale(0.2);
    transform-origin: top left;
  }
  .block-detail .plan {
    transform: scale(0.2);
    transform-origin: top left;
    position: absolute;
    top: 50px;
    left: 100px;
  }
  .block-detail .data {
    left: 0;
    top: 140px;
    width: calc(100%);
  }
}
@media (min-width: 1800px) {
  .block-detail .inner {
    top: unset;
    transform: unset;
  }
  .block-detail .block {
    transform: scale(1.5);
    margin-right: 300px;
  }
  .block-detail .plan {
    transform: scale(0.8);
  }
  .block-detail .data {
    left: 1400px;
  }
}
#figur-plan-c,
#figur-plan-b,
#figur-plan-a {
  float: left;
}
.block-detail .block .back {
  width: 500px;
}
