@baseColor1: #4e1c1b;

.gallery {
    padding: 55px 0;

    .thumnail {
        margin: 5px;
        height: 200px;
        width: 100%;
        cursor: pointer;
        transition: all 0.5s;
        box-shadow: 0 0 20px rgba(0,0,0,.3);

        &:hover {
            transform: scale(1.2);
        }
    }

    .all-box {
        display: none;

        &.active {
            display: block;
        }

        .box {
            width: 250px;
            height: 300px;
            position: relative;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
            }

            .title {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: rgba(0,0,0, 0.7);
                color: #fff;
                text-align: center;
                padding: 10px;
            }
        }
    }


    .full-image {
        background-color: rgba(0,0,0, .8);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 999;
        transition: all 5s;
        display: none;

        &.open {
            display: block;
        }

        .fa-close {
            position: absolute;
            top: 50px;
            right: 50px;
            font-size: 30px;
            color: @baseColor1;
            cursor: pointer;
        }

        .fa-chevron-left {
            position: absolute;
            left: 50px;
            top: 50%;
            color: #fff;
            font-size: 30px;
            cursor: pointer;
        }

        .fa-chevron-right {
            position: absolute;
            right: 50px;
            top: 50%;
            color: #fff;
            font-size: 30px;
            cursor: pointer;
        }

        .preview {
            text-align: center;
            padding: 20px;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .thum {
            width: 100%;
            text-align: center;

            ul {
                display: inline-block;

                li {
                    float: right;
                    width: 80px;
                    height: 80px;
                    margin: 5px;

                    img {
                        height: 100%;
                        width: 100%;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .bg {
        position: absolute;
        left: 7.5%;
        top: -10px;
        width: 85%;
        height: 140%;
    }

    ul.navbar {
        position: absolute;
        left: 9.5%;
        top: 0;
        width: 81%;
        height: 40px;
        background-color: #000;
        color: #fff;
        z-index: 3;
        opacity: 0;
        transition: ease-in-out 1s;

        &.open {
            opacity: 1;
            transition: ease-in-out 1s;
        }

        li {
            padding: 5px;
            background-color: #222;
            width: 54px;
            cursor: pointer;

            &:hover {
                background-color: #333;
            }

            i {
                font-size: 30px;
            }
        }
    }

    .slider-section {
        display: none;

        &.active {
            display: block;
        }


        .carousel-inner {
            height: 60vh;
            width: 80%;
            margin: 0 auto;
            z-index: 2;

            .item {
                height: 100%;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

.unit-full-img {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #eee;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: ease-in-out 1s;

    &.open {
        z-index: 999;
        opacity: 1;
        transition: ease-in-out 1s;
    }

    .fa-close {
        position: absolute;
        top: 50px;
        right: 50px;
        font-size: 30px;
        color: @baseColor1;
        cursor: pointer;
    }

    .preview {
        margin-top: 5%;
        padding: 50px;
        text-align: center;
        height: 100%;

        img {
            max-height: 90%;
        }
    }
}



section.page-slider {

    .inner {
        height: 100%;
    }
}
/* Main carousel style */
.carousel {
    width: 100%;
    height: 100%;
    text-align: center;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: inline-block !important;
}

.carousel-indicators {
    right: unset;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    /*float: left;*/
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}

@media (max-width:650px) {
    .gallery {
        .bg {
            position: absolute;
            left: 2.5%;
            width: 95%;
        }

        .slider-section {
            padding-top:20px;

            .carousel-inner {
                width: 90%;
               
            }
        }
    }

    .article-slide .carousel-indicators li{
        width:50px;
        img{
            width:100%;
        }
    }
}

@media(max-width:474px) {
    section.page-slider {
        .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
            height: 100%;
        }

        .carousel-indicators {
            bottom: 20px;
        }
    }

    .unit-full-img {

        .fa-close {
            top: 10px;
            right: 10px;
        }

        .preview {
            margin-top: 5%;
            padding: 50px 5px;
        }
    }

    .carousel{
        /*width:86%;*/
    }
}
