#slider {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 662px;
}
#slider .main {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
#slider .my-slider {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
#slider .my-slider ul {
  display: inline-block;
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
#slider .my-slider ul li {
  float: right;
  position: absolute;
  left: -108%;
  top: 0;
  width: 100%;
  height: 100%;
}
#slider .my-slider ul li.active {
  left: 0;
  transition: all ease-in-out 2s;
}
#slider .my-slider ul li img {
  width: 100%;
  height: 100%;
}
#slider .chat-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
}