<div id="footer">
    <div class="copyrights">&copy; HappySpider.org   @DateTime.Now.Year</div>
    <ul class="footer-links">

        <li>
            <a href="#" title="">
                گزارش خطا
                <i class="icon-screenshot"></i>
            </a>
        </li>
    </ul>
</div>
