@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-error">توجه</h1>
    <h2 class="text-error">حساب کاربری شما مسدود شد. لطفا بعدا دوباره تلاش کنید</h2>
</hgroup>
