
@model int


<section id="block-c" class="page block-detail">

    <div class="arrow">
        <div class="up">
            <i class="fa fa-arrow-up"></i>
            <label> بلوک B</label>
        </div>

        <div class="down">
            <i class="fa fa-arrow-down"></i>
            <label>مشاعات</label>
        </div>
    </div>

    <div class="inner">
        <h3 class="title">بلوک C</h3>

        @Html.Partial("blocks/data", HCMS.Dynamics.Data.DDB.GetTable("cms", "units").DRows.Where(a => a.GetValue("blockId").ToString() == Model.ToString() && a.GetValue("Floor").ToString() == "1"))

        <div class="alert alert-info">
            این بلوک در 11 طبقه هر طبقه دارای 4 ,واحد و پلان ها به صورت تیپ می باشد.
        </div>

        <div class="plan-unit">
            <img src="" />
        </div>

        <div class="block hidden-mobile">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" name=recortes-c>
                <defs>
                    <clipPath id=F1-c>
                        <polygon points="335, 278,312, 289,281, 282,280, 283,254, 278,254, 276,161, 259,124, 252,123, 238,255, 261,255, 263,281, 268,281, 267,311, 273,336, 266"></polygon>
                    </clipPath>

                    <clipPath id=F2-c>
                        <polygon points="335, 264,313, 272,282, 266,280, 267,256, 262,254, 260,124, 237,124, 223,254, 244,255, 246,281, 251,282, 250,311, 257,336, 248"></polygon>
                    </clipPath>

                    <clipPath id=F3-c>
                        <polygon points="336, 247,312, 255,283, 249,281, 249,255, 246,255, 244,124, 223,124, 207,255, 227,256, 230,281, 234,283, 233,312, 239,337, 231"></polygon>
                    </clipPath>

                    <clipPath id=F4-c>
                        <polygon points="337, 230,312, 237,283, 231,282, 232,256, 228,256, 226,124, 207,124, 191,255, 210,255, 212,283, 216,283, 215,312, 221,337, 214"></polygon>
                    </clipPath>

                    <clipPath id=F5-c>
                        <polygon points="337, 212,312, 218,283, 214,281, 214,257, 211,256, 209,123, 192,123, 177,255, 193,256, 194,283, 199,285, 197,313, 202,338, 196"></polygon>
                    </clipPath>

                    <clipPath id=F6-c>
                        <polygon points="338, 194,311, 201,284, 196,282, 196,257, 192,256, 191,123, 174,123, 159,255, 175,257, 177,284, 180,285, 179,310, 184,338, 178"></polygon>
                    </clipPath>

                    <clipPath id=F7-c>
                        <polygon points="338, 177,312, 182,283, 177,283, 178,257, 175,256, 174,122, 158,122, 143,256, 157,257, 159,284, 162,286, 161,313, 166,338, 160"></polygon>
                    </clipPath>

                    <clipPath id=F8-c>
                        <polygon points="339, 159,314, 164,286, 159,283, 160,258, 157,256, 155,122, 142,122, 126,256, 139,256, 141,284, 144,286, 143,314, 147,340, 142"></polygon>
                    </clipPath>

                    <clipPath id=F9-c>
                        <polygon points="340, 141,314, 145,285, 140,284, 142,258, 139,257, 138,122, 126,122, 109,256, 121,257, 122,285, 124,315, 127,341, 123"></polygon>
                    </clipPath>

                    <clipPath id=F10-c>
                        <polygon points="340, 122,313, 127,257, 122,256, 121,122, 109,121, 93,257, 103,257, 105,316, 108,341, 105"></polygon>
                    </clipPath>

                    <clipPath id=F11-c>
                        <polygon points="341, 104,314, 107,258, 104,257, 103,122, 93,121, 71,258, 78,259, 79,314, 82,314, 79,342, 77"></polygon>
                    </clipPath>
                </defs>
            </svg>

            <figure id=figur-c>

                <img class="back" id="img-back-block-c" src="/Themes/hayat2/img/C/Block C.png" usemap="#recortes-c" />

                <map name=recortes-c id=recortes-c>
                    <area shape=poly data-floor="1" title='طبقه اول' coords="335, 278,312, 289,281, 282,280, 283,254, 278,254, 276,161, 259,124, 252,123, 238,255, 261,255, 263,281, 268,281, 267,311, 273,336, 266" />
                    <area shape=poly data-floor="2" title="طبقه دوم" coords="335, 264,313, 272,282, 266,280, 267,256, 262,254, 260,124, 237,124, 223,254, 244,255, 246,281, 251,282, 250,311, 257,336, 248" />
                    <area shape=poly data-floor="3" title="طبقه سوم" coords="336, 247,312, 255,283, 249,281, 249,255, 246,255, 244,124, 223,124, 207,255, 227,256, 230,281, 234,283, 233,312, 239,337, 231" />
                    <area shape=poly data-floor="4" title="طبقه چهارم" coords="337, 230,312, 237,283, 231,282, 232,256, 228,256, 226,124, 207,124, 191,255, 210,255, 212,283, 216,283, 215,312, 221,337, 214" />
                    <area shape=poly data-floor="5" title="طبقه پنجم" coords="337, 212,312, 218,283, 214,281, 214,257, 211,256, 209,123, 192,123, 177,255, 193,256, 194,283, 199,285, 197,313, 202,338, 196" />
                    <area shape=poly data-floor="6" title="طبقه ششم" coords="338, 194,311, 201,284, 196,282, 196,257, 192,256, 191,123, 174,123, 159,255, 175,257, 177,284, 180,285, 179,310, 184,338, 178" />
                    <area shape=poly data-floor="7" title="طبقه هفتم" coords="338, 177,312, 182,283, 177,283, 178,257, 175,256, 174,122, 158,122, 143,256, 157,257, 159,284, 162,286, 161,313, 166,338, 160" />
                    <area shape=poly data-floor="8" title="طبقه هشتم" coords="339, 159,314, 164,286, 159,283, 160,258, 157,256, 155,122, 142,122, 126,256, 139,256, 141,284, 144,286, 143,314, 147,340, 142" />
                    <area shape=poly data-floor="9" title="طبقه نهم" coords="340, 141,314, 145,285, 140,284, 142,258, 139,257, 138,122, 126,122, 109,256, 121,257, 122,285, 124,315, 127,341, 123" />
                    <area shape=poly data-floor="10" title="طبقه دهم" coords="340, 122,313, 127,257, 122,256, 121,122, 109,121, 93,257, 103,257, 105,316, 108,341, 105" />
                    <area shape=poly data-floor="11" title="طبقه یازدهم" coords="341, 104,314, 107,258, 104,257, 103,122, 93,121, 71,258, 78,259, 79,314, 82,314, 79,342, 77" />

                    <img id="capaRecorte-c" src="/Themes/hayat2/img/C/New Plan Site slection C.png" usemap=#recortes-c />
                </map>


                <img src="/Themes/hayat2/img/transparente.gif" id=imagen-c alt="" usemap=#recortes-c>

            </figure>
        </div>

        <div class="mobile-block show-mobile">
            <ul class="floor">
                <li>
                    طبقه اول
                </li>
                <li>
                    طبقه دوم
                </li>
                <li>
                    طبقه سوم
                </li>
                <li>
                    طبقه چهارم
                </li>
                <li>
                    طبقه پنجم
                </li>
                <li>
                    طبقه ششم
                </li>
                <li>
                    طبقه هفتم
                </li>
                <li>
                    طبقه هشتم
                </li>
                <li>
                    طبقه نهم
                </li>
                <li>
                    طبقه دهم
                </li>
                <li>
                    طبقه یازدهم
                </li>
            </ul>

            <ul class="unit">
                <li data-unit="1">واحد 1</li>
                <li data-unit="2">واحد 2</li>
                <li data-unit="3">واحد 3</li>
                <li data-unit="4">واحد 4</li>
            </ul>
        </div>

        <div class="plan hidden-mobile">

            @Html.Partial("blocks/plans/plan-c")

        </div>

        <a class="hayatbtn mobile-show">
            <i class="fa fa-eye"></i>
            <label>برای مشاهده مشخصات کلی کلیک کنید</label>
        </a>

    </div>
</section>