
@model int


<section id="block-a" class="page block-detail">

    <div class="arrow">
               <div class="down">
            <i class="fa fa-arrow-down"></i>
            <label> بلوک B</label>
        </div>
    </div>

    <div class="inner container-fluid">
        <h3 class="title">بلوک A</h3>

        

        @Html.Partial("blocks/data", HCMS.Dynamics.Data.DDB.GetTable("cms", "units").DRows.Where(a => a.GetValue("blockId").ToString() == Model.ToString()))

        <div class="plan-unit img-responsive">
            <img src="~/Themes/hayat2/img/plan/A/keys/Block A Plan 001.png" />

          
        </div>

        <div class="block">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" name=recortes-a>
                <defs>
                    <clipPath id=F1-a>
                        <polygon points="310, 328,269, 341,268, 343,201, 338,200, 337,198, 333,138, 329,138, 315,123, 314,123, 305,130, 303,131, 296,177, 299,198, 302,199, 305,267, 309,310, 298"></polygon>
                    </clipPath>

                    <clipPath id=F2-a>
                        <polygon points="310, 296,269, 306,267, 308,200, 304,199, 301,174, 298,138, 295,123, 295,122, 283,130, 281,130, 273,167, 276,182, 278,187, 278,199, 279,199, 282,233, 283,267, 285,310, 276"></polygon>
                    </clipPath>

                    <clipPath id=F3-a>
                        <polygon points="309, 274,269, 282,267, 284,231, 282,200, 280,199, 278,186, 277,178, 276,138, 273,122, 272,122, 261,130, 259,130, 251,139, 251,179, 254,181, 255,193, 256,198, 256,199, 258,229, 260,266, 261,310, 252"></polygon>
                    </clipPath>

                    <clipPath id=F4-a>
                        <polygon points="309, 251,267, 260,200, 257,198, 255,181, 254,172, 252,154, 251,138, 250,121, 249,122, 238,130, 236,130, 228,137, 229,177, 231,182, 233,197, 232,198, 235,230, 236,264, 238,309, 230"></polygon>
                    </clipPath>

                    <clipPath id=F5-a>
                        <polygon points="309, 229,264, 237,252, 236,209, 235,200, 233,198, 232,187, 231,181, 231,171, 230,138, 228,121, 227,121, 216,129, 214,129, 205,184, 209,198, 209,198, 211,230, 212,264, 214,310, 207"></polygon>
                    </clipPath>

                    <clipPath id=F6-a>
                        <polygon points="308, 205,282, 209,263, 212,222, 211,199, 210,198, 207,178, 207,137, 205,121, 204,121, 193,128, 192,129, 183,176, 185,185, 186,198, 186,198, 187,231, 188,264, 189,311, 184"></polygon>
                    </clipPath>

                    <clipPath id=F7-a>
                        <polygon points="310, 182,274, 186,264, 187,231, 187,224, 187,198, 186,197, 184,178, 183,137, 181,121, 182,121, 170,129, 168,128, 160,164, 161,191, 161,192, 162,198, 162,198, 163,264, 164,309, 160"></polygon>
                    </clipPath>

                    <clipPath id=F8-a>
                        <polygon points="309, 159,283, 162,264, 163,233, 162,199, 162,198, 161,187, 160,165, 160,123, 159,119, 158,120, 147,128, 146,128, 137,168, 137,180, 137,180, 138,227, 138,256, 140,265, 139,309, 138"></polygon>
                    </clipPath>

                    <clipPath id=F9-a>
                        <polygon points="308, 136,278, 138,256, 138,228, 138,204, 138,180, 137,180, 136,136, 136,120, 136,120, 124,128, 123,128, 114,175, 114,198, 115,231, 114,264, 114,307, 114"></polygon>
                    </clipPath>

                    <clipPath id=F10-a>
                        <polygon points="307, 113,264, 113,199, 113,176, 113,135, 112,121, 113,120, 101,127, 100,127, 90,175, 90,199, 90,203, 89,231, 89,264, 89,280, 89,281, 90,307, 89"></polygon>
                    </clipPath>

                    <clipPath id=F11-a>
                        <polygon points="308, 90,282, 89,280, 88,201, 88,201, 89,119, 90,119, 78,127, 77,126, 67,119, 67,119, 53,179, 54,180, 53,198, 53,254, 51,281, 52,291, 53,307, 53"></polygon>
                    </clipPath>
                </defs>
            </svg>

            <figure id=figur-a>

                <img class="back" id="img-back-block-a" src="~/Themes/hayat2/img/A/Block A.png" usemap="#recortes-a" />
                <map name=recortes-a id=recortes-a>
                    <area shape=poly data-floor="1" title='طبقه اول' coords="310, 328,269, 341,268, 343,201, 338,200, 337,198, 333,138, 329,138, 315,123, 314,123, 305,130, 303,131, 296,177, 299,198, 302,199, 305,267, 309,310, 298" />
                    <area shape=poly data-floor="2" title="طبقه دوم" coords="310, 296,269, 306,267, 308,200, 304,199, 301,174, 298,138, 295,123, 295,122, 283,130, 281,130, 273,167, 276,182, 278,187, 278,199, 279,199, 282,233, 283,267, 285,310, 276" />
                    <area shape=poly data-floor="3" title="طبقه سوم" coords="309, 274,269, 282,267, 284,231, 282,200, 280,199, 278,186, 277,178, 276,138, 273,122, 272,122, 261,130, 259,130, 251,139, 251,179, 254,181, 255,193, 256,198, 256,199, 258,229, 260,266, 261,310, 252" />
                    <area shape=poly data-floor="4" title="طبقه چهارم" coords="309, 251,267, 260,200, 257,198, 255,181, 254,172, 252,154, 251,138, 250,121, 249,122, 238,130, 236,130, 228,137, 229,177, 231,182, 233,197, 232,198, 235,230, 236,264, 238,309, 230" />
                    <area shape=poly data-floor="5" title="طبقه پنجم" coords="309, 229,264, 237,252, 236,209, 235,200, 233,198, 232,187, 231,181, 231,171, 230,138, 228,121, 227,121, 216,129, 214,129, 205,184, 209,198, 209,198, 211,230, 212,264, 214,310, 207" />
                    <area shape=poly data-floor="6" title="طبقه ششم" coords="308, 205,282, 209,263, 212,222, 211,199, 210,198, 207,178, 207,137, 205,121, 204,121, 193,128, 192,129, 183,176, 185,185, 186,198, 186,198, 187,231, 188,264, 189,311, 184" />
                    <area shape=poly data-floor="7" title="طبقه هفتم" coords="310, 182,274, 186,264, 187,231, 187,224, 187,198, 186,197, 184,178, 183,137, 181,121, 182,121, 170,129, 168,128, 160,164, 161,191, 161,192, 162,198, 162,198, 163,264, 164,309, 160" />
                    <area shape=poly data-floor="8" title="طبقه هشتم" coords="309, 159,283, 162,264, 163,233, 162,199, 162,198, 161,187, 160,165, 160,123, 159,119, 158,120, 147,128, 146,128, 137,168, 137,180, 137,180, 138,227, 138,256, 140,265, 139,309, 138" />
                    <area shape=poly data-floor="9" title="طبقه نهم" coords="308, 136,278, 138,256, 138,228, 138,204, 138,180, 137,180, 136,136, 136,120, 136,120, 124,128, 123,128, 114,175, 114,198, 115,231, 114,264, 114,307, 114" />
                    <area shape=poly data-floor="10" title="طبقه دهم" coords="307, 113,264, 113,199, 113,176, 113,135, 112,121, 113,120, 101,127, 100,127, 90,175, 90,199, 90,203, 89,231, 89,264, 89,280, 89,281, 90,307, 89" />
                    <area shape=poly data-floor="11" title="طبقه یازدهم" coords="308, 90,282, 89,280, 88,201, 88,201, 89,119, 90,119, 78,127, 77,126, 67,119, 67,119, 53,179, 54,180, 53,198, 53,254, 51,281, 52,291, 53,307, 53" />

                    <img id="capaRecorte-a" src="~/Themes/hayat2/img/A/New Plan Site slection A.png" usemap="#recortes-a" />
                </map>


                <img src="/Themes/hayat2/img/transparente.gif"
                     id=imagen-a alt="" usemap=#recortes-a>

            </figure>
        </div>


        <div class="plan">

            @Html.Partial("blocks/plans/plan-a")

        </div>

        <a class="hayatbtn mobile-show">
            <i class="fa fa-eye"></i>
            <label>برای مشاهده مشخصات کلی کلیک کنید</label>
        </a>



    </div>
</section>


