

<section id="block-b" class="page block-detail">

    <div class="arrow">
        <div class="up">
            <i class="fa fa-arrow-up"></i>
            <label> بلوک A</label>
        </div>

        <div class="down">
            <i class="fa fa-arrow-down"></i>
            <label> بلوک C</label>
        </div>
    </div>

    <div class="inner">
        <h3 class="title">بلوک B</h3>
        <div class="row">
            <div class="col-md-5">
                @Html.Partial("blocks/data", HCMS.Dynamics.Data.DDB.GetTable("cms", "units").DRows)


            </div>

            <div class="col-md-4">
                <div class="plan-unit text-center">
                    <img src="~/Themes/hayat2/img/plan/A/keys/Block A Plan 001.png" />
                </div>
            </div>

            <div class="col-md-3">

                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" name=recortes-b>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <defs>
                            <clipPath id=F1-b>
                                <polygon points="441, 297, 348, 326, 347, 330, 314, 341, 300, 334, 296, 335, 258, 313, 257, 311, 251, 313, 234, 304, 232, 297, 232, 278,250, 288,255, 286, 257, 289, 284, 303, 286, 302, 287, 304, 296, 309, 299, 308, 313, 315, 347, 304, 347, 302, 442, 272"></polygon>
                            </clipPath>

                            <clipPath id=F2-b>
                                <polygon points="442, 272,347, 301,347, 304,313, 315,299, 308,296, 309,287, 304,286, 302,284, 303,257, 288,256, 287,249, 288,232, 278,231, 260,248, 270,255, 267,256, 270,283, 284,284, 283,295, 290,298, 289,311, 296,347, 285,347, 283,442, 254"></polygon>
                            </clipPath>

                            <clipPath id=F3-b>
                                <polygon points="442, 255,348, 283,347, 285,312, 296,299, 289,296, 290,286, 284,284, 283,283, 284,256, 269,255, 268,249, 270,231, 260,230, 242,248, 251,255, 249,255, 251,283, 264,285, 264,286, 266,295, 271,298, 269,312, 276,346, 267,347, 264,443, 237"></polygon>
                            </clipPath>

                            <clipPath id=F4-b>
                                <polygon points="443, 236,347, 264,347, 267,312, 276,298, 270,295, 271,285, 265,255, 251,254, 249,247, 251,230, 242,229, 224,247, 233,253, 231,254, 233,282, 246,284, 245,285, 247,293, 252,298, 251,309, 257,340, 249,341, 246,444, 219"></polygon>
                            </clipPath>

                            <clipPath id=F5-b>
                                <polygon points="443, 218,341, 246,340, 249,310, 256,298, 251,295, 251,285, 247,284, 246,255, 233,254, 230,246, 232,229, 223,229, 205,246, 214,253, 212,254, 215,281, 227,284, 226,285, 228,294, 232,298, 232,310, 237,340, 229,341, 228,444, 201"></polygon>
                            </clipPath>

                            <clipPath id=F6-b>
                                <polygon points="444, 199,340, 226,340, 228,310, 236,297, 230,294, 231,285, 227,285, 225,282, 225,255, 213,254, 211,247, 212,228, 205,227, 187,244, 194,252, 193,253, 195,281, 207,283, 206,284, 208,293, 212,297, 211,309, 217,340, 210,341, 207,445, 182"></polygon>
                            </clipPath>

                            <clipPath id=F7-b>
                                <polygon points="444, 180,340, 206,339, 209,310, 216,297, 210,293, 211,284, 207,283, 205,281, 206,254, 194,252, 192,246, 194,228, 185,227, 168,244, 176,251, 174,252, 176,281, 186,282, 187,283, 188,293, 192,297, 191,309, 196,340, 189,340, 187,445, 163"></polygon>
                            </clipPath>

                            <clipPath id=F8-b>
                                <polygon points="445, 161,340, 186,340, 188,309, 195,297, 191,293, 191,284, 186,283, 185,281, 186,253, 174,251, 172,245, 174,227, 166,226, 148,244, 155,250, 154,252, 155,280, 166,282, 166,283, 167,293, 171,297, 171,309, 175,340, 169,341, 166,446, 144"></polygon>
                            </clipPath>

                            <clipPath id=F9-b>
                                <polygon points="446, 142,340, 166,339, 167,309, 174,296, 169,294, 170,284, 166,282, 165,280, 165,253, 155,250, 153,245, 154,226, 146,225, 129,244, 136,250, 134,280, 146,282, 145,283, 147,294, 151,297, 149,308, 154,341, 148,341, 146,446, 124"></polygon>
                            </clipPath>

                            <clipPath id=F10-b>
                                <polygon points="447, 123,340, 144,339, 147,308, 153,296, 148,293, 149,284, 146,282, 144,280, 144,252, 134,251, 133,243, 135,225, 127,224, 108,243, 115,249, 113,250, 115,278, 125,281, 124,282, 126,293, 129,296, 129,308, 133,340, 127,341, 125,447, 104"></polygon>
                            </clipPath>

                            <clipPath id=F11-b>
                                <polygon points="447, 103,340, 124,339, 125,308, 132,295, 127,292, 128,283, 125,282, 124,279, 123,251, 114,250, 112,242, 114,224, 107,222, 74,224, 75,225, 80,228, 81,239, 85,239, 83,251, 81,253, 82,250, 84,278, 93,281, 91,283, 93,291, 96,295, 95,295, 98,300, 100,301, 98,308, 100,335, 95,334, 92,448, 74"></polygon>
                            </clipPath>
                        </defs>
                    </svg>
                </svg>

                <figure id=figur-b>

                    <img class="back" id="img-back-block-b"  src="~/Themes/hayat2/img/B/Block B-min.png" usemap="#recortes-b" />

                    <map name=recortes-b id=recortes-b>
                        <area shape=poly data-floor="1" title='طبقه اول' coords="441, 297, 348, 326, 347, 330, 314, 341, 300, 334, 296, 335, 258, 313, 257, 311, 251, 313, 234, 304, 232, 297, 232, 278,250, 288,255, 286, 257, 289, 284, 303, 286, 302, 287, 304, 296, 309, 299, 308, 313, 315, 347, 304, 347, 302, 442, 272" />
                        <area shape=poly data-floor="2" title="طبقه دوم" coords="442, 272,347, 301,347, 304,313, 315,299, 308,296, 309,287, 304,286, 302,284, 303,257, 288,256, 287,249, 288,232, 278,231, 260,248, 270,255, 267,256, 270,283, 284,284, 283,295, 290,298, 289,311, 296,347, 285,347, 283,442, 254" />
                        <area shape=poly data-floor="3" title="طبقه سوم" coords="442, 255,348, 283,347, 285,312, 296,299, 289,296, 290,286, 284,284, 283,283, 284,256, 269,255, 268,249, 270,231, 260,230, 242,248, 251,255, 249,255, 251,283, 264,285, 264,286, 266,295, 271,298, 269,312, 276,346, 267,347, 264,443, 237" />
                        <area shape=poly data-floor="4" title="طبقه چهارم" coords="443, 236,347, 264,347, 267,312, 276,298, 270,295, 271,285, 265,255, 251,254, 249,247, 251,230, 242,229, 224,247, 233,253, 231,254, 233,282, 246,284, 245,285, 247,293, 252,298, 251,309, 257,340, 249,341, 246,444, 219" />
                        <area shape=poly data-floor="5" title="طبقه پنجم" coords="443, 218,341, 246,340, 249,310, 256,298, 251,295, 251,285, 247,284, 246,255, 233,254, 230,246, 232,229, 223,229, 205,246, 214,253, 212,254, 215,281, 227,284, 226,285, 228,294, 232,298, 232,310, 237,340, 229,341, 228,444, 201" />
                        <area shape=poly data-floor="6" title="طبقه ششم" coords="444, 199,340, 226,340, 228,310, 236,297, 230,294, 231,285, 227,285, 225,282, 225,255, 213,254, 211,247, 212,228, 205,227, 187,244, 194,252, 193,253, 195,281, 207,283, 206,284, 208,293, 212,297, 211,309, 217,340, 210,341, 207,445, 182" />
                        <area shape=poly data-floor="7" title="طبقه هفتم" coords="444, 180,340, 206,339, 209,310, 216,297, 210,293, 211,284, 207,283, 205,281, 206,254, 194,252, 192,246, 194,228, 185,227, 168,244, 176,251, 174,252, 176,281, 186,282, 187,283, 188,293, 192,297, 191,309, 196,340, 189,340, 187,445, 163" />
                        <area shape=poly data-floor="8" title="طبقه هشتم" coords="445, 161,340, 186,340, 188,309, 195,297, 191,293, 191,284, 186,283, 185,281, 186,253, 174,251, 172,245, 174,227, 166,226, 148,244, 155,250, 154,252, 155,280, 166,282, 166,283, 167,293, 171,297, 171,309, 175,340, 169,341, 166,446, 144" />
                        <area shape=poly data-floor="9" title="طبقه نهم" coords="446, 142,340, 166,339, 167,309, 174,296, 169,294, 170,284, 166,282, 165,280, 165,253, 155,250, 153,245, 154,226, 146,225, 129,244, 136,250, 134,280, 146,282, 145,283, 147,294, 151,297, 149,308, 154,341, 148,341, 146,446, 124" />
                        <area shape=poly data-floor="10" title="طبقه دهم" coords="447, 123,340, 144,339, 147,308, 153,296, 148,293, 149,284, 146,282, 144,280, 144,252, 134,251, 133,243, 135,225, 127,224, 108,243, 115,249, 113,250, 115,278, 125,281, 124,282, 126,293, 129,296, 129,308, 133,340, 127,341, 125,447, 104" />
                        <area shape=poly data-floor="11" title="طبقه یازدهم" coords="447, 103,340, 124,339, 125,308, 132,295, 127,292, 128,283, 125,282, 124,279, 123,251, 114,250, 112,242, 114,224, 107,222, 74,224, 75,225, 80,228, 81,239, 85,239, 83,251, 81,253, 82,250, 84,278, 93,281, 91,283, 93,291, 96,295, 95,295, 98,300, 100,301, 98,308, 100,335, 95,334, 92,448, 74" />

                        <img id="capaRecorte-b" src="~/Themes/hayat2/img/B/New Plan Site slection.png" usemap="#recortes-b"/>
                    </map>


                    <img src="/Themes/hayat2/img/transparente.gif"
                         id=imagen-b alt="" usemap=#recortes-b>

                </figure>
            </div>
        </div>


        <div class="plan">

            @Html.Partial("blocks/plans/plan-b")


        </div>




    </div>
</section>


