<section id="catalog" class="page block-detail">

    <div class="arrow">
        <div class="up">
            <i class="fa fa-arrow-up"></i>
            <label> مشاعات</label>
        </div>

       
    </div>

    <div class="inner">
        <h3 class="title">کاتالوگ</h3>

        <div class="text-center">
            <a class="hayatbtn">
                <i class="fa fa-download"></i>
                دانلود
            </a>

            <button class="hayatbtn">
                <i class="fa fa-eye"></i>
                مشاهده
            </button>
        </div>
       
    </div>
</section>