<section id="catalog" class="page block-detail">

    <div class="arrow">
        <div class="up">
            <i class="fa fa-arrow-up"></i>
            <label> مشاعات</label>
        </div>

       
    </div>

    <div class="inner">
        <h3 class="title">کاتالوگ</h3>
        @if (User.Identity.IsAuthenticated && User.IsInRole("user"))
        {
            <div class="text-center">
                <a class="hayatbtn" href="http://hayat-no.com/Files/Uploads/cat.pdf" download="">
                    <i class="fa fa-download"></i>
                    دانلود
                </a>

                <button class="hayatbtn">
                    <i class="fa fa-eye"></i>
                    مشاهده
                </button>
            </div>
        }
        else
        {
            <div class="text-center">
                برای مشاهده کاتالوگ <a href="/auth">وارد سایت</a> شوید. یا <a href="/#signup">ثبت نام</a> کنید
            </div>
                }


            </div>
</section>