<section id="contact" class="page">
    <div class="container wow ">
        <div class="row">
            <div class="col-md-12">

                <!--<p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>-->

            </div>
        </div>

        <div class="row">

            <div class="col-md-6">



                <div class="form">

                    <h5 class="section-title">فرم ثبت نام خریدار</h5>
                    <div class="section-title-divider"></div>

                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">

                        <div class="row">

                            <div class="col-md-6">
                                <select class="form-control">
                                    <option>بازدید</option>
                                    <option>مذاکره</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="نام شما" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="نام خانوادگی شما" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="آدرس پست الکترونیکی" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>
                                    <i class="fa fa-phone"></i>
                                    شماره همراه
                                </label>
                                <br />

                                <div class="col-md-5">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="phone" id="email" placeholder="شماره همراه" data-rule="email" data-msg="Please enter a valid phone" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" dir="ltr" value="+98" disabled="disabled" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                </div>
                                <div class="col-md-5" style="padding:0;">
                                    <select class="form-control">
                                        <option>ایران</option>
                                    </select>
                                </div>


                            </div>
                            <label>محل سکونت فعلی</label>

                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label>کشور</label>
                                    <select class="form-control">
                                        <option>ایران</option>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label>استان / ایالت</label>
                                    <select class="form-control">
                                        <option>تهران</option>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label>شهر</label>
                                    <select class="form-control">
                                        <option>تهران</option>
                                        <option>اسلامشهر</option>
                                    </select>
                                </div>

                            </div>

                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label>منطقه</label>

                                    <select class="form-control">
                                        <option>ناحیه 1</option>
                                        <option>ناحیه 2</option>
                                    </select>
                                </div>

                            </div>


                        </div>

                        <div class="text-center">
                            <button class="btn btn-success" type="submit">ثبت نام</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6" style="border-right: 3px solid #03C4EB;">

                <div class="form">
                    <h5 class="section-title">فرم ثبت نام همکاری</h5>
                    <div class="section-title-divider"></div>
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">

                        <div class="row">

                            <div class="col-md-6">
                                <select class="form-control">
                                    <option>نوع همکاری</option>
                                    <option>استخدام</option>
                                    <option>همراهان (تامین کنندگان و پیمانکاران)</option>
                                    <option>سرمایه گذاران</option>

                                </select>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="نام شما" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="نام خانوادگی شما" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="آدرس پست الکترونیکی" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>
                                    <i class="fa fa-phone"></i>
                                    شماره همراه
                                </label>
                                <br />

                                <div class="col-md-5">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="phone" id="email" placeholder="شماره همراه" data-rule="email" data-msg="Please enter a valid phone" />
                                        <div class="validation"></div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <input type="text" dir="ltr" value="+98" disabled="disabled" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                </div>
                                <div class="col-md-5" style="padding:0;">
                                    <select class="form-control">
                                        <option>ایران</option>
                                    </select>
                                </div>


                            </div>
                        </div>

                        <div class="text-center"><button class="btn btn-success" type="submit">ثبت نام</button></div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</section>
