<section id="signup" class="page page-homeforms">
    <div class="container">

        <div class="row">

            <div class="col-md-6">
                <h3 class="title" data-aos="fade-down">
                    ثبت نام
                    خریدار
                </h3>



                <form method="post" id="register-form" action="/fa-ir/manage/Auth/register">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <input type="hidden" name="isAjax" value="true" />
                    <input type="hidden" name="ReturnUrl" value="/" />
                    <input type="email" style="display: none;" />
                    <input type="password" style="display: none;" />
                    <div class="col-md-12 col-sm-6 col-xs-6">
                        <div data-aos="fade-left" class="form-group">
                            <label class="hide-615px">
                                نام کاربری
                                (
                                <i class="fa fa-at"></i>
                                ایمیل
                                <i class="fa fa-mobile-phone"></i>

                                یا شماره همراه
                                )

                            </label>

                            <input required name="Username" class="form-control" type="text" placeholder="ایمیل یا شماره همراه" />
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-6 col-xs-6">
                        <div data-aos="fade-left" class="form-group">
                            <label class="hide-615px">
                                <i class="fa fa-key"></i>
                                رمز عبور
                            </label>
                            <input required name="password" class="form-control" type="password" placeholder="رمز عبور"/>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-6 col-xs-6">
                        <div data-aos="fade-left" class="form-group">
                            <label class="hide-615px">
                                <i class="fa fa-key"></i>
                                تکرار رمز عبور

                            </label>
                            <input name="ConfirmPassword" required class="form-control" type="password" placeholder="تکرار رمز عبور"/>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-6 col-xs-6">
                        <div data-aos="fade-left" class="form-group captcha-field">
                            <img src="~/manage/Captcha/msdn?prefix=captcha" id="_register-captcha-image" />
                            <input class="captcha form-control" autocomplete="off" required type="number" name="captcha" placeholder="کد امنیتی را وارد کنید ..." />
                        </div>
                    </div>

                    <div id="reg-err" class="alert alert-danger" style="display:none;">

                    </div>

                    <div id="reg-done" class="alert alert-success" style="display:none;">

                    </div>

                    <button class="hayatbtn" data-aos="fade-left" type="button" id="regUser">
                        <i class="fa fa-check">
                        </i>
                        ثبت نام
                    </button>
                </form>

            </div>


            <div class="col-md-6 ">

                <h3 class="title" data-aos="fade-down">فرم ثبت نام همکاری</h3>



                <div class="form">
                    <form id="colleagueForm" action="/fa-ir/manage/Auth/RegisterByRole" method="post" role="form" class="contactForm">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()

                        <input type="hidden" name="isAjax" value="true" />
                        <input type="hidden" name="ReturnUrl" value="/" />
                        <input type="email" style="display: none;" />

                            <div class="col-md-12 col-sm-6 col-xs-6">
                                <div data-aos="fade-left" class="form-group">

                                    <label class="hide-990px">
                                        <i class="fa fa-cube"></i>
                                        نوع همکاری
                                    </label>
                                    <select required name="role" class="form-control">
                                        <option>لطفا انتخاب کنید</option>
                                        <option value="employ">استخدام</option>
                                        <option value="colleague">همراهان (تامین کنندگان و پیمانکاران)</option>
                                        <option value="investment">سرمایه گذاران</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-6 col-xs-6">
                                <div data-aos="fade-left" class="form-group">
                                    <input type="text" required name="name" class="form-control" placeholder="نام و نام خانوادگی" />

                                </div>
                            </div>

                            <div class="col-md-12 col-sm-6 col-xs-6">
                                <div data-aos="fade-left" class="form-group">
                                    <input type="email" required class="form-control" name="username" placeholder="آدرس پست الکترونیکی" />

                                </div>
                            </div>

                            <div class="col-md-12 col-sm-6 col-xs-6">
                                <div data-aos="fade-left" class="form-group">
                                    <input type="text" required class="form-control" name="phone" placeholder="شماره همراه" />

                                </div>
                            </div>

                            <div class="col-md-12 col-sm-6 col-xs-6">
                                <div data-aos="fade-left" class="form-group">

                                    <input name="Password" required placeholder="رمز عبور" class="form-control" type="password" />
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-6 col-xs-6">
                                <div data-aos="fade-left" class="form-group">

                                    <input name="ConfirmPassword" required placeholder="تکرار رمز عبور" class="form-control" type="password" />
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-6 col-xs-6">
                                <div data-aos="fade-left" class="form-group captcha-field">
                                    <img src="~/manage/Captcha/msdn?prefix=_cooprate" id="_cooprate-captcha-image" />
                                    <input class="captcha form-control" autocomplete="off" required type="number" name="captcha" placeholder="کد امنیتی را وارد کنید ..." />
                                </div>
                            </div>


                        <div id="coll-err" class="alert alert-danger" style="display:none;">

                        </div>

                        <div id="coll-done" class="alert alert-success" style="display:none;">

                        </div>

                        <button data-aos="fade-left" class="hayatbtn" type="button" id="reg-spanser">
                            <i class="fa fa-send">
                            </i>
                            ارسال
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>




