@using HCMS.Dynamics.Data
@{
    var partners = DDB.GetTable("cms", "partners").DRows;
}
<section id="partners" class="page page-partners">

    <div class="inner">

        <h2>
            همراهان
        </h2>
        <div class="items">

            @foreach (var item in partners)
            {

                var url = item.GetValue("url").ToString().StartsWith("http") ? item.GetValue("url").ToString() : "http://" + item.GetValue("url").ToString();

                <a target="_blank" href="@url">
                    <img alt="@item.GetValue("name")" src="@item.GetValue("image")" />
                </a>

            }

        </div>
    </div>
</section>

