<section id="partners" class="page page-partners">
  
    <div class="inner">

        <h2>
            همراهان
        </h2>
        <div class="items">

            @for (int i = 0; i < 4; i++)
            {
                <div class="col" data-aos="fade-down" data-aos-delay="@(i * 300)">
                    <a  href="http://www.venusglass.net">
                        <img src="/Themes/hayat2/img/brand/httpwww.venusglass.net.jpg" />
                    </a>

                    <a href="http://itc.co.ir">
                        <img src="/Themes/hayat2/img/brand/logo httpitc.co.ir.jpg" />
                    </a>

                    <a>
                        <img src="/Themes/hayat2/img/brand/سنچوری-225x168.jpg" />
                    </a>

                    <a  href="http://www.kwc.com">
                        <img src="/Themes/hayat2/img/brand/httpwww.kwc.com.png" />
                    </a>

                    <a href="http://www.kwciran.com">
                        <img src="/Themes/hayat2/img/brand/www.kwciran.com.png" />
                    </a>
                </div>
            }

        </div>
    </div>
</section>

