<section class="page page-places" id="places">


    <div class="map-wrapper">
        <div class="map" data-aos="fade-right" style="">
        </div>
        <div class="tabs cscroll"  data-aos="fade-left">
            <ul>
                <li>
                    مراکز خرید
                </li>
                <li>مراکز درمانی</li>
                <li>میوه و تره بار</li>
                <li id="tabs-bred">نانوایی</li>
                <li>کارواش</li>
                <li>فروشگاه شهروند</li>
                <li>فست فودها</li>

            </ul>
            <ul>
                <li id="tabs-rest">رستوران ها</li>
                <li>کترینگ</li>
                <li>مداری</li>
                <li>مراکز دولتی</li>
                <li>آموزشگاه ها</li>
                <li>حمل و نقل عمومی</li>
                <li>تاسیسات</li>
            </ul>
        </div>

    </div>
</section>