@using HCMS.Dynamics.Data
@{
    var places = DDB.GetTable("cms", "places").DRows;


}

<section class="page page-places" id="places">
    <div class="map-wrapper">
        <div class="map" data-aos="fade-right" style="">
        </div>
        <div class="tabs cscroll" data-aos="fade-left">
            <ul>
                @foreach (var item in places)
                {
                    var positions = "";

                    foreach (var pos in item.GetGroup("positions"))
                    {
                        positions += "|" + pos.GetValue("latlng");
                    }

                    <li style="background:@item.GetValue("color")" data-title="@item.GetValue("name")" data-icon="@item.GetValue("icon")" data-latlng="@positions">

                        @item.GetValue("name")

                    </li>
                }
            </ul>
        </div>
    </div>
</section>