<section class="page page-places">


    <div class="map-wrapper">
        <div class="map" style="">
        </div>
        <div class="tabs">
            <ul>
                <li style="background-color:green;">مراکز خرید</li>
                <li style="background-color:cyan;">مراکز درمانی</li>
                <li style="background-color:greenyellow;">میوه و تره بار</li>
                <li style="background-color:yellow;" id="tabs-bred">نانوایی</li>
                <li style="background-color:blue;">کارواش</li>
                <li style="background-color:red;">فروشگاه شهروند</li>
                <li style="background-color:orange;">فست فودها</li>
                <li style="background-color:aliceblue;" id="tabs-rest">رستوران ها</li>
                <li style="background-color:rebeccapurple;">کترینگ</li>
                <li style="background-color:peru;">مداری</li>
                <li style="background-color:mistyrose;">مراکز دولتی</li>
                <li style="background-color:saddlebrown;">آموزشگاه ها</li>
                <li style="background-color:salmon;">حمل و نقل عمومی</li>
                <li style="background-color:paleturquoise;">تاسیسات</li>
            </ul>

        </div>

    </div>
</section>