
<section id="home" class="page page-active page-slider">

    <div class="right-icons">
        <ul>
            <li class="gallery">
                <span>گالری</span>
                <i class="fa fa-image"></i>
                <div class="descrp">
                    شما می توانید از تصاویر و ویدوهای وقایع و اخبار حیات
                    استفاده کنید
                </div>
            </li>
            <li class="catalog">
                <span>کاتالوگ</span>
                <i class="fa fa-newspaper-o"></i>
                <div class="descrp">
                    <ul>
                        <li>
                            <a href="../../../img/pdf/ازگل_کاتالوگ.pdf" download>
                                کاتالوگ فنی
                            </a>
                        </li>
                        <li>
                            <a href="" download>
                                کاتالوگ واحد های بر اساس متراژ
                            </a>
                        </li>
                        <li>
                            <a href="" download>
                                کاتالوگ واحد ها بر اساس طبقه
                            </a>
                        </li>
                        <li>
                            <a href="" download>
                                کاتالوگ واحد ها بر اساس ویو
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="register">
                <span>ثبت نام</span>
                <i class="fa fa-user"></i>
                <div class="descrp">
                    برای بازدید از تمام بخش های اصلی وب سایت
                    <a href="#contact">ثبت نام</a> کنید. این سایت و شرکت ابتکار سازه
                    محافظ حریم شخصی شماست.
                </div>
            </li>
            <li class="location">
                <span>موقعیت</span>
                <i class="fa fa-map-marker"></i>
                <div class="descrp">
                    تهران - ازگل - <a href="#portfolio">برج حیات</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="left-icons">
        <ul>
            <li>
                <i class="fa fa-telegram"></i>
            </li>
            <li>
                <i class="fa fa-facebook"></i>
            </li>
            <li>
                <i class="fa fa-instagram"></i>
            </li>

            <li>
                <i class="fa fa-linkedin"></i>
            </li>
        </ul>
    </div>


    <div id="slider">
        <div class="slide">
            <img src="~/Themes/hayat2/img/my-slider/1.jpg" />
        </div>
        <div class="slide">
            <img src="~/Themes/hayat2/img/my-slider/2.jpg" />

        </div>
        <div class="slide">
            <img src="~/Themes/hayat2/img/my-slider/3.jpg" />

        </div>
    </div>




    <div class="logo-hayat-no">
        <img src="~/Themes/hayat2/img/logo/Hayate no Logo white.png" />
        <h4>تکست روز یا سوتیتر برای تصویر</h4>
        <h5>سوتیتر برای تصویر، سوتیتر برای تصویر، سوتیتر برای تصویر</h5>
    </div>


</section>
