@using HCMS.Dynamics.Data
@{
  var sliders = DDB.GetTable("cms", "slider").DRows;


}
<section id="home" class="page page-slider">

   


    <div id="slider">

        @foreach (var item in sliders)
        {
            <div class="slide">
                <img src="@item.GetValue("image")" />
            </div>
        }

    </div>




    <div class="logo-hayat-no">
        <img src="~/Themes/hayat2/img/logo/Hayate no Logo white.png" />
        <h4>تکست روز یا سوتیتر برای تصویر</h4>
        <h5>سوتیتر برای تصویر، سوتیتر برای تصویر، سوتیتر برای تصویر</h5>
    </div>


</section>
