<section class="page" id="services">

    <div class="video-slider">
        <div class="main">
            <img src="/Themes/hayat2/img/slider/1.jpg" />

            <i class="fa fa-play-circle-o"></i>
        </div>

        <div class="child">
            <ul>
                <li>
                    <img src="/Themes/hayat2/img/slider/6.jpg" />
                </li>
                <li>
                    <img src="/Themes/hayat2/img/slider/7.jpg" />
                </li>
                <li>
                    <img src="/Themes/hayat2/img/slider/5.jpg" />
                </li>
                <li>
                    <img src="/Themes/hayat2/img/slider/8.jpg" />
                </li>
            </ul>
        </div>
    </div>
</section>
