<section class="page page-videos" id="videos">

    <div class="inner">

        <div class="tv" data-aos="fade-up">
            <video id="video">

            </video>
         
        </div>

        <div class="thumbnails">


            <div data-aos="fade-right" data-src="http://127.0.0.1:9292/Heaven-From-Top.webm">
                <img src="http://127.0.0.1:9292/Heaven-From-Top.jpg" />
            </div>

            <div data-aos="fade-right" data-src="http://127.0.0.1:9292/UN_building.webm">

                <img src="http://127.0.0.1:9292/UN_building.jpg" />

            </div>

            <div data-aos="fade-right" data-src="http://127.0.0.1:9292/Latino_Clock.webm">
                <img src="http://127.0.0.1:9292/Latino_Clock.jpg" />
            </div>

        </div>

    </div>


</section>
