<!--==========================
About Section
============================-->


<!--==========================
Services Section
============================-->
<section class="page" id="services">

    <div class="video-slider">
        <div class="main">
            <img src="/Themes/hayat2/img/slider/1.jpg" />

            <i class="fa fa-play-circle-o"></i>
        </div>

        <div class="child">
            <ul>
                <li>
                    <img src="/Themes/hayat2/img/slider/6.jpg" />
                </li>
                <li>
                    <img src="/Themes/hayat2/img/slider/7.jpg" />
                </li>
                <li>
                    <img src="/Themes/hayat2/img/slider/5.jpg" />
                </li>
                <li>
                    <img src="/Themes/hayat2/img/slider/8.jpg" />
                </li>
            </ul>
        </div>
    </div>
</section>

<!--==========================
Subscrbe Section
============================-->
<section class="page" id="subscribe">
    <div class="container wow">
        <div class="row">
            <div class="col-md-12 brands">
                <a href="http://www.venusglass.net">
                    <img src="/Themes/hayat2/img/brand/httpwww.venusglass.net.jpg" />
                </a>

                <a href="http://itc.co.ir">
                    <img src="/Themes/hayat2/img/brand/logo httpitc.co.ir.jpg" />
                </a>

                <a data-aos="fade-up-right" data-aos-delay="3000">
                    <img src="/Themes/hayat2/img/brand/سنچوری-225x168.jpg" />
                </a>

                <a href="http://www.kwc.com">
                    <img src="/Themes/hayat2/img/brand/httpwww.kwc.com.png" />
                </a>

                <a href="http://www.kwciran.com">
                    <img src="/Themes/hayat2/img/brand/www.kwciran.com.png" />
                </a>


            </div>
        </div>
    </div>
</section>


