<!--==========================
About Section
============================-->

<section id="about">
    <div class="container wow">
        <div class="row">
            <div class="col-md-12 main-block">


                <div class="row">

                    <div class="col-md-4 col-sm-12">
                        <div class="table">
                            <table class="table table-responsive">

                                <thead>
                                    <tr>
                                        <th>نام واحد</th>
                                        <th>متراژ</th>
                                        <th>جهت</th>
                                        <th>اتاق</th>
                                        <th>امتیاز</th>
                                        <th>واحد مشابه</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="item in table"
                                        ng-class="item.className"
                                        ng-click="selectTable(item)">
                                        <td>{{item.N}}</td>
                                        <td>{{item.M}}</td>
                                        <td>{{item.J}}</td>
                                        <td>{{item.O}}</td>
                                        <td>{{item.R}}</td>
                                        <td></td>
                                        <td>
                                            <a class="btn btn-success" href="#!/register">مشاهده</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-8 col-sm-12">
                        <div class="map animated bounceInLeft">
                            <img class="main-block" src="/Themes/hayat2/img/map/Blocks Maps.png" usemap="#main" />

                            <map name="main">
                                <area id="coordBlockA" ng-click="gotoBlock('a')" coords="344,477,308,507,250,550,229,512,203,463,131,367,117,163,217,123,216,100,239,119,238,148,278,192,286,185,309,212,318,232,331,232,345,253,321,478" shape="poly">
                                <area id="coordBlockB" ng-click="gotoBlock('b')" coords="274,69,228,21,207,24,155,25,100,38,66,41,5,61,22,190,27,252,70,301,89,286,105,311,129,346,119,161,190,130,193,105" shape="poly">
                                <area id="coordBlockC" ng-click="gotoBlock('c')" coords="504,124,477,100,389,31,391,9,380,0,347,16,342,26,330,15,311,22,300,11,269,22,268,52,288,71,284,181,302,174,328,197,327,228,347,247,344,349,362,378,458,332,466,315" shape="poly">
                                <area id="coordBlockM" ng-click="gotoBlock('m')" coords="481,304,627,380,623,394,528,435,485,466,452,549,449,600,289,565,234,557,148,485,7,256,19,240,59,296,101,346,147,394,190,470,226,512,256,552,313,536,316,508,356,478,337,440,344,364,366,385" shape="poly">
                            </map>

                            <img id="a" usemap="#main" src="/Themes/hayat2/img/map/box/Blocks A Maps Icon-box .png" class="main-block block" />
                            <img id="b" usemap="#main" src="/Themes/hayat2/img/map/box/Blocks B Maps Icon-box .png" class="main-block block" />
                            <img id="c" usemap="#main" src="/Themes/hayat2/img/map/box/Blocks C Maps Icon-box .png" class="main-block block" />
                            <img id="m" usemap="#main" src="/Themes/hayat2/img/map/box/Blocks M Maps Icon-box .png" class="main-block block" />

                            <div>
                                <div class="block-a first">
                                    <img src="/Themes/hayat2/img/3.jpg" />
                                    <label>ضلع شمالی</label>
                                </div>

                                <div class="block-a seconde">
                                    <img src="/Themes/hayat2/img/3.jpg" />
                                    <label>ضلع شرقی</label>
                                </div>

                                <div class="block-a third">
                                    <img src="/Themes/hayat2/img/3.jpg" />
                                    <label>ضلع جنوبی</label>
                                </div>
                            </div>

                            <div>
                                <div class="block-b first">
                                    <img src="/Themes/hayat2/img/3.jpg" />
                                    <label>ضلع شمالی</label>
                                </div>

                                <div class="block-b seconde">
                                    <img src="/Themes/hayat2/img/3.jpg" />
                                    <label>ضلع شرقی</label>
                                </div>

                                <div class="block-b third">
                                    <img src="/Themes/hayat2/img/3.jpg" />
                                    <label>ضلع جنوبی</label>
                                </div>
                            </div>

                            <div>
                                <div class="block-c first">
                                    <img src="/Themes/hayat2/img/3.jpg" />
                                    <label>ضلع شمالی</label>
                                </div>

                                <div class="block-c seconde">
                                    <img src="/Themes/hayat2/img/3.jpg" />
                                    <label>ضلع شرقی</label>
                                </div>

                                <div class="block-c third">
                                    <img src="/Themes/hayat2/img/3.jpg" />
                                    <label>ضلع جنوبی</label>
                                </div>
                            </div>


                            <div>
                                <div class="block-m first">
                                    <img src="/Themes/hayat2/img/3.jpg" />
                                    <label>ضلع شمالی</label>
                                </div>

                                <div class="block-m seconde">
                                    <img src="/Themes/hayat2/img/3.jpg" />
                                    <label>ضلع شرقی</label>
                                </div>

                                <div class="block-m third">
                                    <img src="/Themes/hayat2/img/3.jpg" />
                                    <label>ضلع جنوبی</label>
                                </div>
                            </div>


                            <!--<div class="seconde" data-container="body" data-toggle="popover" data-placement="right">
                                <img src="/Themes/hayat2/img/team-1.jpg" />
                                <label>ضلع شمالی</label>
                            </div>

                            <div class="third" data-container="body" data-toggle="popover" data-placement="right">
                                <img src="/Themes/hayat2/img/team-1.jpg" />
                                <label>ضلع شمالی</label>
                            </div>-->
                        </div>
                    </div>

                    
                </div>

                <div class="mobile-box row">


                    <div class="sol-md-6 col-sm-6 col-xs-6">
                        <div class="hadi-box">
                            بلوک A
                        </div>
                    </div>

                    <div class="sol-md-6 col-sm-6 col-xs-6">
                        <div class="hadi-box">
                            بلوک B
                        </div>
                    </div>

                    <div class="sol-md-6 col-sm-6 col-xs-6">
                        <div class="hadi-box">
                            بلوک C
                        </div>
                    </div>

                    <div class="sol-md-6 col-sm-6 col-xs-6">
                        <div class="hadi-box">
                            بلوک M
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>

<!--==========================
Services Section
============================-->
<section id="services">

    <div class="video-slider">
        <div class="main">
            <img src="/Themes/hayat2/img/slider/1.jpg" />

            <i class="fa fa-play-circle-o"></i>
        </div>

        <div class="child">
            <ul>
                <li>
                    <img src="/Themes/hayat2/img/slider/6.jpg" />
                </li>
                <li>
                    <img src="/Themes/hayat2/img/slider/7.jpg" />
                </li>
                <li>
                    <img src="/Themes/hayat2/img/slider/5.jpg" />
                </li>
                <li>
                    <img src="/Themes/hayat2/img/slider/8.jpg" />
                </li>
            </ul>
        </div>
    </div>
</section>

<!--==========================
Subscrbe Section
============================-->
<section id="subscribe">
    <div class="container wow">
        <div class="row">
            <div class="col-md-12 brands">
                <a href="http://www.venusglass.net">
                    <img src="/Themes/hayat2/img/brand/httpwww.venusglass.net.jpg" />
                </a>

                <a href="http://itc.co.ir">
                    <img src="/Themes/hayat2/img/brand/logo httpitc.co.ir.jpg" />
                </a>

                <a data-aos="fade-up-right" data-aos-delay="3000">
                    <img src="/Themes/hayat2/img/brand/سنچوری-225x168.jpg" />
                </a>

                <a href="http://www.kwc.com">
                    <img src="/Themes/hayat2/img/brand/httpwww.kwc.com.png" />
                </a>

                <a href="http://www.kwciran.com">
                    <img src="/Themes/hayat2/img/brand/www.kwciran.com.png" />
                </a>


            </div>
        </div>
    </div>
</section>


