<div class="counter bg--overlay before-bg-color--secondary" data-bg-img="img/counter-img/bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="counter-holder">
                    <div class="counter-icon">
                        <i class="fa fa-at">
                        </i>
                    </div>
                    <p class="counter-text">
                        Domains Registered
                    </p>
                    <div class="counter-number" data-counter-up="true">
                        2,500
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counter-holder">
                    <div class="counter-icon">
                        <i class="fa fa-smile-o">
                        </i>
                    </div>
                    <p class="counter-text">
                        Happy Clients
                    </p>
                    <div class="counter-number" data-counter-up="true">
                        400
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counter-holder">
                    <div class="counter-icon">
                        <i class="fa fa-code">
                        </i>
                    </div>
                    <p class="counter-text">
                        Line of Code
                    </p>
                    <div class="counter-number" data-counter-up="true">
                        9,478,815
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counter-holder">
                    <div class="counter-icon">
                        <i class="fa fa-coffee">
                        </i>
                    </div>
                    <p class="counter-text">
                        Cup of Tea
                    </p>
                    <div class="counter-number" data-counter-up="true">
                        78,815
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>