<div id="domainSearch">
    <div class="container">
        <div class="domain-search--wrapper bg-color--secondary">
            <div class="row content">
                <div class="col-md-4 left-content bg--theme-color">
                    <h2>
                        Get 10% Off Today
                    </h2>
                    <p>
                        by register a domain name
                    </p>
                </div>
                <div class="col-md-8 right-content">
                    <div data-form-validation="true">
                        <form action="http://billing.ywhmcs.com/domainchecker.php?systpl=NYHost01" method="post" id="domainSearchForm">
                            <div class="row reset-gutter">
                                <div class="col-sm-6">
                                    <input class="form-control" name="domain" type="text" placeholder="Enter your domain" required>
                                </div>
                                <div class="col-sm-3 select-box">
                                    <select class="form-control" name="ext">
                                        <option>
                                            .com
                                        </option>
                                        <option>
                                            .net
                                        </option>
                                        <option>
                                            .org
                                        </option>
                                        <option>
                                            .info
                                        </option>
                                        <option>
                                            .us
                                        </option>
                                        <option>
                                            .eu
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn submit-button-custom" type="submit">
                                        SEARCH
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row domain-ext hidden-xs">
                        <div class="col-sm-2">
                            <a href="#" class="extension">
                                <span class="name">
                                    .com
                                </span>
                                <span>
                                    $3.99/year
                                </span>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="extension">
                                <span class="name">
                                    .net
                                </span>
                                <span>
                                    $3.99/year
                                </span>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="extension">
                                <span class="name">
                                    .org
                                </span>
                                <span>
                                    $3.99/year
                                </span>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="extension">
                                <span class="name">
                                    .info
                                </span>
                                <span>
                                    $3.99/year
                                </span>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="extension">
                                <span class="name">
                                    .us
                                </span>
                                <span>
                                    $3.99/year
                                </span>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="extension">
                                <span class="name">
                                    .eu
                                </span>
                                <span>
                                    $3.99/year
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>