<div id="features">
    <div class="container">
        <div class="section-title">
            <h2>
                Domain Features
            </h2>
        </div>
        <div class="row AdjustRow">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="feature--item">
                    <div class="feature--icon">
                        <div class="vc-parent">
                            <div class="vc-child">
                                <img src="img/features-img/icon-01.png" alt="" class="img-responsive center-block" />
                            </div>
                        </div>
                    </div>
                    <div class="feature--content">
                        <h4>
                            Firewall
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, placeat necessitatibus adipisicing elit.
                        </p>
                        <a href="#" class="btn btn-custom">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="feature--item">
                    <div class="feature--icon">
                        <div class="vc-parent">
                            <div class="vc-child">
                                <img src="img/features-img/icon-02.png" alt="" class="img-responsive center-block" />
                            </div>
                        </div>
                    </div>
                    <div class="feature--content">
                        <h4>
                            Data Encryption
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, placeat necessitatibus adipisicing elit.
                        </p>
                        <a href="#" class="btn btn-custom">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="feature--item">
                    <div class="feature--icon">
                        <div class="vc-parent">
                            <div class="vc-child">
                                <img src="img/features-img/icon-03.png" alt="" class="img-responsive center-block" />
                            </div>
                        </div>
                    </div>
                    <div class="feature--content">
                        <h4>
                            Data Analysis
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, placeat necessitatibus adipisicing elit.
                        </p>
                        <a href="#" class="btn btn-custom">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="feature--item">
                    <div class="feature--icon">
                        <div class="vc-parent">
                            <div class="vc-child">
                                <img src="img/features-img/icon-04.png" alt="" class="img-responsive center-block" />
                            </div>
                        </div>
                    </div>
                    <div class="feature--content">
                        <h4>
                            Data Protection
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, placeat necessitatibus adipisicing elit.
                        </p>
                        <a href="#" class="btn btn-custom">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>