
<div id="faq">
    <div class="container">
        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
        </div>
        <div class="faq-content">
            <div class="panel-group accordion" id="accordion1" role="tablist">
                <div class="panel panel-default active">
                    <div class="panel-heading" role="tab">
                        <a href="#sharedTabQ1" role="button" data-toggle="collapse" data-parent="#accordion1" aria-expanded="false" class="collapsed">
                            <h4 class="panel-title">
                                What Is A Shared Hosting?
                                <i class="fa fa-minus"></i>
                            </h4>
                        </a>
                    </div>
                    <div id="sharedTabQ1" class="panel-collapse collapse" role="tabpanel" aria-expanded="false" style="height: 1px;">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates illum aspernatur odio similique voluptatibus itaque magni dicta quasi nesciunt. Possimus animi in, voluptatem facere sint aut quibusdam expedita. Voluptates, laudantium.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt aliquam cumque praesentium iusto delectus rem officia quas quos tempore quaerat laudantium incidunt minus, quae veniam itaque expedita voluptatum perspiciatis adipisci!</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <a href="#sharedTabQ2" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" aria-expanded="false">
                            <h4 class="panel-title">
                                How Do I Transfer Web Pages To Server?
                                <i class="fa fa-minus"></i>
                            </h4>
                        </a>
                    </div>
                    <div id="sharedTabQ2" class="panel-collapse collapse" role="tabpanel" aria-expanded="false" style="height: 1px;">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates illum aspernatur odio similique voluptatibus itaque magni dicta quasi nesciunt. Possimus animi in, voluptatem facere sint aut quibusdam expedita. Voluptates, laudantium.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt aliquam cumque praesentium iusto delectus rem officia quas quos tempore quaerat laudantium incidunt minus, quae veniam itaque expedita voluptatum perspiciatis adipisci!</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <a href="#sharedTabQ3" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" aria-expanded="false">
                            <h4 class="panel-title">
                                Purchased A Hosting, Now What Do i Do?
                                <i class="fa fa-minus"></i>
                            </h4>
                        </a>
                    </div>
                    <div id="sharedTabQ3" class="panel-collapse collapse" role="tabpanel" aria-expanded="false">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates illum aspernatur odio similique voluptatibus itaque magni dicta quasi nesciunt. Possimus animi in, voluptatem facere sint aut quibusdam expedita. Voluptates, laudantium.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt aliquam cumque praesentium iusto delectus rem officia quas quos tempore quaerat laudantium incidunt minus, quae veniam itaque expedita voluptatum perspiciatis adipisci!</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <a href="#sharedTabQ4" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" aria-expanded="false">
                            <h4 class="panel-title">
                                How Do I Purchase A Shared Hosting For My Hosting Account?
                                <i class="fa fa-minus"></i>
                            </h4>
                        </a>
                    </div>
                    <div id="sharedTabQ4" class="panel-collapse collapse" role="tabpanel" aria-expanded="false">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates illum aspernatur odio similique voluptatibus itaque magni dicta quasi nesciunt. Possimus animi in, voluptatem facere sint aut quibusdam expedita. Voluptates, laudantium.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt aliquam cumque praesentium iusto delectus rem officia quas quos tempore quaerat laudantium incidunt minus, quae veniam itaque expedita voluptatum perspiciatis adipisci!</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <a href="#sharedTabQ5" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" aria-expanded="false">
                            <h4 class="panel-title">
                                What Kind of Web Hosting Plan Do I Need?
                                <i class="fa fa-minus"></i>
                            </h4>
                        </a>
                    </div>
                    <div id="sharedTabQ5" class="panel-collapse collapse" role="tabpanel" aria-expanded="false">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates illum aspernatur odio similique voluptatibus itaque magni dicta quasi nesciunt. Possimus animi in, voluptatem facere sint aut quibusdam expedita. Voluptates, laudantium.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt aliquam cumque praesentium iusto delectus rem officia quas quos tempore quaerat laudantium incidunt minus, quae veniam itaque expedita voluptatum perspiciatis adipisci!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>