<div id="featuresTab" class="bg--lightgray">
    <div class="container">
        <div class="section-title">
            <h2>
                Hosting Features Included
            </h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="features-tab--nav">
                    <ul>
                        <li class="active">
                            <a href="#featuresTabItem01" class="btn btn-lg btn-custom" data-toggle="tab">
                                High-Performance
                            </a>
                        </li>
                        <li>
                            <a href="#featuresTabItem02" class="btn btn-lg btn-custom" data-toggle="tab">
                                Enhanced Security
                            </a>
                        </li>
                        <li>
                            <a href="#featuresTabItem03" class="btn btn-lg btn-custom" data-toggle="tab">
                                Spam Guard
                            </a>
                        </li>
                        <li>
                            <a href="#featuresTabItem04" class="btn btn-lg btn-custom" data-toggle="tab">
                                Unbeatable Support
                            </a>
                        </li>
                        <li>
                            <a href="#featuresTabItem05" class="btn btn-lg btn-custom" data-toggle="tab">
                                99.9% Uptime
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="features-tab--items tab-content">
                    <div class="features-tab--item tab-pane fade in active" id="featuresTabItem01">
                        <div class="features-tab--content">
                            <h3>
                                Speed advancements with a converged infrastructure
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore reprehenderit laborum, ab exercitationem sunt aliquam illo! Aliquid labore animi, alias ratione ad necessitatibus ipsa perspiciatis. Quae architecto totam, reprehenderit ipsa.
                            </p>
                            <ul>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="features-tab--item tab-pane fade" id="featuresTabItem02">
                        <div class="features-tab--content">
                            <h3>
                                Relax. Maximum security through redundant data storage.
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore reprehenderit laborum, ab exercitationem sunt aliquam illo! Aliquid labore animi, alias ratione ad necessitatibus ipsa perspiciatis. Quae architecto totam, reprehenderit ipsa.
                            </p>
                            <ul>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="features-tab--item tab-pane fade" id="featuresTabItem03">
                        <div class="features-tab--content">
                            <h3>
                                You receive that unsolicited bulk messages. No More.
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore reprehenderit laborum, ab exercitationem sunt aliquam illo! Aliquid labore animi, alias ratione ad necessitatibus ipsa perspiciatis. Quae architecto totam, reprehenderit ipsa.
                            </p>
                            <ul>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="features-tab--item tab-pane fade" id="featuresTabItem04">
                        <div class="features-tab--content">
                            <h3>
                                Extreme Support. If you need us, we are always here.
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore reprehenderit laborum, ab exercitationem sunt aliquam illo! Aliquid labore animi, alias ratione ad necessitatibus ipsa perspiciatis. Quae architecto totam, reprehenderit ipsa.
                            </p>
                            <ul>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="features-tab--item tab-pane fade" id="featuresTabItem05">
                        <div class="features-tab--content">
                            <h3>
                                Promised SLA in any month
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore reprehenderit laborum, ab exercitationem sunt aliquam illo! Aliquid labore animi, alias ratione ad necessitatibus ipsa perspiciatis. Quae architecto totam, reprehenderit ipsa.
                            </p>
                            <ul>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li>
                                    <i class="fa fa-check">
                                    </i>
                                    Lorem ipsum dolor sit amet
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
