<div id="contactInfo" class="before-bg-color--secondary hidden-xs">
    <div class="container">
        <div class="row reset-gutter">
            <div class="contact-info--item col-md-3 col-xs-6">
                <a href="#">
                    <i class="fa fa-headphones">
                    </i>
                    24/7 Customer Support
                </a>
            </div>
            <div class="contact-info--item col-md-3 col-xs-6 hidden-sm">
                <a href="#">
                    <i class="fa fa-envelope-o">
                    </i>
                    <span>
                        info@@happyspider.org
                    </span>
                </a>
            </div>
            <div class="contact-info--item col-md-3 col-xs-6 hidden-sm">
                <a href="#" data-toggle="tawk">
                    <i class="fa fa-comments-o">
                    </i>
                    Click Here To Live Chat
                </a>
            </div>
            <div class="contact-info--item col-md-3 col-xs-6">
                <a href="#">
                    <i class="fa fa-phone">
                    </i>
                    +44 000 000 000
                </a>
            </div>
        </div>
    </div>
</div>
