<div id="pricing" class="bg--lightgray">
    <div class="container">
        <div class="section-title">
            <h2>
                Populer Pricing
            </h2>
        </div>
        <div class="pricing--slider">
            <div class="pricing--item">
                <div class="pricing--content">
                    <div class="pt-plan">
                        Shared Hosting
                    </div>
                    <div class="pt-head before-bg--theme-color">
                        <div class="caption">
                            Starting At
                        </div>
                        <div class="pt-price-tag">
                            $19
                            <span>
                                /m
                            </span>
                        </div>
                    </div>
                    <div class="pt-body">
                        <div class="pt-features">
                            <ul>
                                <li>
                                    2GB RAM
                                </li>
                                <li>
                                    20GB SSD Cloud Storage
                                </li>
                                <li>
                                    Weekly Backups
                                </li>
                                <li>
                                    DDoS Protection
                                </li>
                                <li>
                                    Full Root Access
                                </li>
                                <li>
                                    24/7/365 Tech Support
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pt-footer">
                        <a href="#" class="btn btn-lg btn-custom">
                            Order Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="pricing--item">
                <div class="pricing--content">
                    <div class="pt-plan">
                        Reseller Hosting
                    </div>
                    <div class="pt-head before-bg--theme-color">
                        <div class="caption">
                            Starting At
                        </div>
                        <div class="pt-price-tag">
                            $29
                            <span>
                                /m
                            </span>
                        </div>
                    </div>
                    <div class="pt-body">
                        <div class="pt-features">
                            <ul>
                                <li>
                                    4GB RAM
                                </li>
                                <li>
                                    50GB SSD Cloud Storage
                                </li>
                                <li>
                                    Weekly Backups
                                </li>
                                <li>
                                    DDoS Protection
                                </li>
                                <li>
                                    Full Root Access
                                </li>
                                <li>
                                    24/7/365 Tech Support
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pt-footer">
                        <a href="#" class="btn btn-lg btn-custom">
                            Order Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="pricing--item">
                <div class="pricing--content">
                    <div class="pt-plan">
                        Cloud VPS
                    </div>
                    <div class="pt-head before-bg--theme-color">
                        <div class="caption">
                            Starting At
                        </div>
                        <div class="pt-price-tag">
                            $49
                            <span>
                                /m
                            </span>
                        </div>
                    </div>
                    <div class="pt-body">
                        <div class="pt-features">
                            <ul>
                                <li>
                                    8GB RAM
                                </li>
                                <li>
                                    80GB SSD Cloud Storage
                                </li>
                                <li>
                                    Weekly Backups
                                </li>
                                <li>
                                    DDoS Protection
                                </li>
                                <li>
                                    Full Root Access
                                </li>
                                <li>
                                    24/7/365 Tech Support
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pt-footer">
                        <a href="#" class="btn btn-lg btn-custom">
                            Order Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="pricing--item">
                <div class="pricing--content">
                    <div class="pt-plan">
                        VPS Pro
                    </div>
                    <div class="pt-head before-bg--theme-color">
                        <div class="caption">
                            Starting At
                        </div>
                        <div class="pt-price-tag">
                            $89
                            <span>
                                /m
                            </span>
                        </div>
                    </div>
                    <div class="pt-body">
                        <div class="pt-features">
                            <ul>
                                <li>
                                    16GB RAM
                                </li>
                                <li>
                                    100GB SSD Cloud Storage
                                </li>
                                <li>
                                    Weekly Backups
                                </li>
                                <li>
                                    DDoS Protection
                                </li>
                                <li>
                                    Full Root Access
                                </li>
                                <li>
                                    24/7/365 Tech Support
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pt-footer">
                        <a href="#" class="btn btn-lg btn-custom">
                            Order Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="pricing--item">
                <div class="pricing--content">
                    <div class="pt-plan">
                        Managed Servers
                    </div>
                    <div class="pt-head before-bg--theme-color">
                        <div class="caption">
                            Starting At
                        </div>
                        <div class="pt-price-tag">
                            $99
                            <span>
                                /m
                            </span>
                        </div>
                    </div>
                    <div class="pt-body">
                        <div class="pt-features">
                            <ul>
                                <li>
                                    16GB RAM
                                </li>
                                <li>
                                    100GB SSD Cloud Storage
                                </li>
                                <li>
                                    Weekly Backups
                                </li>
                                <li>
                                    DDoS Protection
                                </li>
                                <li>
                                    Full Root Access
                                </li>
                                <li>
                                    24/7/365 Tech Support
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pt-footer">
                        <a href="#" class="btn btn-lg btn-custom">
                            Order Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
