<div id="promo" class="alert bg-color--secondary">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div class="container">
        <p>
            <strong>Cyber Monday! </strong>Up To
            <strong> 98% Off</strong> All Of Your New Order. Coupon Code: "
            <strong>cm98</strong>". Time Left:
            <strong data-counter-down="2017/11/29">00:00:00</strong>
        </p>
        <a href="#" class="btn btn-custom-reverse">Click Here</a>
    </div>
</div>