<ul>
    <li>
        <a href="https://www.facebook.com/happyspider.org/">
            <i class="fa fa-facebook">
            </i>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/happyspider_org/">
            <i class="fa fa-instagram">
            </i>
        </a>
    </li>
    @*<li>
            <a href="#">
                <i class="fa fa-google-plus">
                </i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-linkedin">
                </i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-youtube">
                </i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-behance">
                </i>
            </a>
        </li>*@
</ul>