<div id="testimonial">
    <div class="container">
        <div class="section-title">
            <h2>
                Loved By
                <span data-counter-up="true">
                    41169
                </span>
                Peoples
            </h2>
        </div>
        <div class="testimonial-slider">
            <div class="testimonial-item">
                <div class="recommender-comment">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum similique ad, magnam, odit repellat reprehenderit. Consequatur consectetur aspernatur ad assumenda a. Aspernatur fugit numquam quod rerum sint facere ex ullam. A, blanditiis quod, tempore magni veniam perferendis aliquid vitae saepe.
                    </p>
                </div>
                <div class="recommender-img">
                    <img src="img/testimonial-img/01.jpg" alt="" class="img-responsive" />
                </div>
                <div class="recommender-info">
                    <span class="recommender-name">
                        John Doe,
                    </span>
                    <span class="recommender-role">
                        Company
                    </span>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="recommender-comment">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum similique ad, magnam, odit repellat reprehenderit. Consequatur consectetur aspernatur ad assumenda a. Aspernatur fugit numquam quod rerum sint facere ex ullam. A, blanditiis quod, tempore magni veniam perferendis aliquid vitae saepe.
                    </p>
                </div>
                <div class="recommender-img">
                    <img src="img/testimonial-img/02.jpg" alt="" class="img-responsive" />
                </div>
                <div class="recommender-info">
                    <span class="recommender-name">
                        Mohammad Al Omayer,
                    </span>
                    <span class="recommender-role">
                        Company
                    </span>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="recommender-comment">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum similique ad, magnam, odit repellat reprehenderit. Consequatur consectetur aspernatur ad assumenda a. Aspernatur fugit numquam quod rerum sint facere ex ullam. A, blanditiis quod, tempore magni veniam perferendis aliquid vitae saepe.
                    </p>
                </div>
                <div class="recommender-img">
                    <img src="img/testimonial-img/03.jpg" alt="" class="img-responsive" />
                </div>
                <div class="recommender-info">
                    <span class="recommender-name">
                        Jane Doe,
                    </span>
                    <span class="recommender-role">
                        Company
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
