.map-section .map {
  width: 100%;
  height: 100%;
  position: relative;
}
.map-section .map img.main-block {
  position: absolute;
  top: 0;
  left: calc(50% - 314px);
  height: 604px;
  width: 628px;
  float: right;
}
.map-section .map img.main-block.block {
  display: none;
}
.map-section .map img.main-block.block.active {
  display: block;
}
.map-section .map .block-a {
  border: 1px solid;
  position: absolute;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 1px #ccc;
  display: none;
}
.map-section .map .block-a.active {
  display: block;
}
.map-section .map .block-a.first {
  height: 120px;
  width: 160px;
  left: 63px;
  bottom: -373px;
  /*&:after {
                    position: absolute;
                    content: ' ';
                    bottom: 38px;
                    right: -31px;
                    width: 0;
                    height: 0;
                    border-left: 0px solid transparent;
                    border-right: 30px solid transparent;
                    border-top: 20px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-a.first img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-a.first label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-a.seconde {
  height: 120px;
  width: 160px;
  left: 40%;
  bottom: -539px;
  /*&:after {
                    content: '';
                    position: absolute;
                    left: 83px;
                    top: -41px;
                    width: 0;
                    height: 0;
                    border-left: 0 solid transparent;
                    border-right: 20px solid transparent;
                    border-bottom: 40px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-a.seconde img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-a.seconde label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-a.third {
  height: 120px;
  width: 160px;
  left: 31%;
  bottom: -185px;
  /*&:after {
                    content: '';
                    position: absolute;
                    left: -50px;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border-left: 50px solid transparent;
                    border-right: 0px solid transparent;
                    border-top: 15px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-a.third img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-a.third label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-b {
  border: 1px solid;
  position: absolute;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 1px #ccc;
  display: none;
}
.map-section .map .block-b.active {
  display: block;
}
.map-section .map .block-b.first {
  height: 120px;
  width: 160px;
  left: 0;
  bottom: -236px;
  /*&:after {
                    position: absolute;
                    content: ' ';
                    bottom: 38px;
                    right: -31px;
                    width: 0;
                    height: 0;
                    border-left: 0px solid transparent;
                    border-right: 30px solid transparent;
                    border-top: 20px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-b.first img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-b.first label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-b.seconde {
  height: 120px;
  width: 160px;
  left: 6%;
  bottom: -15px;
  /*&:after {
                    content: '';
                    position: absolute;
                    left: 83px;
                    top: 116px;
                    width: 0;
                    height: 0;
                    border-left: 0 solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 35px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-b.seconde img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-b.seconde label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-b.third {
  height: 120px;
  width: 160px;
  left: 36%;
  bottom: -109px;
  /*&:after {
                    content: '';
                    position: absolute;
                    left: -50px;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border-left: 50px solid transparent;
                    border-right: 0px solid transparent;
                    border-top: 15px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-b.third img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-b.third label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-c {
  border: 1px solid;
  position: absolute;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 1px #ccc;
  display: none;
}
.map-section .map .block-c.active {
  display: block;
}
.map-section .map .block-c.first {
  height: 120px;
  width: 160px;
  right: 48%;
  top: -109px;
  /*&:after {
                    position: absolute;
                    content: ' ';
                    bottom: -18px;
                    left: 50%;
                    width: 0;
                    height: 0;
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 20px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-c.first img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-c.first label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-c.seconde {
  height: 120px;
  width: 160px;
  right: 23%;
  top: -70px;
  /*&:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 0;
                    height: 0;
                    border-left: 0 solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 50px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-c.seconde img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-c.seconde label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-c.third {
  height: 120px;
  width: 160px;
  right: 18%;
  bottom: -254px;
  /*&:after {
                    content: '';
                    position: absolute;
                    left: -50px;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border-left: 50px solid transparent;
                    border-right: 0px solid transparent;
                    border-top: 15px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-c.third img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-c.third label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-m {
  border: 1px solid;
  position: absolute;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 1px #ccc;
  display: none;
}
.map-section .map .block-m.active {
  display: block;
}
.map-section .map .block-m.first {
  height: 120px;
  width: 160px;
  right: 48%;
  bottom: -715px;
  /*transform: rotate(12deg);*/
  /*&:after {
                    position: absolute;
                    content: ' ';
                    top: -22px;
                    left: 50%;
                    width: 0;
                    height: 0;
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-bottom: 20px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-m.first img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-m.first label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-m.seconde {
  height: 120px;
  width: 160px;
  right: 21%;
  bottom: -653px;
  /*transform: rotate(20deg);*/
  /*&:after {
                    content: '';
                    position: absolute;
                    left: -31px;
                    top: 41px;
                    width: 0;
                    height: 0;
                    border-left: 30px solid transparent;
                    border-right: 0px solid transparent;
                    border-top: 15px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-m.seconde img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-m.seconde label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-m.third {
  height: 120px;
  width: 160px;
  right: 9%;
  bottom: -443px;
  /*&:after {
                    content: '';
                    position: absolute;
                    left: -50px;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border-left: 50px solid transparent;
                    border-right: 0px solid transparent;
                    border-top: 15px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-m.third img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-m.third label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .table {
  width: 100%;
  font-size: 11px;
}