@font-face {
  font-family: 'IRANSansWeb';
  src: url('../font/IRANSansWeb.eot') format('embedded-opentype'), url('../font/IRANSansWeb.ttf') format('truetype'), url('../font/IRANSansWeb.woff') format('woff');
}
body,
input,
select,
button,
textarea,
option {
  font-family: 'IRANSansWeb';
}
#fullpage section {
  height: 100vh;
  width: 100%;
  display: block;
}
#fullpage section:before,
#fullpage section:after {
  display: block;
  content: ' ';
  clear: both;
}
.right-icons {
  position: absolute;
  right: 0;
  top: calc(50% - 60px);
  height: 200px;
  z-index: 10;
}
.right-icons > ul {
  list-style-type: none;
  padding: 0 10px;
  color: #fff;
}
.right-icons > ul > li {
  display: block;
  cursor: pointer;
  text-align: left;
  transition: all 0.5s;
  line-height: 30px;
  height: 30px;
  width: 30px;
  margin-bottom: 5px;
  position: relative;
}
.right-icons > ul > li span {
  margin-right: 30px;
  width: 0;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  float: right;
  text-align: right;
  transition: width ease 0.5s;
  opacity: 0;
  text-overflow: ellipsis;
  background: rgba(0, 0, 0, 0.8);
}
.right-icons > ul > li i {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  font-size: 20px;
  color: #fff;
  float: right;
  background: rgba(0, 0, 0, 0.8);
}
.right-icons > ul > li.open,
.right-icons > ul > li:hover {
  width: auto;
}
.right-icons > ul > li.open > span,
.right-icons > ul > li:hover > span {
  padding: 0 5px 0 10px;
  width: 60px;
  opacity: 1;
}
.right-icons > ul > li .descrp {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 95px;
  height: 0;
  width: 0;
  transition: all 1s;
  font-size: 12px;
  line-height: 26px;
  text-align: justify;
  transition: all ease 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
}
.right-icons > ul > li .descrp ul li {
  text-align: right;
  margin: 3px;
  padding: 0;
  position: unset;
}
.right-icons > ul > li .descrp ul li a {
  color: #fff;
}
.right-icons > ul > li.open .descrp {
  display: block;
  height: 200px;
  width: 200px;
  padding: 5px;
}
.left-icons {
  position: absolute;
  z-index: 10;
  top: calc(50% - 60px);
  left: 10px;
}
.left-icons ul li {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin-bottom: 5px;
  color: #fff;
  font-size: 20px;
}
.left-icons ul li i {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
}
.ltr {
  display: inline-block;
  direction: ltr;
  text-align: left;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header .logo {
  background: rgba(0, 0, 0, 0.8);
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 0;
  box-shadow: 0 0 40px #000 inset, 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 300;
  position: absolute;
  top: 0;
  left: 0;
}
header .logo img {
  height: 80px;
}
header .links {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
  box-shadow: 0 0 40px #000 inset, 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  margin: 10px;
  padding: 0;
  line-height: 30px;
  height: 30px;
  z-index: 300;
  color: #fff;
}
header .links ul li {
  float: right;
  vertical-align: top;
}
header .links ul li i {
  width: 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  margin: 0 2px;
}
header .links ul li span {
  width: 0;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  height: 30px;
  line-height: 34px;
  text-overflow: ellipsis;
  transition: all ease 0.5s;
  text-align: right;
}
header .links ul li:hover span {
  padding-left: 1px;
  width: 60px;
  text-align: left;
}
header .links ul li:hover span.email {
  width: 125px;
}
header .links ul li:hover span.phone {
  width: 95px;
}
header nav {
  position: fixed;
  top: 120px;
  left: 0;
  width: 100%;
  padding: 0 20px 0 10px;
  box-sizing: border-box;
  z-index: 300;
}
header nav:before {
  position: absolute;
  top: 0;
  right: -20px;
  width: 120px;
  height: 40px;
  background-image: url('../img/Icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  content: ' ';
}
header nav ul {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  line-height: 40px;
  text-align: center;
  direction: rtl;
  border-radius: 0;
  box-shadow: 0 0 40px #000 inset, 0 0 10px rgba(0, 0, 0, 0.2);
}
header nav ul li {
  display: inline-block;
  position: relative;
  height: 40px;
}
header nav ul li > a {
  font-family: 'IRANSansWeb';
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
header nav ul li:before,
header nav ul li:last-child:after {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  background: #86949f;
  content: ' ';
  margin: 0 20px;
  transform: rotate(45deg);
  transition: all ease 0.5s;
}
header nav ul li > div {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 100%;
  right: 25px;
  width: 300px;
  background: #86949f;
  font-size: 13px;
  line-height: 24px;
  box-sizing: border-box;
  color: #fff;
  margin: 10px 0;
  text-align: justify;
  text-shadow: 0 0 1px #000;
  opacity: 0;
  transition: transform ease 1s;
  height: 0;
  overflow: hidden;
  transform: rotateX(-90deg);
  transform-origin: top right;
}
header nav ul li:hover:before,
header nav ul li:hover:last-child:after {
  transform: rotate(0);
}
header nav ul li:hover > div {
  display: block;
  height: auto;
  opacity: 1;
  padding: 10px;
  transform: rotateX(0);
}
#slider {
  height: 100vh;
  width: 100%;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  content: ' ';
  width: 100%;
  background-position: center center;
  -webkit-filter: brightness(0.9);
  overflow: hidden;
  transition: filter ease 0.5s;
}
#slider .slide .slice {
  background-size: 100%;
  transform: translateX(-100%);
}
#slider .slide .slice.one {
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
#slider .slide .slice.in,
#slider .slide .slice.out {
  transition: all ease 1s;
}
#slider .slide .slice.in {
  transform: translateX(0);
}
#slider .slide .slice.out {
  transform: translateX(100%);
}
#slider .slide img {
  width: 100%;
  display: none;
}
#slider .slide.deactive {
  z-index: 98;
}
#slider .slide.active {
  z-index: 99;
}
#slider .slide:hover {
  -webkit-filter: none;
}