
@font-face {
    font-family: 'IRANSansWeb';
    src: url('../fonts/IRANSansWeb.eot') format('embedded-opentype'), url('../fonts/IRANSansWeb.ttf') format('truetype'), url('../fonts/IRANSansWeb.woff') format('woff');
}

@blackColor: #222;
@blackColor2: #1e1e1e;
@baseColor1: #4e1c1b;
@baseColor2: #ff0000;
@baseColor3: #808080;


body {
    background: #fff;
    color: #666666;
    font-family: "IRANSansWeb", sans-serif;
    overflow-x: hidden;
}

.row {
    height: 100% !important;
    padding: 50px 0;
}

.fp-tableCell {
    height: 100% !important;
}

.slider {
    .page {
        position: absolute;
        left: 10px;
        bottom: 10px;
        padding: 10px;
        width: 166px;
        display: inline-block;
        color: #fff;
        list-style-type: none;

        li {
            float: right;
            border-radius: 3px;
            padding: 3px 5px;
            margin: 0 2px;
            cursor: pointer;

            &.one {
                img {
                    width: 5px;
                }
            }

            img {
                width: 10px;
                height: 14px;
            }

            &.active {
            }

            &.next {
                margin-left: 5px;
            }

            &.prev {
                margin-right: 5px;
            }
        }
    }

    .chat-logo {
        position: fixed;
        right: 20px;
        bottom: 20px;
        font-size: 60px;
        cursor: pointer;
        animation: shake 0.8s infinite;
        transform: translate3d(0, 0, 0);
        z-index: 9;
    }

    .row {
        padding: 10px;
        padding-top: 15px;
        position: absolute;
        top: 0;
        width: 100%;

        .top {

            &:hover {
                background-color: @blackColor;
                opacity: 0.7;
            }

            ul {

                li {
                    display: inline-block;
                    vertical-align: top;
                    height: 30px;
                    line-height: 30px;
                    overflow: hidden;
                    margin-left: 0;
                    font-size: 16px;
                    color: #fff;
                    transition: color ease 0.5s;
                    opacity: 1 !important;
                    cursor: pointer;


                    i {
                        display: inline-block;
                        vertical-align: middle;
                        width: 20px;
                        text-align: center;
                        height: 30px;
                        line-height: 30px;
                        box-sizing: border-box;
                        color: #fff;
                        transition: color ease 0.5s;
                        opacity: 1;
                    }

                    span.ltr {
                        font-size: 12px;
                    }

                    span {
                        display: inline-block;
                        overflow: hidden;
                        transition: all ease .5s;
                        vertical-align: middle;
                        font-size: 13px;
                        font-style: italic;
                        white-space: nowrap;
                        width: 0;
                        font-weight: bold;
                    }

                    &:hover {
                        color: #fff;


                        i {
                            color: #fff;
                        }

                        span {
                            width: 60px;
                        }

                        span.phone {
                            width: 100px;
                        }

                        span.social {
                            width: 70px;
                        }

                        span.email {
                            width: 120px;
                        }
                    }
                }
            }
        }

        .ebtekar-logo {
            img {
                width: 80px;
            }

            &:hover {
                background-color: @blackColor;
                opacity: 0.7;
                padding: 10px 5px 70px 5px;
            }
        }

        .action {
            width: 300px;
            text-align: right;
            padding: 5px;
            direction: rtl;

            &:hover {
                background-color: @blackColor;
                opacity: 0.7;
            }

            a {
                display: inline-block;

                i {
                    color: #fff;
                    font-size: 18px;
                    padding: 5px;
                    float: right;
                }

                label {
                    display: none;
                    float: right;

                    &.active {
                        display: block;
                    }
                }
            }
        }
    }

    #header {
        /*background-color: @blackColor;*/
        padding: 0;
        height: 33px;
        /*margin-right: 40px;*/
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        background-color: unset;


        .container {
            background-color: rgba(2, 2, 2, 0.5);
            width: 98.8%;
            margin-right: 16px;
            //search bar
            .search-bar {
                position: absolute;
                left: -690px;
                top: 41px;
                width: 724px;
                display: inline-block;
                transition: all 1s;

                &.open {
                    left: -41px;
                }

                input, select {
                    float: right;
                    width: 30%;
                    border-radius: 0;
                    background-color: rgba(2,2,2, 0.5);
                    color: #fff;
                }

                i {
                    background-color: @baseColor1;
                    color: #fff;
                    padding: 10px;
                    float: right;
                    cursor: pointer;
                }
            }


            img {
                position: absolute;
                right: 0;
                top: -1px;
                height: 32px;
            }
        }

        .menu-icon {
            background: url('../img/logo/Icon.png');
            background-size: contain;
            background-repeat: no-repeat;
            position: unset;
            right: 0;
            top: -1px;
            text-align: right;
            height: 32px;
            float: right;
            width: 80px;

            &:hover {
                background: url('../img/logo/Icon 02.png');
                background-size: contain;
                background-repeat: no-repeat;
                opacity: 1;
            }
        }


        .line {
            position: absolute;
            height: 26px;
            width: 15px;
            right: 1px;
            background-color: @blackColor;
            opacity: 0.5;
        }
    }

    #nav-menu-container {
        text-align: center;
        padding-top: 5px;

        .nav-menu {
            display: inline-block;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                float: right;
                white-space: unset;
                position: relative;

                &:hover {
                    .child-menu {
                        display: block;
                    }
                }

                .child-menu {
                    display: none;
                    position: absolute;
                    top: 35px;
                    right: -22px;
                    background-color: rgba(2,2,2,.7);
                    padding: 10px;
                    padding-right: 20px;
                    padding-top: 50px;
                    border-radius: 2px;
                    width: 300px;
                    height: 246px;
                    color: #efefef;
                    transition: all ease-in-out .8s;
                    text-align: justify;
                    word-break: break-word;
                    direction: rtl;

                    &:first-child {
                        &:befor {
                            position: absolute;
                            content: ' ';
                            top: -20px;
                            right: 6px;
                            width: 0;
                            height: 0;
                            border-left: 0px solid #fff;
                            border-right: 6px solid #222;
                            border-bottom: 20px solid #222;
                            border-top: 245px solid #222;
                            clear: both;
                            opacity: 0.7;
                        }
                    }

                    &:after {
                        //hadi
                        position: absolute;
                        content: ' ';
                        top: -20px;
                        right: 6px;
                        width: 0;
                        height: 0;
                        border-left: 0px solid #fff;
                        border-right: 6px solid #222;
                        border-bottom: 20px solid #222;
                        border-top: 245px solid #222;
                        clear: both;
                        opacity: 0.7;
                    }
                }
                /*list-style-type: square;*/
                a {
                    font-weight: 100;

                    &:hover {
                        color: #fff;
                        font-weight: bold;
                        text-shadow: 2px 2px 2px 5px #fff;
                        text-decoration: none;
                        /*font-size: 15px;*/
                        .child-menu {
                            display: block;
                        }
                    }
                }

                &:after {
                    display: inline-block;
                    content: ' ';
                    width: 6px;
                    height: 6px;
                    background: #fff;
                    margin: 0 10px;
                    border-radius: 0 2px 0 0;
                }

                &.menu-active {

                    a {
                        color: #fff;
                        font-weight: bold;
                    }
                }
            }

            a {
                padding: 0 30px;
                color: #fff;
            }
        }
    }

    .left-icons {
        position: fixed;
        left: 0;
        top: ~"calc(50% - 100px)";
        height: 200px;

        ul {
            list-style-type: none;

            li {
                width: 40px;
                margin: 10px 0;
                background-color: rgba(0,0,0, .7);
                color: #fff;
                padding: 5px;
                cursor: pointer;
                text-align: left;

                i {
                    font-size: 20px;
                }

                &:hover {
                    color: @baseColor1;
                    background-color: rgba(255,255,255, .7);
                }
            }
        }
    }

    .right-icons {
        position: fixed;
        right: 0;
        top: ~"calc(50% - 100px)";
        height: 200px;

        ul {
            list-style-type: none;
            padding: 10px;
            color: #fff;

            li {
                position: absolute;
                padding: 5px;
                margin: 10px 0;
                cursor: pointer;
                text-align: left;
                width: 110px;
                transition: all 0.5s;
                right: -75px;

                &:hover {
                    right: 0;
                    background-color: rgba(2,2,2,0.5);

                    i {
                        color: @baseColor1;
                    }
                }


                .descrp {
                    background-color: rgba(2,2,2, 0.5);
                    position: absolute;
                    left: 150px;
                    top: 0;
                    padding: 10px;
                    height: 200px;
                    width: 200px;
                    transition: all 1s;
                    text-align: justify;
                    word-break: break-word;

                    ul {
                        li {
                            text-align: right;
                            margin: 3px;
                            padding: 0;
                            position: unset;

                            a {
                                color: #fff;
                            }
                        }
                    }
                }

                &.open {
                    right: 0;
                    background-color: rgba(2,2,2,0.5);

                    i {
                        color: @baseColor1;
                    }

                    .descrp {
                        left: -200px;
                    }
                }

                &.gallery {
                    top: 0;
                }

                &.catalog {
                    top: 40px;
                }

                &.register {
                    top: 80px;
                }

                &.location {
                    top: 120px;
                }



                i {
                    font-size: 20px;
                    margin-right: 15px;
                    color: @baseColor3;
                }
            }
        }
    }

    .logo-hayat-no {
        position: absolute;
        bottom: 0;
        left: ~"calc(50% - 110px)";
        width: 220px;
        padding: 10px;

        &:hover {
            background-color: @blackColor;
            opacity: 0.8;
        }

        img {
            width: 180px;
            margin-bottom: 10px;
        }

        img.back {
            position: absolute;
            left: 28px;
            top: 13px;
            z-index: -1;
        }

        h4, h5 {
            text-align: center;
            color: #fff;
        }
    }

    .mobile-menu {
        display: none;

        .menu-icon {
            background: url('../img/logo/Icon.png');
            background-size: contain;
            background-repeat: no-repeat;
            position: unset;
            right: 0;
            top: -1px;
            text-align: right;
            height: 32px;
            float: right;
            width: 80px;

            &:hover {
                background: url('../img/logo/Icon 02.png');
                background-size: contain;
                background-repeat: no-repeat;
                opacity: 1;
            }
        }
    }

    .show-mobile {
        display: none;
    }
}

.map-section {
    .map {
        width: 100%;
        height: 100%;
        position: relative;

        img.main-block {
            position: absolute;
            top: 0;
            left: ~"calc(50% - 314px)";
            height: 604px;
            width: 628px;
            float: right;

            &.block {
                display: none;

                &.active {
                    display: block;
                }
            }
        }

        .block-a {
            border: 1px solid;
            position: absolute;
            background-color: #ddd;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-shadow: 1px 1px 3px 1px #ccc;
            display: none;

            &.active {
                display: block;
            }

            &.first {
                height: 120px;
                width: 160px;
                left: 63px;
                bottom: -373px;
                /*&:after {
                    position: absolute;
                    content: ' ';
                    bottom: 38px;
                    right: -31px;
                    width: 0;
                    height: 0;
                    border-left: 0px solid transparent;
                    border-right: 30px solid transparent;
                    border-top: 20px solid #ddd;
                    clear: both;
                }*/
                img {
                    float: right;
                    width: 100%;
                    height: 80%;
                }

                label {
                    z-index: 2;
                    width: 100%;
                    background-color: #999;
                    color: #fff;
                    border-top: 1px solid;
                }
            }

            &.seconde {
                height: 120px;
                width: 160px;
                left: 40%;
                bottom: -539px;
                /*&:after {
                    content: '';
                    position: absolute;
                    left: 83px;
                    top: -41px;
                    width: 0;
                    height: 0;
                    border-left: 0 solid transparent;
                    border-right: 20px solid transparent;
                    border-bottom: 40px solid #ddd;
                    clear: both;
                }*/
                img {
                    float: right;
                    width: 100%;
                    height: 80%;
                }

                label {
                    z-index: 2;
                    width: 100%;
                    background-color: #999;
                    color: #fff;
                    border-top: 1px solid;
                }
            }

            &.third {
                height: 120px;
                width: 160px;
                left: 31%;
                bottom: -185px;
                /*&:after {
                    content: '';
                    position: absolute;
                    left: -50px;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border-left: 50px solid transparent;
                    border-right: 0px solid transparent;
                    border-top: 15px solid #ddd;
                    clear: both;
                }*/
                img {
                    float: right;
                    width: 100%;
                    height: 80%;
                }

                label {
                    z-index: 2;
                    width: 100%;
                    background-color: #999;
                    color: #fff;
                    border-top: 1px solid;
                }
            }
        }

        .block-b {
            border: 1px solid;
            position: absolute;
            background-color: #ddd;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-shadow: 1px 1px 3px 1px #ccc;
            display: none;

            &.active {
                display: block;
            }

            &.first {
                height: 120px;
                width: 160px;
                left: 0;
                bottom: -236px;
                /*&:after {
                    position: absolute;
                    content: ' ';
                    bottom: 38px;
                    right: -31px;
                    width: 0;
                    height: 0;
                    border-left: 0px solid transparent;
                    border-right: 30px solid transparent;
                    border-top: 20px solid #ddd;
                    clear: both;
                }*/
                img {
                    float: right;
                    width: 100%;
                    height: 80%;
                }

                label {
                    z-index: 2;
                    width: 100%;
                    background-color: #999;
                    color: #fff;
                    border-top: 1px solid;
                }
            }

            &.seconde {
                height: 120px;
                width: 160px;
                left: 6%;
                bottom: -15px;
                /*&:after {
                    content: '';
                    position: absolute;
                    left: 83px;
                    top: 116px;
                    width: 0;
                    height: 0;
                    border-left: 0 solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 35px solid #ddd;
                    clear: both;
                }*/
                img {
                    float: right;
                    width: 100%;
                    height: 80%;
                }

                label {
                    z-index: 2;
                    width: 100%;
                    background-color: #999;
                    color: #fff;
                    border-top: 1px solid;
                }
            }

            &.third {
                height: 120px;
                width: 160px;
                left: 36%;
                bottom: -109px;
                /*&:after {
                    content: '';
                    position: absolute;
                    left: -50px;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border-left: 50px solid transparent;
                    border-right: 0px solid transparent;
                    border-top: 15px solid #ddd;
                    clear: both;
                }*/
                img {
                    float: right;
                    width: 100%;
                    height: 80%;
                }

                label {
                    z-index: 2;
                    width: 100%;
                    background-color: #999;
                    color: #fff;
                    border-top: 1px solid;
                }
            }
        }

        .block-c {
            border: 1px solid;
            position: absolute;
            background-color: #ddd;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-shadow: 1px 1px 3px 1px #ccc;
            display: none;

            &.active {
                display: block;
            }

            &.first {
                height: 120px;
                width: 160px;
                right: 48%;
                top: -109px;
                /*&:after {
                    position: absolute;
                    content: ' ';
                    bottom: -18px;
                    left: 50%;
                    width: 0;
                    height: 0;
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 20px solid #ddd;
                    clear: both;
                }*/
                img {
                    float: right;
                    width: 100%;
                    height: 80%;
                }

                label {
                    z-index: 2;
                    width: 100%;
                    background-color: #999;
                    color: #fff;
                    border-top: 1px solid;
                }
            }

            &.seconde {
                height: 120px;
                width: 160px;
                right: 23%;
                top: -70px;
                /*&:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 0;
                    height: 0;
                    border-left: 0 solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 50px solid #ddd;
                    clear: both;
                }*/
                img {
                    float: right;
                    width: 100%;
                    height: 80%;
                }

                label {
                    z-index: 2;
                    width: 100%;
                    background-color: #999;
                    color: #fff;
                    border-top: 1px solid;
                }
            }

            &.third {
                height: 120px;
                width: 160px;
                right: 18%;
                bottom: -254px;
                /*&:after {
                    content: '';
                    position: absolute;
                    left: -50px;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border-left: 50px solid transparent;
                    border-right: 0px solid transparent;
                    border-top: 15px solid #ddd;
                    clear: both;
                }*/
                img {
                    float: right;
                    width: 100%;
                    height: 80%;
                }

                label {
                    z-index: 2;
                    width: 100%;
                    background-color: #999;
                    color: #fff;
                    border-top: 1px solid;
                }
            }
        }

        .block-m {
            border: 1px solid;
            position: absolute;
            background-color: #ddd;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-shadow: 1px 1px 3px 1px #ccc;
            display: none;

            &.active {
                display: block;
            }

            &.first {
                height: 120px;
                width: 160px;
                right: 48%;
                bottom: -715px;
                /*transform: rotate(12deg);*/
                /*&:after {
                    position: absolute;
                    content: ' ';
                    top: -22px;
                    left: 50%;
                    width: 0;
                    height: 0;
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-bottom: 20px solid #ddd;
                    clear: both;
                }*/
                img {
                    float: right;
                    width: 100%;
                    height: 80%;
                }

                label {
                    z-index: 2;
                    width: 100%;
                    background-color: #999;
                    color: #fff;
                    border-top: 1px solid;
                }
            }

            &.seconde {
                height: 120px;
                width: 160px;
                right: 21%;
                bottom: -653px;
                /*transform: rotate(20deg);*/
                /*&:after {
                    content: '';
                    position: absolute;
                    left: -31px;
                    top: 41px;
                    width: 0;
                    height: 0;
                    border-left: 30px solid transparent;
                    border-right: 0px solid transparent;
                    border-top: 15px solid #ddd;
                    clear: both;
                }*/
                img {
                    float: right;
                    width: 100%;
                    height: 80%;
                }

                label {
                    z-index: 2;
                    width: 100%;
                    background-color: #999;
                    color: #fff;
                    border-top: 1px solid;
                }
            }

            &.third {
                height: 120px;
                width: 160px;
                right: 9%;
                bottom: -443px;
                /*&:after {
                    content: '';
                    position: absolute;
                    left: -50px;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border-left: 50px solid transparent;
                    border-right: 0px solid transparent;
                    border-top: 15px solid #ddd;
                    clear: both;
                }*/
                img {
                    float: right;
                    width: 100%;
                    height: 80%;
                }

                label {
                    z-index: 2;
                    width: 100%;
                    background-color: #999;
                    color: #fff;
                    border-top: 1px solid;
                }
            }
        }
    }

    .table {
        width: 100%;
        font-size: 11px;
    }
}

.video-slider {
    width: 100%;

    .main {
        height: 90%;
        width: 100%;
        margin: 0;
        position: relative;


        img {
            height: 500px;
            width: 100%;
        }

        i {
            position: absolute;
            left: 50%;
            top: 40%;
            font-size: 53px;
            color: #000;
            cursor: pointer;
        }
    }

    .child {
        background-color: #222;
        text-align: center;
        padding: 10px;

        ul {
            display: inline-block;
            list-style-type: none;

            li {
                float: right;
                margin: 0 10px;

                img {
                    height: 100px;
                    width: 120px;
                    cursor: pointer;
                }
            }
        }
    }
}

.brands {
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 5px;

    img {
        height: 100px;
        padding: 10px;
    }
}


.tabs {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(2,2,2, 0.7);
    height: 100%;
    padding: 0 10px;

    ul {
        list-style-type: none;
        width: 100%;
        padding: 0;

        li {
            padding: 10px;
            background-color: @baseColor3;
            margin: 3px 0;
            color: #000;
            cursor: pointer;

            &:hover {
                background-color: @baseColor1;
                color: #fff;
            }
        }
    }
}

.about {
    /*background-image: url(../img/نمای_سه_بعدی_ساختمان_حیات_نو_copy.jpg);
            background-size: cover;
            background-repeat: no-repeat;*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;



    .main-image {
        height: 100%;
        width: 100%;
    }

    .background {
        /*background: #4f1c1c;*/
        background: radial-gradient(rgba(79, 28, 28, 0.90), rgba(79, 28, 28, 0.95), rgb(60, 15, 15) );
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }



    .detail {
        position: absolute;
        left: 60%;
        top: 200px;
        width: 400px;
        padding: 10px;
        direction: rtl;

        .table {
            width: 100%;
        }


        .close {
            position: absolute;
            left: ~"calc(50%-56px)";
            top: -49px;
            color: #fff;
            font-size: 21px;
            opacity: 1;

            img {
                width: 112px;
                height: 40px;
            }
        }

        h2, p {
            color: #fff;
        }

        h2 {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }

        p {
            text-align: justify;
            word-break: break-word;
            line-height: 25px;
        }
    }



    &.block {
        position:relative;
        .background {
            /*background: #4f1c1c;*/
            /*background: radial-gradient(rgba(79, 28, 28, 0.70), rgba(79, 28, 28, 0.85), rgb(60, 15, 15) );*/
            background: linear-gradient(to right, rgba(79, 28, 28, 0.70), rgba(79, 28, 28, 1));
        }

        .main-image {
            position: absolute;
            left: 0;
            height: 657px;
            width: 913px;
        }

        .detail {
            position: absolute;
            left: 60%;
            top: 200px;
            width: 400px;
            padding: 10px;
            direction: rtl;

            .forward {
                i {
                    font-size: 30px;
                    color: #fff;
                    margin-left: 10px;
                }

                label {
                    font-size: 16px;
                    color: #fff;
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            .down, .up {
                float: left;

                i {
                    font-size: 30px;
                    color: #fff;
                    margin-left: 10px;
                }

                label {
                    font-size: 16px;
                    color: #fff;
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            .up {
                position: absolute;
                left: 0;
                top: -40px;
            }
        }

        .cell {
            position:absolute;
            .plan {
                width: 20%;
                height: 300px;
                float: left;
                position: relative;
                perspective: 1000px;
                transform: rotateX(45deg);
                left: -31px;

                img {
                    border: 1px solid;
                    height: 160px;
                    width: 160px;
                    transform: rotate3d(0,0,1,45deg);
                    position: absolute;
                    box-shadow: 1px 1px 2px 1px #ddd;

                    &:hover {
                        box-shadow: 1px 1px 2px 1px #4f1c1c;
                        /*transform: translateX(20px);
                transition: all linear 1s;
                z-index: 10;*/
                    }

                    &.active {
                        box-shadow: 1px 1px 2px 1px #4f1c1c;
                    }

                    &:nth-child(0) {
                        top: 100px;
                    }

                    &:nth-child(1) {
                        top: 80px;
                        /*-webkit-transform-origin: 50% 50% 50%;
                transform-origin: 50% 50% 50%;
                -webkit-transform: perspective(0) translate3d(50px, 40px, 80px) scale3d(1, 2, 0) rotate3d(0, 1, 0, 45deg);
                transform: perspective(0) translate3d(50px, 40px, 80px) scale3d(1, 2, 0) rotate3d(0, 1, 0, 45deg);
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;*/
                    }

                    &:nth-child(2) {
                        top: 60px;
                    }

                    &:nth-child(3) {
                        top: 40px;
                    }

                    &:nth-child(4) {
                        top: 20px;
                    }

                    &:nth-child(5) {
                        top: 0;
                    }
                }
            }

            .preview {
                width: 29%;
                height: 600px;
                float: left;
                padding: 20px;


                img {
                    width: 100%;
                }
            }
        }
    }
}


.table {
    width: 50%;
    height: 492px;
    overflow: auto;

    table {
        width: 100%;
        direction: rtl;
        background-color: #eee;
        color: #999;

        td, th {
            text-align: center;
            /*border: 1px solid #999;*/
        }

        thead {
            background-color: @baseColor3;
            color: #000;
        }

        tbody {
            height: 400px;
            overflow: auto;

            tr {
                cursor: pointer;

                &:hover {
                    td {
                        background-color: #ddd;
                        color: #000;
                    }
                }

                &.active {
                    td {
                        background-color: @baseColor1;
                        color: #fff;
                        opacity: 0.7;
                    }
                }

                &.select {
                    td {
                        background-color: @baseColor1;
                        color: #fff;
                        opacity: 1;
                    }
                }
            }

            .btn {
                padding: 2px 5px;
                font-size: 12px;
            }
        }
    }
}


.cellDetail {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .img {


        .item {
            width: 100%;
            height: 100%;
            display: none;

            &.active {
                display: block;
            }
        }


        .pov {
            transition: all 0.5s;

            i {
                position: absolute;
                left: 10px;
                top: 47%;
                font-size: 32px;
                color: #000;
                cursor: pointer;

                &:hover {
                    left: unset;
                }
            }

            img {
                position: absolute;
                left: 10px;
                top: ~"calc(50%-150px)";
                height: 300px;
                display: none;
            }

            &:hover {

                i {
                    display: none;
                    left: unset;
                }

                img {
                    display: block;
                }
            }
        }
        /*.pov {
            position: absolute;
            height: 300px;
            left: 0;
            top: ~"calc(50% - 150px)";
            cursor: pointer;

            &:hover {
                height: 400px;
                top: ~"calc(50% - 200px)";
                padding: 20px;
                transition: all 0.5s;
            }

            img {
                height: 100%;
            }
        }*/
    }

    .footer {
        opacity: 0;

        &:hover {
            opacity: 1;
            transition: all ease-in-out 0.5s;
        }

        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
        background-color: rgba(3,3,3, 0.5);
        padding: 5px 120px;

        i {
            color: #fff;
            font-size: 30px;
        }

        .share {
            ul {
                display: inline-block;
                width: 400px;
                list-style-type: none;

                li {
                    float: right;
                    padding: 5px 10px;

                    i {
                        font-size: 25px;
                    }
                }
            }
        }
    }

    .arrow {
        position: absolute;
        left: ~"calc(50% - 100px)";
        bottom: 62px;
        width: 200px;
        /*animation: shake 0.8s infinite;
        transform: translate3d(0, 0, 0);*/
        cursor: pointer;

        &:hover {
            animation: unset;
            transform: unset;
        }

        .right {
            float: right;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }

        .left {
            float: right;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .comments {
        height: 100%;
        padding: 85px 100px;
        position: relative;
        overflow: auto;
        display: block;



        header {
            display: inline-block;
            background-color: #eee;
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            direction: rtl;


            h3 {
                float: right;
                margin: 0;
            }

            .btn {
                float: left;
            }
        }

        .body {
            padding-bottom: 20px;

            .item {
                padding: 0;
            }

            .rate {
                list-style-type: none;
                background-color: #eee;
                padding: 20px;
                padding-bottom: 5px;
                margin-right: 5px;
                height: 415px;

                ul {
                    padding: 0 200px 0 20px;
                    list-style-type: none;
                }

                span {
                    float: left;
                }

                .register {

                    .btn {
                        float: left;
                        margin-top: 10px;
                        margin-left: 15px;
                    }
                }
            }

            .prof-comment {
                height: 415px;
                background-color: #eee;
                padding: 20px;
                margin-left: 5px;

                ul {
                    padding: 20px 210px 20px 20px;
                }
            }
        }

        .user-comment {
            display: inline-block;

            .msg {
                float: right;
                width: 30%;
                padding: 5px;
                text-align: justify;
                word-break: break-word;
            }

            .rate {
                width: 70%;
                float: right;
                list-style-type: none;
                padding: 20px;
                padding-bottom: 5px;
                margin-right: 5px;
                border-bottom: 2px solid #eee;
                direction: rtl;

                ul {
                    list-style-type: none;
                    padding: 0 253px;
                }

                span {
                    float: left;
                }

                .register {

                    .btn {
                        float: left;
                        margin-top: 10px;
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}
