@font-face {
  font-family: 'IRANSansWeb';
  src: url('../fonts/IRANSansWeb.eot') format('embedded-opentype'), url('../fonts/IRANSansWeb.ttf') format('truetype'), url('../fonts/IRANSansWeb.woff') format('woff');
}
body {
  background: #fff;
  color: #666666;
  font-family: "IRANSansWeb", sans-serif;
  overflow-x: hidden;
}
.row {
  height: 100% !important;
  padding: 50px 0;
}
.fp-tableCell {
  height: 100% !important;
}
.slider .page {
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 10px;
  width: 166px;
  display: inline-block;
  color: #fff;
  list-style-type: none;
}
.slider .page li {
  float: right;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 0 2px;
  cursor: pointer;
}
.slider .page li.one img {
  width: 5px;
}
.slider .page li img {
  width: 10px;
  height: 14px;
}
.slider .page li.next {
  margin-left: 5px;
}
.slider .page li.prev {
  margin-right: 5px;
}
.slider .chat-logo {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 60px;
  cursor: pointer;
  animation: shake 0.8s infinite;
  transform: translate3d(0, 0, 0);
  z-index: 9;
}
.slider .row {
  padding: 10px;
  padding-top: 15px;
  position: absolute;
  top: 0;
  width: 100%;
}
.slider .row .top:hover {
  background-color: #222;
  opacity: 0.7;
}
.slider .row .top ul li {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  margin-left: 0;
  font-size: 16px;
  color: #fff;
  transition: color ease 0.5s;
  opacity: 1 !important;
  cursor: pointer;
}
.slider .row .top ul li i {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  color: #fff;
  transition: color ease 0.5s;
  opacity: 1;
}
.slider .row .top ul li span.ltr {
  font-size: 12px;
}
.slider .row .top ul li span {
  display: inline-block;
  overflow: hidden;
  transition: all ease .5s;
  vertical-align: middle;
  font-size: 13px;
  font-style: italic;
  white-space: nowrap;
  width: 0;
  font-weight: bold;
}
.slider .row .top ul li:hover {
  color: #fff;
}
.slider .row .top ul li:hover i {
  color: #fff;
}
.slider .row .top ul li:hover span {
  width: 60px;
}
.slider .row .top ul li:hover span.phone {
  width: 100px;
}
.slider .row .top ul li:hover span.social {
  width: 70px;
}
.slider .row .top ul li:hover span.email {
  width: 120px;
}
.slider .row .ebtekar-logo img {
  width: 80px;
}
.slider .row .ebtekar-logo:hover {
  background-color: #222;
  opacity: 0.7;
  padding: 10px 5px 70px 5px;
}
.slider .row .action {
  width: 300px;
  text-align: right;
  padding: 5px;
  direction: rtl;
}
.slider .row .action:hover {
  background-color: #222;
  opacity: 0.7;
}
.slider .row .action a {
  display: inline-block;
}
.slider .row .action a i {
  color: #fff;
  font-size: 18px;
  padding: 5px;
  float: right;
}
.slider .row .action a label {
  display: none;
  float: right;
}
.slider .row .action a label.active {
  display: block;
}
.slider #header {
  /*background-color: @blackColor;*/
  padding: 0;
  height: 33px;
  /*margin-right: 40px;*/
  position: absolute;
  top: 100px;
  right: 0;
  width: 100%;
  background-color: unset;
}
.slider #header .container {
  background-color: rgba(2, 2, 2, 0.5);
  width: 98.8%;
  margin-right: 16px;
}
.slider #header .container .search-bar {
  position: absolute;
  left: -690px;
  top: 41px;
  width: 724px;
  display: inline-block;
  transition: all 1s;
}
.slider #header .container .search-bar.open {
  left: -41px;
}
.slider #header .container .search-bar input,
.slider #header .container .search-bar select {
  float: right;
  width: 30%;
  border-radius: 0;
  background-color: rgba(2, 2, 2, 0.5);
  color: #fff;
}
.slider #header .container .search-bar i {
  background-color: #4e1c1b;
  color: #fff;
  padding: 10px;
  float: right;
  cursor: pointer;
}
.slider #header .container img {
  position: absolute;
  right: 0;
  top: -1px;
  height: 32px;
}
.slider #header .menu-icon {
  background: url('../img/logo/Icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: unset;
  right: 0;
  top: -1px;
  text-align: right;
  height: 32px;
  float: right;
  width: 80px;
}
.slider #header .menu-icon:hover {
  background: url('../img/logo/Icon 02.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}
.slider #header .line {
  position: absolute;
  height: 26px;
  width: 15px;
  right: 1px;
  background-color: #222;
  opacity: 0.5;
}
.slider #nav-menu-container {
  text-align: center;
  padding-top: 5px;
}
.slider #nav-menu-container .nav-menu {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.slider #nav-menu-container .nav-menu li {
  float: right;
  white-space: unset;
  position: relative;
  /*list-style-type: square;*/
}
.slider #nav-menu-container .nav-menu li:hover .child-menu {
  display: block;
}
.slider #nav-menu-container .nav-menu li .child-menu {
  display: none;
  position: absolute;
  top: 35px;
  right: -22px;
  background-color: rgba(2, 2, 2, 0.7);
  padding: 10px;
  padding-right: 20px;
  padding-top: 50px;
  border-radius: 2px;
  width: 300px;
  height: 246px;
  color: #efefef;
  transition: all ease-in-out 0.8s;
  text-align: justify;
  word-break: break-word;
  direction: rtl;
}
.slider #nav-menu-container .nav-menu li .child-menu:first-child:befor {
  position: absolute;
  content: ' ';
  top: -20px;
  right: 6px;
  width: 0;
  height: 0;
  border-left: 0px solid #fff;
  border-right: 6px solid #222;
  border-bottom: 20px solid #222;
  border-top: 245px solid #222;
  clear: both;
  opacity: 0.7;
}
.slider #nav-menu-container .nav-menu li .child-menu:after {
  position: absolute;
  content: ' ';
  top: -20px;
  right: 6px;
  width: 0;
  height: 0;
  border-left: 0px solid #fff;
  border-right: 6px solid #222;
  border-bottom: 20px solid #222;
  border-top: 245px solid #222;
  clear: both;
  opacity: 0.7;
}
.slider #nav-menu-container .nav-menu li a {
  font-weight: 100;
}
.slider #nav-menu-container .nav-menu li a:hover {
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 2px 5px #fff;
  text-decoration: none;
  /*font-size: 15px;*/
}
.slider #nav-menu-container .nav-menu li a:hover .child-menu {
  display: block;
}
.slider #nav-menu-container .nav-menu li:after {
  display: inline-block;
  content: ' ';
  width: 6px;
  height: 6px;
  background: #fff;
  margin: 0 10px;
  border-radius: 0 2px 0 0;
}
.slider #nav-menu-container .nav-menu li.menu-active a {
  color: #fff;
  font-weight: bold;
}
.slider #nav-menu-container .nav-menu a {
  padding: 0 30px;
  color: #fff;
}
.slider .left-icons {
  position: fixed;
  left: 0;
  top: calc(50% - 100px);
  height: 200px;
}
.slider .left-icons ul {
  list-style-type: none;
}
.slider .left-icons ul li {
  width: 40px;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  cursor: pointer;
  text-align: left;
}
.slider .left-icons ul li i {
  font-size: 20px;
}
.slider .left-icons ul li:hover {
  color: #4e1c1b;
  background-color: rgba(255, 255, 255, 0.7);
}
.slider .right-icons {
  position: fixed;
  right: 0;
  top: calc(50% - 100px);
  height: 200px;
}
.slider .right-icons ul {
  list-style-type: none;
  padding: 10px;
  color: #fff;
}
.slider .right-icons ul li {
  position: absolute;
  padding: 5px;
  margin: 10px 0;
  cursor: pointer;
  text-align: left;
  width: 110px;
  transition: all 0.5s;
  right: -75px;
}
.slider .right-icons ul li:hover {
  right: 0;
  background-color: rgba(2, 2, 2, 0.5);
}
.slider .right-icons ul li:hover i {
  color: #4e1c1b;
}
.slider .right-icons ul li .descrp {
  background-color: rgba(2, 2, 2, 0.5);
  position: absolute;
  left: 150px;
  top: 0;
  padding: 10px;
  height: 200px;
  width: 200px;
  transition: all 1s;
  text-align: justify;
  word-break: break-word;
}
.slider .right-icons ul li .descrp ul li {
  text-align: right;
  margin: 3px;
  padding: 0;
  position: unset;
}
.slider .right-icons ul li .descrp ul li a {
  color: #fff;
}
.slider .right-icons ul li.open {
  right: 0;
  background-color: rgba(2, 2, 2, 0.5);
}
.slider .right-icons ul li.open i {
  color: #4e1c1b;
}
.slider .right-icons ul li.open .descrp {
  left: -200px;
}
.slider .right-icons ul li.gallery {
  top: 0;
}
.slider .right-icons ul li.catalog {
  top: 40px;
}
.slider .right-icons ul li.register {
  top: 80px;
}
.slider .right-icons ul li.location {
  top: 120px;
}
.slider .right-icons ul li i {
  font-size: 20px;
  margin-right: 15px;
  color: #808080;
}
.slider .logo-hayat-no {
  position: absolute;
  bottom: 0;
  left: calc(50% - 110px);
  width: 220px;
  padding: 10px;
}
.slider .logo-hayat-no:hover {
  background-color: #222;
  opacity: 0.8;
}
.slider .logo-hayat-no img {
  width: 180px;
  margin-bottom: 10px;
}
.slider .logo-hayat-no img.back {
  position: absolute;
  left: 28px;
  top: 13px;
  z-index: -1;
}
.slider .logo-hayat-no h4,
.slider .logo-hayat-no h5 {
  text-align: center;
  color: #fff;
}
.slider .mobile-menu {
  display: none;
}
.slider .mobile-menu .menu-icon {
  background: url('../img/logo/Icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: unset;
  right: 0;
  top: -1px;
  text-align: right;
  height: 32px;
  float: right;
  width: 80px;
}
.slider .mobile-menu .menu-icon:hover {
  background: url('../img/logo/Icon 02.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}
.slider .show-mobile {
  display: none;
}
.map-section .map {
  width: 100%;
  height: 100%;
  position: relative;
}
.map-section .map img.main-block {
  position: absolute;
  top: 0;
  left: calc(50% - 314px);
  height: 604px;
  width: 628px;
  float: right;
}
.map-section .map img.main-block.block {
  display: none;
}
.map-section .map img.main-block.block.active {
  display: block;
}
.map-section .map .block-a {
  border: 1px solid;
  position: absolute;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 1px #ccc;
  display: none;
}
.map-section .map .block-a.active {
  display: block;
}
.map-section .map .block-a.first {
  height: 120px;
  width: 160px;
  left: 63px;
  bottom: -373px;
  /*&:after {
                    position: absolute;
                    content: ' ';
                    bottom: 38px;
                    right: -31px;
                    width: 0;
                    height: 0;
                    border-left: 0px solid transparent;
                    border-right: 30px solid transparent;
                    border-top: 20px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-a.first img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-a.first label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-a.seconde {
  height: 120px;
  width: 160px;
  left: 40%;
  bottom: -539px;
  /*&:after {
                    content: '';
                    position: absolute;
                    left: 83px;
                    top: -41px;
                    width: 0;
                    height: 0;
                    border-left: 0 solid transparent;
                    border-right: 20px solid transparent;
                    border-bottom: 40px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-a.seconde img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-a.seconde label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-a.third {
  height: 120px;
  width: 160px;
  left: 31%;
  bottom: -185px;
  /*&:after {
                    content: '';
                    position: absolute;
                    left: -50px;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border-left: 50px solid transparent;
                    border-right: 0px solid transparent;
                    border-top: 15px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-a.third img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-a.third label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-b {
  border: 1px solid;
  position: absolute;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 1px #ccc;
  display: none;
}
.map-section .map .block-b.active {
  display: block;
}
.map-section .map .block-b.first {
  height: 120px;
  width: 160px;
  left: 0;
  bottom: -236px;
  /*&:after {
                    position: absolute;
                    content: ' ';
                    bottom: 38px;
                    right: -31px;
                    width: 0;
                    height: 0;
                    border-left: 0px solid transparent;
                    border-right: 30px solid transparent;
                    border-top: 20px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-b.first img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-b.first label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-b.seconde {
  height: 120px;
  width: 160px;
  left: 6%;
  bottom: -15px;
  /*&:after {
                    content: '';
                    position: absolute;
                    left: 83px;
                    top: 116px;
                    width: 0;
                    height: 0;
                    border-left: 0 solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 35px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-b.seconde img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-b.seconde label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-b.third {
  height: 120px;
  width: 160px;
  left: 36%;
  bottom: -109px;
  /*&:after {
                    content: '';
                    position: absolute;
                    left: -50px;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border-left: 50px solid transparent;
                    border-right: 0px solid transparent;
                    border-top: 15px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-b.third img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-b.third label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-c {
  border: 1px solid;
  position: absolute;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 1px #ccc;
  display: none;
}
.map-section .map .block-c.active {
  display: block;
}
.map-section .map .block-c.first {
  height: 120px;
  width: 160px;
  right: 48%;
  top: -109px;
  /*&:after {
                    position: absolute;
                    content: ' ';
                    bottom: -18px;
                    left: 50%;
                    width: 0;
                    height: 0;
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 20px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-c.first img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-c.first label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-c.seconde {
  height: 120px;
  width: 160px;
  right: 23%;
  top: -70px;
  /*&:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 0;
                    height: 0;
                    border-left: 0 solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 50px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-c.seconde img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-c.seconde label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-c.third {
  height: 120px;
  width: 160px;
  right: 18%;
  bottom: -254px;
  /*&:after {
                    content: '';
                    position: absolute;
                    left: -50px;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border-left: 50px solid transparent;
                    border-right: 0px solid transparent;
                    border-top: 15px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-c.third img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-c.third label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-m {
  border: 1px solid;
  position: absolute;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 1px #ccc;
  display: none;
}
.map-section .map .block-m.active {
  display: block;
}
.map-section .map .block-m.first {
  height: 120px;
  width: 160px;
  right: 48%;
  bottom: -715px;
  /*transform: rotate(12deg);*/
  /*&:after {
                    position: absolute;
                    content: ' ';
                    top: -22px;
                    left: 50%;
                    width: 0;
                    height: 0;
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-bottom: 20px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-m.first img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-m.first label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-m.seconde {
  height: 120px;
  width: 160px;
  right: 21%;
  bottom: -653px;
  /*transform: rotate(20deg);*/
  /*&:after {
                    content: '';
                    position: absolute;
                    left: -31px;
                    top: 41px;
                    width: 0;
                    height: 0;
                    border-left: 30px solid transparent;
                    border-right: 0px solid transparent;
                    border-top: 15px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-m.seconde img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-m.seconde label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .map .block-m.third {
  height: 120px;
  width: 160px;
  right: 9%;
  bottom: -443px;
  /*&:after {
                    content: '';
                    position: absolute;
                    left: -50px;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border-left: 50px solid transparent;
                    border-right: 0px solid transparent;
                    border-top: 15px solid #ddd;
                    clear: both;
                }*/
}
.map-section .map .block-m.third img {
  float: right;
  width: 100%;
  height: 80%;
}
.map-section .map .block-m.third label {
  z-index: 2;
  width: 100%;
  background-color: #999;
  color: #fff;
  border-top: 1px solid;
}
.map-section .table {
  width: 100%;
  font-size: 11px;
}
.video-slider {
  width: 100%;
}
.video-slider .main {
  height: 90%;
  width: 100%;
  margin: 0;
  position: relative;
}
.video-slider .main img {
  height: 500px;
  width: 100%;
}
.video-slider .main i {
  position: absolute;
  left: 50%;
  top: 40%;
  font-size: 53px;
  color: #000;
  cursor: pointer;
}
.video-slider .child {
  background-color: #222;
  text-align: center;
  padding: 10px;
}
.video-slider .child ul {
  display: inline-block;
  list-style-type: none;
}
.video-slider .child ul li {
  float: right;
  margin: 0 10px;
}
.video-slider .child ul li img {
  height: 100px;
  width: 120px;
  cursor: pointer;
}
.brands {
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
}
.brands img {
  height: 100px;
  padding: 10px;
}
.tabs {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(2, 2, 2, 0.7);
  height: 100%;
  padding: 0 10px;
}
.tabs ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}
.tabs ul li {
  padding: 10px;
  background-color: #808080;
  margin: 3px 0;
  color: #000;
  cursor: pointer;
}
.tabs ul li:hover {
  background-color: #4e1c1b;
  color: #fff;
}
.about {
  /*background-image: url(../img/نمای_سه_بعدی_ساختمان_حیات_نو_copy.jpg);
            background-size: cover;
            background-repeat: no-repeat;*/
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.about .main-image {
  height: 100%;
  width: 100%;
}
.about .background {
  /*background: #4f1c1c;*/
  background: radial-gradient(rgba(79, 28, 28, 0.9), rgba(79, 28, 28, 0.95), #3c0f0f);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.about .detail {
  position: absolute;
  left: 60%;
  top: 200px;
  width: 400px;
  padding: 10px;
  direction: rtl;
}
.about .detail .table {
  width: 100%;
}
.about .detail .close {
  position: absolute;
  left: calc(50%-56px);
  top: -49px;
  color: #fff;
  font-size: 21px;
  opacity: 1;
}
.about .detail .close img {
  width: 112px;
  height: 40px;
}
.about .detail h2,
.about .detail p {
  color: #fff;
}
.about .detail h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.about .detail p {
  text-align: justify;
  word-break: break-word;
  line-height: 25px;
}
.about.block {
  position: relative;
}
.about.block .background {
  /*background: #4f1c1c;*/
  /*background: radial-gradient(rgba(79, 28, 28, 0.70), rgba(79, 28, 28, 0.85), rgb(60, 15, 15) );*/
  background: linear-gradient(to right, rgba(79, 28, 28, 0.7), #4f1c1c);
}
.about.block .main-image {
  position: absolute;
  left: 0;
  height: 657px;
  width: 913px;
}
.about.block .detail {
  position: absolute;
  left: 60%;
  top: 200px;
  width: 400px;
  padding: 10px;
  direction: rtl;
}
.about.block .detail .forward i {
  font-size: 30px;
  color: #fff;
  margin-left: 10px;
}
.about.block .detail .forward label {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.about.block .detail .down,
.about.block .detail .up {
  float: left;
}
.about.block .detail .down i,
.about.block .detail .up i {
  font-size: 30px;
  color: #fff;
  margin-left: 10px;
}
.about.block .detail .down label,
.about.block .detail .up label {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.about.block .detail .up {
  position: absolute;
  left: 0;
  top: -40px;
}
.about.block .cell {
  position: absolute;
}
.about.block .cell .plan {
  width: 20%;
  height: 300px;
  float: left;
  position: relative;
  perspective: 1000px;
  transform: rotateX(45deg);
  left: -31px;
}
.about.block .cell .plan img {
  border: 1px solid;
  height: 160px;
  width: 160px;
  transform: rotate3d(0, 0, 1, 45deg);
  position: absolute;
  box-shadow: 1px 1px 2px 1px #ddd;
}
.about.block .cell .plan img:hover {
  box-shadow: 1px 1px 2px 1px #4f1c1c;
  /*transform: translateX(20px);
                transition: all linear 1s;
                z-index: 10;*/
}
.about.block .cell .plan img.active {
  box-shadow: 1px 1px 2px 1px #4f1c1c;
}
.about.block .cell .plan img:nth-child(0) {
  top: 100px;
}
.about.block .cell .plan img:nth-child(1) {
  top: 80px;
  /*-webkit-transform-origin: 50% 50% 50%;
                transform-origin: 50% 50% 50%;
                -webkit-transform: perspective(0) translate3d(50px, 40px, 80px) scale3d(1, 2, 0) rotate3d(0, 1, 0, 45deg);
                transform: perspective(0) translate3d(50px, 40px, 80px) scale3d(1, 2, 0) rotate3d(0, 1, 0, 45deg);
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;*/
}
.about.block .cell .plan img:nth-child(2) {
  top: 60px;
}
.about.block .cell .plan img:nth-child(3) {
  top: 40px;
}
.about.block .cell .plan img:nth-child(4) {
  top: 20px;
}
.about.block .cell .plan img:nth-child(5) {
  top: 0;
}
.about.block .cell .preview {
  width: 29%;
  height: 600px;
  float: left;
  padding: 20px;
}
.about.block .cell .preview img {
  width: 100%;
}
.table {
  width: 50%;
  height: 492px;
  overflow: auto;
}
.table table {
  width: 100%;
  direction: rtl;
  background-color: #eee;
  color: #999;
}
.table table td,
.table table th {
  text-align: center;
  /*border: 1px solid #999;*/
}
.table table thead {
  background-color: #808080;
  color: #000;
}
.table table tbody {
  height: 400px;
  overflow: auto;
}
.table table tbody tr {
  cursor: pointer;
}
.table table tbody tr:hover td {
  background-color: #ddd;
  color: #000;
}
.table table tbody tr.active td {
  background-color: #4e1c1b;
  color: #fff;
  opacity: 0.7;
}
.table table tbody tr.select td {
  background-color: #4e1c1b;
  color: #fff;
  opacity: 1;
}
.table table tbody .btn {
  padding: 2px 5px;
  font-size: 12px;
}
.cellDetail {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.cellDetail .img {
  /*.pov {
            position: absolute;
            height: 300px;
            left: 0;
            top: ~"calc(50% - 150px)";
            cursor: pointer;

            &:hover {
                height: 400px;
                top: ~"calc(50% - 200px)";
                padding: 20px;
                transition: all 0.5s;
            }

            img {
                height: 100%;
            }
        }*/
}
.cellDetail .img .item {
  width: 100%;
  height: 100%;
  display: none;
}
.cellDetail .img .item.active {
  display: block;
}
.cellDetail .img .pov {
  transition: all 0.5s;
}
.cellDetail .img .pov i {
  position: absolute;
  left: 10px;
  top: 47%;
  font-size: 32px;
  color: #000;
  cursor: pointer;
}
.cellDetail .img .pov i:hover {
  left: unset;
}
.cellDetail .img .pov img {
  position: absolute;
  left: 10px;
  top: calc(50%-150px);
  height: 300px;
  display: none;
}
.cellDetail .img .pov:hover i {
  display: none;
  left: unset;
}
.cellDetail .img .pov:hover img {
  display: block;
}
.cellDetail .footer {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(3, 3, 3, 0.5);
  padding: 5px 120px;
}
.cellDetail .footer:hover {
  opacity: 1;
  transition: all ease-in-out 0.5s;
}
.cellDetail .footer i {
  color: #fff;
  font-size: 30px;
}
.cellDetail .footer .share ul {
  display: inline-block;
  width: 400px;
  list-style-type: none;
}
.cellDetail .footer .share ul li {
  float: right;
  padding: 5px 10px;
}
.cellDetail .footer .share ul li i {
  font-size: 25px;
}
.cellDetail .arrow {
  position: absolute;
  left: calc(50% - 100px);
  bottom: 62px;
  width: 200px;
  /*animation: shake 0.8s infinite;
        transform: translate3d(0, 0, 0);*/
  cursor: pointer;
}
.cellDetail .arrow:hover {
  animation: unset;
  transform: unset;
}
.cellDetail .arrow .right {
  float: right;
  cursor: pointer;
}
.cellDetail .arrow .right:hover {
  transform: scale(1.2);
}
.cellDetail .arrow .left {
  float: right;
  cursor: pointer;
}
.cellDetail .arrow .left:hover {
  transform: scale(1.2);
}
.cellDetail .comments {
  height: 100%;
  padding: 85px 100px;
  position: relative;
  overflow: auto;
  display: block;
}
.cellDetail .comments header {
  display: inline-block;
  background-color: #eee;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  direction: rtl;
}
.cellDetail .comments header h3 {
  float: right;
  margin: 0;
}
.cellDetail .comments header .btn {
  float: left;
}
.cellDetail .comments .body {
  padding-bottom: 20px;
}
.cellDetail .comments .body .item {
  padding: 0;
}
.cellDetail .comments .body .rate {
  list-style-type: none;
  background-color: #eee;
  padding: 20px;
  padding-bottom: 5px;
  margin-right: 5px;
  height: 415px;
}
.cellDetail .comments .body .rate ul {
  padding: 0 200px 0 20px;
  list-style-type: none;
}
.cellDetail .comments .body .rate span {
  float: left;
}
.cellDetail .comments .body .rate .register .btn {
  float: left;
  margin-top: 10px;
  margin-left: 15px;
}
.cellDetail .comments .body .prof-comment {
  height: 415px;
  background-color: #eee;
  padding: 20px;
  margin-left: 5px;
}
.cellDetail .comments .body .prof-comment ul {
  padding: 20px 210px 20px 20px;
}
.cellDetail .comments .user-comment {
  display: inline-block;
}
.cellDetail .comments .user-comment .msg {
  float: right;
  width: 30%;
  padding: 5px;
  text-align: justify;
  word-break: break-word;
}
.cellDetail .comments .user-comment .rate {
  width: 70%;
  float: right;
  list-style-type: none;
  padding: 20px;
  padding-bottom: 5px;
  margin-right: 5px;
  border-bottom: 2px solid #eee;
  direction: rtl;
}
.cellDetail .comments .user-comment .rate ul {
  list-style-type: none;
  padding: 0 253px;
}
.cellDetail .comments .user-comment .rate span {
  float: left;
}
.cellDetail .comments .user-comment .rate .register .btn {
  float: left;
  margin-top: 10px;
  margin-left: 15px;
}