<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <sectionGroup name="codeCarvings.piczard">
      <section name="coreSettings" type="CodeCarvings.Piczard.Configuration.CoreSettingsSectionHandler, CodeCarvings.Piczard" requirePermission="false" />
      <section name="webSettings" type="CodeCarvings.Piczard.Configuration.WebSettingsSectionHandler, CodeCarvings.Piczard" requirePermission="false" />
    </sectionGroup>

  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="MultipleActiveResultSets=True; Data Source=.\sql2014;Initial Catalog=bestmehr.ir;Connection Timeout=1;Persist Security Info=True;User ID=sa;Password=happyspider" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="VisualStudioDesignTime:Enabled" value="true" />
    <add key="PageInspector:ServerCodeMappingSupport" value="Enabled" />
    <add key="Filemanager_RootPath" value="/Content/FileManager/userfiles" />
    <add key="Filemanager_IconDirectory" value="/Content/FileManager/images/fileicons/" />

    <add key="owin:AppStartup" value="HCMS.Web.Startup,HCMS.Web" />

    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="api_payir" value="test"/>

    <!--Email Setting-->

    <add key="Email-Address" value="info@bestmehr.ir" />
    <add key="Email-Password" value="985782045_d5DnxZ" />
    <add key="Email-Port" value="587" />
    <add key="Email-Smtp" value="smtp.bestmehr.ir" />
    <add key="Email-EnableSsl" value="false" />

    <!--<add key="sms-serviceurl" value="http://37.228.138.118/post/sendsms.ashx?username=09109310265&password=5428&to=#to#&from=5000127004276&text=#text#" />-->
    <!--End Email Setting-->

    <!--for local-->
    <!--<add key="googleId" value="1011680469884-vk7cur1agi0hphii2b90m2jirsun8veg.apps.googleusercontent.com"/>
    <add key="googleSecret" value="S4Vf5Yt57s20xb4j4hPONFtM"/>

    <add key="facebookId" value="263245920739079"/>
    <add key="facebookSecret" value="933edb61fdbb3dd4ad3a894c70b095ae"/>
    
    <add key="twitterId" value="8a2pyVHn4VpjTGStT2A0oUaGV"/>
    <add key="twitterSecret" value="A88nP8QEr2O8YJeKqFHgrsDbsnbsq5DmC08sTzcaTYYF5stK4c"/>-->

    <!-- End For Local-->

    <!--for bazarsoo-->
    <add key="googleId" value="1011680469884-1ot8fbuv1pdqc1mqq01elo2f8cje5jb6.apps.googleusercontent.com" />
    <add key="googleSecret" value="Cn0cEMb6sUm7FC_xMojkrzhb" />


    <add key="facebookId" value="1117048038402526" />
    <add key="facebookSecret" value="447f8681a0da309961cc859b040ad7ba" />

    <add key="twitterId" value="8a2pyVHn4VpjTGStT2A0oUaGV" />
    <add key="twitterSecret" value="A88nP8QEr2O8YJeKqFHgrsDbsnbsq5DmC08sTzcaTYYF5stK4c" />

    <!-- End For bazarsoo-->

    <!--for Happyspider-->
    <!--<add key="googleId" value="1011680469884-1ot8fbuv1pdqc1mqq01elo2f8cje5jb6.apps.googleusercontent.com"/>
    <add key="googleSecret" value="Cn0cEMb6sUm7FC_xMojkrzhb"/>

    <add key="facebookId" value="1117048038402526"/>
    <add key="facebookSecret" value="447f8681a0da309961cc859b040ad7ba"/>

    <add key="twitterId" value="8a2pyVHn4VpjTGStT2A0oUaGV"/>
    <add key="twitterSecret" value="A88nP8QEr2O8YJeKqFHgrsDbsnbsq5DmC08sTzcaTYYF5stK4c"/>-->

    <!-- End For Happyspider-->

  </appSettings>
  <system.webServer>

    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      <mimeMap fileExtension="json" mimeType="application/json; charset=UTF-8" />
      <mimeMap fileExtension="woff2" mimeType="application/octet-stream" />
    </staticContent>

    <handlers>

      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />

      <add name="ExtensionlessUrlHandler-Integrated-4.0-ForApi" path="vitrin_users/*" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="PiczardWebResource" verb="*" path="piczardWebResource.ashx" preCondition="integratedMode" type="CodeCarvings.Piczard.Web.WebResourceManager, CodeCarvings.Piczard" />

      <add name="imageHandler-bpm" verb="*" path="*.bmp" type="HCMS.Web.Handlers.HttpImageHandler" />
      <add name="imageHandler-jpg" verb="*" path="*.jpg" type="HCMS.Web.Handlers.HttpImageHandler" />
      <add name="imageHandler-gif" verb="*" path="*.gif" type="HCMS.Web.Handlers.HttpImageHandler" />
      <add name="imageHandler-png" verb="*" path="*.png" type="HCMS.Web.Handlers.HttpImageHandler" />

    </handlers>

    <!--<rewrite>
      <rules>
        <rule name="RemoveTrailingSlashRule1" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
        <rule name="LowerCaseRule1" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <action type="Redirect" url="{ToLower:{URL}}" />
        </rule>
        --><!--<rule name="CanonicalHostNameRule1">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^bazarsoo\.com$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://bazarsoo.com/{R:1}" />
        </rule>--><!--
      </rules>
    </rewrite>-->


  </system.webServer>

  <system.web>
    <authentication mode="None" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime relaxedUrlToFileSystemMapping="true" maxRequestLength="99999999" targetFramework="4.5" />
    <pages>
      <controls>
        <add tagPrefix="ccPiczard" namespace="CodeCarvings.Piczard.Web" assembly="CodeCarvings.Piczard" />
      </controls>
    </pages>





  </system.web>



  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354AE6D2174DDCA" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.5.0" newVersion="5.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!-- Piczard configuration sections -->
  <codeCarvings.piczard>
    <coreSettings>
      <drawing maxImageSize="5000, 5000" />
      <imageArchiver defaultJpegQuality="92" defaultQuantizeGifImages="true" />
      <security defaultEncryptionKey="87897897897897845" />
    </coreSettings>
    <webSettings>
      <webResource enableCompression="true" />
      <pictureTrimmer autoDeleteTemporaryFiles="true" />
      <temporaryFileManager folderPath="~/App_Data" autoDeleteFiles="true" maxFileLifeTime="180" />
    </webSettings>
  </codeCarvings.piczard>
  <!-- Allow * Access to the Piczard HttpHandler (required when using Asp.Net Authentication) -->
  <location path="piczardWebResource.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <staticContent>
        <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
      </staticContent>
      <validation validateIntegratedModeConfiguration="false" />
      <modules runAllManagedModulesForAllRequests="true">
        <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
      </modules>
    </system.webServer>
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7/8.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

  </system.webServer>

</configuration>
