
<div class="lhome-animate">

   

    <article class="box item1">
        <div class="left">
            <img src="../../../img/25-01.jpg" />

        </div>
        <div class="right">

            <div class="details">

                <h2>ابتکار سازه</h2>

                <p>
                    شرکت مدیریت پروژه های سرمایه گذاری ابتکارسازه ایرانیان یکی از شرکت های کارآمد و اثربخش در صنعت ساختمان ایران می باشد که با بهره گیری از تیمی جوان ،متخصص و با انگیزه و به کارگیری نوآوری ، تکنولوژی ، دانش جدید و همچنین مصالح و متریال مرغوب مساحتی بالغ بر 85 هزار متر مربع در زمینه توسعه و ساخت پروژه های مسکونی و اداری از سال 1388 تا به حال تجربه کرده است و محصول نهایی شرکت تحت نام تجاری حیات به بازار مسکن عرضه می گردد. آینده پژوهی و تحلیل اقتصادی ،انتخاب بازار هدف ،شناخت نیازهای مشتریان و تمرکز بر خلق ارزش برای گروه مخاطبان از جمله مواردی است که موجبات موفقیت ابتکارسازه را در این راه پرفراز و نشیب فراهم آورده است و در یک بازه کوتاه مسیر طولانی را پیموده است . چاشنی شیرین رضایت مخاطبان از نحوه خدمات رسانی و کیفیت قابل لمس محصول نهایی را با تخصص و تجربه ای که در این راه به لطف همراهانمان به دست آورده ایم ترکیبی بسیار انگیزاننده را برای ادامه تلاش و ارزش آفرینی در راستای ارتقای کیفیت زندگی مشتریان برای ما ایجاد کرده است.
                </p>

                <a class="btn btn-success" href="#!/ebtekarSaze">ادامه مطلب</a>
            </div>
        </div>

    </article>

    <article class="box item2">
        <div class="left">
            <img src="../../../img/25-01.jpg" />

        </div>
        <div class="right">

            <div class="details">

                <h2>درباره حیات</h2>
                <p>

                    Der Entscheidung für ein neues Zuhause gehen viele Fragen und Wünsche voraus. Bei L HOMES erfahren Sie professionelle und lösungsorientierte Beratung aus erster Hand. Vom Erstgespräch bis zur Übergabe der schlüsselfertigen Immobilie können Sie sich vertrauensvoll an uns wenden. Ein Team von Kundenberatern, Projektentwicklern, Architekten und Bauleitern kümmert sich um Ihre Anliegen und begleitet Sie auf dem Weg zu Ihrer Traumimmobilie.

                    Sie interessieren sich für unsere Immobilien? Dann besuchen Sie uns im L HOMES Showroom und erleben Sie dort bereits einen ersten Eindruck von unserem Anspruch an Qualität und unsere Liebe für Design und Architektur. Unsere Kundenberatung freut sich auf Sie.
                </p>

                <a class="btn btn-success" href="#!/about">ادامه مطلب</a>
            </div>
        </div>

    </article>


    <article class="box item3">
        <div class="left">
            <img src="../../../img/25-01.jpg" />

        </div>
        <div class="right">

            <div class="details">

                <h2>پروژه های حیات</h2>

                <a class="btn btn-success" href="#!/hayatProject">ادامه مطلب</a>
            </div>
        </div>

    </article>


</div>
