@{

    var phrases = (HCMS.Dynamics.Localization.Phrases)ViewBag.Phrases;
    var cc = phrases.CurrentCulture;

    var contents = HCMS.Dynamics.Data.DDB.GetTable("cms", "contents").DRows;

    var pageRow = contents.FirstOrDefault(p => p.GetValue("accessName").Value == "contact");


    HCMS.Dynamics.DynamicDB db = new HCMS.Dynamics.DynamicDB();
    var error = false;
    if (IsPost)
    {
        System.Collections.Specialized.NameValueCollection valueToSend = new System.Collections.Specialized.NameValueCollection();

        string[] inputs = { "name", "phone", "email", "description" };

        foreach (var inp in inputs)
        {
            if (Request.Form[inp] != null)
            {
                if (string.IsNullOrWhiteSpace(Request.Form[inp].ToString()))
                {
                    error = true;
                }
                else
                {
                    valueToSend.Add(inp, Request.Form[inp]);
                }
            }
            else
            {
                error = true;
            }

        }

        if (!error)
        {
            db.Create("cms", "contacts", valueToSend);

            string mailBody = "";
            foreach (string item in valueToSend)
            {
                mailBody += string.Format("<h4>{0} : </h4><textarea style='width:100%;height:100px;' dir='auto'>{1}</textarea><br />", item, valueToSend[item]);

            }
            HCMS.Dynamics.Tools.EmailSender.send("info@onanzim.ir", mailBody, string.Format("new contact from ") + valueToSend["name"]);

            Cache.Remove("dynamics_table_rowids_cms_contacts_");

            Response.Redirect(Request.Url + "?status=done");


        }


    }


    ViewBag.title = "تماس با ما";
}
<section class="section section-contact  mt-none mb-none">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">

                <h2 class="mb-none mt-xl font-weight-semibold text-dark">تماس با ما</h2>
                <p class="p-xl">
                    @Html.Raw(pageRow.GetValue("content"))


                </p>

                <div class="row p-xl">

                    <div class="col-sm-3  ">
                        <h5 class="mb-sm">
                            <i class="fa fa-envelope text-color-primary"></i>   ایمیل :
                        </h5>

                        <span class="footer-email-custom"> <a href="mailto:@phrases.Get("contact_email")">@phrases.Get("contact_email")</a></span>

                    </div>


                    <div class="col-sm-3  align-right">
                        <h5 class="mb-sm">
                            <i class="fa fa-phone text-color-primary"></i>
                            شماره تماس :
                        </h5>
                        <span class="footer-email-custom phone font-size-sm ltr">@phrases.Get("contact_phone")</span>
                    </div>


                    <div class="col-sm-6  align-right">
                        <h5 class="mb-sm">
                            <i class="fa fa-map-marker text-color-primary"></i>
                            آدرس :
                        </h5>
                        <span class="footer-email-custom address font-size-sm">@phrases.Get("contact_address")</span>

                    </div>



                </div>

            </div>
        </div>

        <div class="row p-xl ">
            <div class="col-md-8 col-md-offset-2">

                @if (Request.QueryString["status"] != null)
                {
                    if (Request.QueryString["status"].ToString() == "done")
                    {
                        <div class="alert alert-success mt-lg" id="contactSuccess">
                            <strong> ارسال شد !</strong> درخواست تماس شما با موفقیت ارسال شد .
                        </div>
                    }
                }
                @if (error)
                {
                    <div class="alert alert-danger hidden mt-lg" id="contactError">
                        <strong>خطا !</strong> لطفا فیلد های را مورد بازبینی قراردهید .
                        <span class="font-size-xs mt-sm display-block" id="mailErrorMessage"></span>
                    </div>
                }

                <form method="POST">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" placeholder="نام و نام خانوادگی" value="" data-msg-required="لطفا نام خود را وارد کنید ." maxlength="100" class="form-control input-lg" name="name" id="name" required="" aria-required="true">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" placeholder="شماره تماس" value="" data-msg-required="لطفا شماره تماس خود را وارد کنید ." maxlength="100" class="form-control input-lg" name="phone" id="tel" required="" aria-required="true">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="email" placeholder="ایمیل" value="" data-msg-required="لطفا شماره ایمیل خود را وارد کنید ." maxlength="100" class="form-control input-lg" name="email" id="email" required="" aria-required="true">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea maxlength="5000" placeholder="توضیحات" data-msg-required="لطفا شماره توضیحات خود را وارد کنید ." rows="10" class="form-control input-lg" name="description" id="message" required="" aria-required="true"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <input type="submit" value="ثبت درخواست" class="btn btn-block btn-primary btn-lg mb-xs" data-loading-text="Loading...">
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</section>