@{
    Layout = null;
}

<div id="pageHeading">
    <h1 data-aos="fade-left" class="page-heading">
        Login
    </h1>
</div>
<div id="pageContent">
    <div class="login-page">
      @Html.Partial("~/SharedViews/Account/_LoginForm.cshtml")
    </div>
</div>

