@{
    Layout = null;
    Response.StatusCode = 404;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Packages/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Packages/HCMS/css/404.min.css" rel="stylesheet" />

    <title>404 Not Found !</title>
</head>
<body>
    <div class="text-center box-wrapper">
        <div class="box">
            @*<img src="~/Packages/HCMS/img/happy-logo-black.png" />*@
            <img src="~/Packages/HCMS/img/happy-logo-128.png" />
            <h1>404 Not Found !</h1>
            <h4>
                We can't seem to find the page you're looking for ...
            </h4>
            <h5>
                Contact Webmaster at Support@HappySpider.org
            </h5>
        </div>
    </div>
    <script src="~/Packages/jquery-2.1.4/jquery-2.1.4.min.js"></script>
    <script src="~/Packages/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
</body>
</html>
