@{
    ViewBag.Title = "تایید ایمیل";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        حساب کاربری شما فعال شد. @Html.ActionLink("برای ورود کلیلک کنید", "Login","Auth", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
