@{
    ViewBag.Title = "حساب کاربری شما با موفقیت ایجاد شد";
}
<h2 class="text-success">@ViewBag.Title.</h2>
<p class="text-info">
    یک ایمیل جهت فعال سازی به آدرس ایمیل شما فرستاده شد. لطفا ایمیل خود را چک و حساب کاربری خود را فعال کنید.
</p>

<p>
    این قسمت فقط برای تست برنامه نویس می باشد
    <a href="@ViewBag.Link">فعال سازی</a>
</p>
