
@{
    ViewBag.Title = "GetPasswordResetToken";
}

<h2>GetPasswordResetToken</h2>


<form method="post" action="/manage/auth/SetPassword">

    <label>UID</label>
    <input name="uid" value="@ViewBag.uid" />
    <textarea>
        @(ViewBag.code == HttpUtility.UrlDecode(HttpUtility.UrlEncode(ViewBag.code)))
    </textarea>
    <br/>
    <label>
        Token
    </label>
    <input name="token" value="@ViewBag.code"/>
    <input type="submit"/>
</form>