@{
    ViewBag.Title = "رمز عبور شما با موفقیت تغییر یافت";
}

<hgroup class="title text-success">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        رمز عبور شما با موفقیت تغییر یافت. لطفا @Html.ActionLink("برای ورود کلیک کنید", "Login", "Auth", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
