
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>گروه هنری درنگ</title>
    <meta name='robots' content='noindex,follow' />
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='rs-settings-css' href='/themes/drang/css/settings.css?rev=4.1.4&#038;ver=4.5.4' type='text/css' media='all' />
    <link href="~/Themes/Drang/css/font-awesome.min.css" rel="stylesheet" />
    <link rel='stylesheet' id='rs-captions-css' href='/themes/drang/css/dynamic-captions.css?rev=4.1.4&#038;ver=4.5.4' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-static-css' href='/themes/drang/css/static-captions.css?rev=4.1.4&#038;ver=4.5.4' type='text/css' media='all' />
    <link rel='stylesheet' id='temptation-fonts-css' href='http://fonts.googleapis.com/css?family=Sintony&#038;ver=4.5.4' type='text/css' media='all' />
    <link rel='stylesheet' id='temptation-basic-style-css' href='/themes/drang/css/style.css?ver=4.5.4' type='text/css' media='all' />
    <link rel='stylesheet' id='temptation-layout-css' href='/themes/drang/css/sidebar-content.css?ver=4.5.4' type='text/css' media='all' />
    <link rel='stylesheet' id='temptation-bxslider-style-css' href='/themes/drang/css/jquery.bxslider.css?ver=4.5.4' type='text/css' media='all' />
    <link rel='stylesheet' id='temptation-bootstrap-style-css' href='/themes/drang/css/bootstrap.min.css?ver=4.5.4' type='text/css' media='all' />
    <link rel='stylesheet' id='temptation-main-style-css' href='/themes/drang/css/main.css?ver=4.5.4' type='text/css' media='all' />
    <script type='text/javascript' src='/themes/drang/js/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='/themes/drang/js/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='/themes/drang/js/jquery.themepunch.plugins.min.js?rev=4.1.4&#038;ver=4.5.4'></script>
    <script type='text/javascript' src='/themes/drang/js/jquery.themepunch.revolution.min.js?rev=4.1.4&#038;ver=4.5.4'></script>
    <script type='text/javascript' src='/themes/drang/js/bootstrap.min.js?ver=4.5.4'></script>
    <script type='text/javascript' src='/themes/drang/js/bxslider.js?ver=4.5.4'></script>
    <script type='text/javascript' src='/themes/drang/js/hoverIntent.min.js?ver=1.8.1'></script>
    <script type='text/javascript' src='/themes/drang/js/custom.js?ver=4.5.4'></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#slider').bxSlider({
                mode: 'horizontal',
                captions: true,
                minSlides: 1,
                maxSlides: 1,
                auto: true,
                preloadImages: 'all',
                adaptiveHeight: true,
                pause: 3300,
                speed: 800,
                autoHover: true
            });
        });
    </script>


    <style id="temptation-custom-style">
    </style>

</head>

<body class="home blog">


    <div id="page" class="hfeed site">

        <div id="top-bar">
            <div class="container">

                <header id="masthead" class="site-header col-md-4 col-sm-12 col-xs-12 row container" role="banner">
                    <div class="site-branding">
                        گروه هنری درنگ
                    </div>
                </header><!-- #masthead -->

                <div id="primary-nav-wrapper" class="col-md-8 col-xs-12 container">
                    <nav id="primary-navigation" class="primary-navigation" role="navigation">

                        <h1 class="menu-toggle"></h1>
                        <div class="screen-reader-text skip-link"><a href="#content">Skip to content</a></div>

                        <div class="menu-main-menu-container">
                            <ul id="menu-main-menu" class="menu">
                                <li id="menu-item-2048" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2048">
                                    <a href="http://demo.inkhive.com/">خانه</a>
                                </li>
                                <li id="menu-item-2047" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2047">
                                    <a href="http://inkhive.com">
                                        درباره ما
                                    </a>
                                </li>

                                <li id="menu-item-2047" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2047">
                                    <a href="http://inkhive.com">
                                        تماس با ما
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav><!-- #site-navigation -->
                </div>




            </div>
        </div><!--#top-bar-->
        @RenderBody()

    </div><!-- #page -->


    <footer id="colophon" class="site-footer row" role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner">

                        <span class='sep'>
                            &copy; تمامی حقوق برای گروه هنری درنگ محفوظ است .
                        </span>

                        <div id="social-icons">
                            <a href="http://instagram.com/drangartgroup">
                                <i class="fa fa-instagram"></i>
                            </a>

<a href="http://instagram.com/drangartgroup">
                                <i class="fa fa-telegram"></i>
                            </a>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer><!-- #colophon -->

    <script type='text/javascript' src='http://demo.inkhive.com/temptation/wp-content/themes/temptation/js/navigation.js?ver=20120206'></script>
    <script type='text/javascript' src='http://demo.inkhive.com/temptation/wp-content/themes/temptation/js/skip-link-focus-fix.js?ver=20130115'></script>
    <script type='text/javascript' src='http://demo.inkhive.com/temptation/wp-includes/js/wp-embed.min.js?ver=4.5.4'></script>
</body>
</html>
