@model HCMS.Dynamics.Localization.Entities.Culture


<div class="box-bordered en">
    <h1>Localization Culture</h1>
    <div class="container">
@Html.Partial("Forms/ObjectForm", Model)
    </div>


</div>
