<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <div class="page-share-btn wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
        <a href="javascript:window.print()"><i class="fa fa-print"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
    </div><!--//page-share-btn-->
</div>