<div class="cell">
    <div class="plan">
        <img class="{{item.className}}"
             ng-src="{{item.url}}"
             ng-mouseover="previewImg(item)"
             ng-mouseleave="removeImg(item)"
             ng-click="selectImg($index, item)"
             ng-repeat="item in model.planeImages" />
    </div>

    <div class="preview animated {{animateName}}">
        <img ng-src="{{previewImage}}" />
    </div>

    <div class="table">
        <table class="table table-responsive">

            <thead>
                <tr>
                    <th>طبقه</th>
                    <th>کد</th>
                    <th>نام واحد</th>
                    <th>متراژ</th>
                    <th>نوع پلان</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in table"
                    ng-class="item.className"
                    ng-click="selectTable(item)">
                    <td>{{item.T}}</td>
                    <td>{{item.C}}</td>
                    <td>{{item.N}}</td>
                    <td>{{item.M}}</td>
                    <td>{{item.Type}}</td>
                    <td>
                        <a class="btn btn-success" href="#!/register">مشاهده</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>




</div>