<div class="captcha">

    <img src="~/manage/Captcha/msdn" id="captcha-image" />
    <span class="refresh"><i class="fa fa-refresh "></i>  </span>
    <input id="captcha" required type="text" name="captcha" placeholder="@Phrases.Get("Security Code")" />
</div>