@{
    Layout = null;
}

   <footer>
            <div class="copyright">
                &copy; Bauxit.ir - @DateTime.Now.Year All rights reserved . <span class="design">Developed by <a href="http://HappySpider.org">HappySpider.org</a> </span>
            </div>
        </footer>