@{
    Layout = null;

    int rid = 0;

    if (Request.QueryString["rid"] != null)
    {
        int.TryParse(Request.QueryString["rid"].ToString(), out rid);
    }


    var photo_gallery = HCMS.Dynamics.Data.DDB.GetTable("cms", "Photo_Gallery").DRows.Where(p => p.RowID == rid);

}

<div class="gallery">
    @foreach (var item in photo_gallery.FirstOrDefault().GetGroup("image"))
    {
        <a href="@item.GetValue("image")">@item.IndexInGroup</a>
    }


</div>

