@import url('../vendors/bower_components/reset-css/reset.css');
@font-face {
  font-family: 'DroidNaskh-Bold';
  src: url('../fonts/DroidNaskh-Bold.woff') format('woff');
}
@font-face {
  font-family: 'DroidNaskh-Regular';
  src: url('../fonts/DroidNaskh-Regular.woff') format('woff');
}
strong {
  font-weight: normal!important;
}
#loader {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  display: block;
  content: ' ';
  z-index: 9999;
  background: #fff;
}
.p-r-40 {
  padding-right: 40px !important;
}
.p-r-50 {
  padding-right: 50px !important;
}
.p-r-60 {
  padding-right: 60px !important;
}
.p-r-80 {
  padding-right: 80px !important;
}
.p-r-85 {
  padding-right: 85px !important;
}
.p-r-90 {
  padding-right: 90px !important;
}
a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
body {
  color: #999;
  text-align: right;
  direction: rtl;
  background: #fff;
  font-size: 14px;
  line-height: 23px;
}
strong,
label {
  font-weight: bold;
}
body,
input,
textarea,
button,
select,
p,
span,
div {
  font-family: 'DroidNaskh-Regular';
}
.page {
  background: #fff;
  padding-bottom: 40px;
}
.contact .inner {
  margin-right: 200px;
  width: calc(100% - 400px);
}
.contact ul.info {
  font-size: 16px;
  line-height: 26px;
}
.contact ul.info label {
  color: #777;
  font-weight: 100 !important;
}
.contact ul.info span {
  color: #999;
}
.block {
  padding: 20px 0;
}
.block h2 {
  color: #000;
  border-bottom: 3px solid #000;
  display: inline-block;
  height: 25px;
}
.block p {
  margin-top: 20px;
  color: #777;
}
.block form {
  margin: 20px 0;
}
.block form input,
.block form textarea {
  display: block;
  width: 100%;
  border: 1px solid #999;
  margin: 10px 0;
  padding: 0 10px;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
}
.block form input {
  height: 40px;
}
.block form textarea {
  height: 140px;
  resize: none;
}
.block form .buttons {
  text-align: left;
  width: 100%;
}
.block form .buttons button {
  background: #999;
  color: #fff;
  padding: 0 30px;
  border-radius: 25px;
  line-height: 30px;
  border: none;
  transition: all ease 0.5s;
  cursor: pointer;
  height: 40px;
}
.block form .buttons button:hover {
  background: #6db2d6;
}
.ltr {
  direction: ltr;
}
ul.categories {
  padding: 0 15px;
}
ul.categories li {
  display: inline-block;
  cursor: pointer;
  padding: 0 10px;
  line-height: 20px;
  color: #fff;
  background: #999;
  transition: all ease 0.3s;
  font-size: 11px;
}
ul.categories li:hover {
  background: #6db2d6;
  color: #fff;
}
ul.categories li:hover a {
  color: #fff;
}
ul.categories li:first-child {
  margin-left: -5px;
}
.path-wrapper {
  margin-right: 200px;
  margin-top: -60px;
  margin-bottom: 40px;
}
[ng-click] {
  cursor: pointer;
  color: #764b76;
}
small {
  font-size: 10px;
}
.thumb {
  position: relative;
}
.thumb:hover:after {
  opacity: 1;
}
.thumb:after {
  opacity: 0;
  content: ' ';
  display: block;
  z-index: 100;
  cursor: pointer;
  transition: all ease 0.3s;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6db2d6;
}
.articles .list {
  width: 80%;
}
.articles .article {
  background: #fff;
  margin: 2px;
  background-size: cover;
  margin-bottom: 20px;
}
.articles .article .info {
  float: right;
  width: calc(100% - 300px);
  padding: 0 10px;
  box-sizing: border-box;
}
.articles .article .info h2 {
  color: #000;
  line-height: 30px;
}
.articles .article .info .content {
  color: #777;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 140px;
}
.articles .article .info .buttons {
  text-align: left;
  padding: 2px 0;
}
.articles .article .info .buttons a.more {
  background: #999;
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  font-size: 11px;
  border-radius: 15px;
  transition: all ease 0.3s;
}
.articles .article .info .buttons a.more:hover {
  background: rgba(109, 178, 214, 0.9);
  color: #fff !important;
}
.articles .article .thumb {
  height: 200px;
  width: 300px;
  float: right;
  background-size: cover;
  position: relative;
}
.articles .article img {
  height: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
}
.box.tags {
  margin-right: 5px;
}
.box.tags li {
  border-radius: 15px;
}
.box.tags a {
  color: #fff;
}
.related-posts ul li a {
  position: relative;
  display: block;
  margin: 10px 20px;
  margin-right: 0;
}
.related-posts ul li a img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.related-posts ul li a span {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #6db2d6;
  color: #fff;
  transition: all ease 0.5s;
}
.related-posts ul li a span:hover {
  opacity: 1;
}
.blog .side {
  width: 300px;
  float: right;
  box-sizing: border-box;
}
.blog .side .archive ul li label {
  color: #666;
  font-size: 14px;
}
.blog .side .archive ul li ul {
  padding: 5px;
}
.blog .side .archive ul li ul li {
  display: inline-block;
  padding: 0 5px;
  margin: 5px;
  color: #777;
  cursor: pointer;
}
.blog .box {
  margin-bottom: 20px;
}
.blog .box ul.categories li {
  margin: 0 2px;
}
.blog .box h2 {
  min-width: 140px;
  border-bottom: 1px solid #999;
  line-height: 35px;
  color: #999;
  margin-bottom: 10px;
  margin-left: 20px;
}
.blog .model,
.blog .list {
  width: calc(100% - 300px);
  float: right;
}
.blog .model .content,
.blog .model .post-side {
  float: right;
}
.blog .model .post-side {
  width: 300px;
}
.blog .model .content {
  width: calc(100% - 300px);
  box-sizing: border-box;
  padding: 0 20px;
}
.blog .model .content .info .content-inner {
  text-align: justify;
  color: #666;
}
.blog .model .content .info .content-inner img {
  max-width: 100%;
}
.blog .model .content h1 {
  color: #555;
  font-size: 22px;
  line-height: 40px;
  margin-top: 5px;
}
.blog .post {
  background: #fff;
  margin: 2px;
  background-size: cover;
  margin-bottom: 20px;
}
.blog .post .info {
  float: right;
  width: calc(100% - 300px);
  padding: 0 30px;
  box-sizing: border-box;
}
.blog .post .info h2 {
  color: #000;
  line-height: 30px;
  font-size: 22px;
}
.blog .post .info h2:hover {
  color: #6db2d6;
}
.blog .post .info .content {
  color: #777;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 140px;
  font-size: 15px;
}
.blog .post .info .buttons {
  text-align: left;
  padding: 2px 0;
}
.blog .post .info .buttons a.more {
  background: #999;
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  font-size: 11px;
  border-radius: 15px;
  transition: all ease 0.3s;
}
.blog .post .info .buttons a.more:hover {
  background: #6db2d6;
  color: #fff !important;
}
.blog .post .thumb {
  height: 200px;
  width: 300px;
  float: right;
  background-size: cover;
}
.blog .post img {
  height: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
}
[ng-disabled=true] {
  cursor: not-allowed;
  opacity: 0.5;
}
[ng-disabled=true] * {
  pointer-events: none;
}
.projectModel {
  box-sizing: border-box;
  padding-top: 5px;
}
.projectModel .title {
  line-height: 60px;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 0 10px;
  font-weight: normal;
}
.projectModel .otherProjects {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.projectModel .otherProjects .project {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
.projectModel .otherProjects .project .inner {
  height: 200px;
  width: 200px;
  border: 1px solid #000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.projectModel .otherProjects .project .inner a.info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 80px 0;
  display: block;
  margin: 0;
  background: rgba(109, 178, 214, 0.9);
  opacity: 0;
  transition: all ease 0.3s;
}
.projectModel .otherProjects .project .inner a.info:hover {
  opacity: 1;
  color: #fff !important;
}
.projectModel .details {
  width: 100%;
}
.projectModel .details .info {
  color: #333;
  padding: 40px 0;
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;
}
.projectModel .details .info p {
  text-align: start;
}
.projectModel .details .pictures {
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
.projectModel .details .pictures .pic {
  margin: 10px auto;
  height: auto;
  background-color: #fff;
  min-height: 100px;
  display: block;
  text-align: center;
}
.projectModel .details .pictures .pic img {
  margin: 0 auto;
  max-width: 100%;
}
.projectModel .details .pictures .pic.portrait img {
  width: 70%;
}
.projectModel .buttons {
  text-align: left;
  margin: 20px 0;
}
.projectModel .buttons ul li {
  display: inline-block;
}
.projectModel .buttons ul li:last-child:after {
  display: none;
}
.projectModel .buttons ul li:after {
  content: '|';
  margin: 0 5px;
}
.projectModel .buttons ul li a {
  color: #333;
  text-decoration: none;
}
.projects {
  min-height: 50vh;
}
.projects .project {
  width: 50%;
  background: #fff;
  float: right;
  box-sizing: border-box;
  padding: 2px;
}
.projects .project .inner {
  position: relative;
  background-size: cover;
  height: 400px;
  border: 1px solid #ccc;
}
.projects .project .inner:hover .info {
  opacity: 1;
}
.projects .project .inner .info {
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.3s;
  padding: 15px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(109, 178, 214, 0.9);
  text-align: center;
  font-size: 20px;
  padding-top: 180px;
}
.projects .project .inner .info ul li {
  color: #fff;
}
footer {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  font-size: 11px;
  box-sizing: border-box;
  background: #000;
}
footer.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}
footer a {
  color: #fff;
}
footer label {
  font-weight: 100;
  font-size: 14px;
}
footer h2 {
  display: inline-block;
  border-bottom: 2px solid #fff;
  line-height: 50px;
  margin-bottom: 10px;
}
footer .copyright {
  padding-right: 60px;
  display: inline-block;
}
footer .copyright span {
  display: block;
  text-align: center;
}
footer a:hover {
  border-bottom: 2px solid #fff;
  color: #fff !important;
}
footer ul.pages {
  display: inline-block;
  vertical-align: top;
}
footer ul.pages li {
  display: inline-block;
}
footer ul.pages li a {
  color: #fff;
  text-decoration: none;
  padding: 0 5px;
}
footer ul.pages li:after {
  content: '|';
  display: inline-block;
}
footer ul.pages li:last-child:after {
  content: '';
}
header {
  background: #fff;
}
header .navToggle {
  display: none;
}
header .logo,
header nav,
header .search,
header .navToggle {
  float: right;
  vertical-align: top;
}
header .logo {
  width: 200px;
  font-size: 30px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #6db2d6;
  font-weight: bold;
}
header nav {
  width: calc(100% - 360px);
}
header nav ul.menu {
  line-height: 40px;
  position: relative;
}
header nav ul.menu li {
  list-style: none;
  float: right;
  box-sizing: border-box;
  margin: 0 !important;
}
header nav ul.menu li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #999;
  transition: all ease 0.3s;
  margin: 0 10px;
  padding: 0 5px;
}
header nav ul.menu li.active {
  /*ul {
                        display: block;
                    }*/
}
header nav ul.menu li.active > a {
  background: #6db2d6;
  color: #fff;
}
header nav ul.menu li ul {
  position: absolute;
  top: 40px;
  left: 0;
  margin: 0;
  background: #ccc;
  display: none;
}
header nav ul.menu li ul li {
  padding: 0 10px;
  margin-left: 10px;
  float: right;
  box-sizing: border-box;
}
header nav ul.menu li ul li:hover {
  background: #6db2d6;
}
header nav ul.menu li ul li:hover a {
  color: #fff;
}
header nav ul.menu li ul li a {
  font-size: 13px;
  color: #fff;
  margin: 0;
  padding: 0;
}
header nav ul.menu li:hover > ul {
  display: block !important;
  z-index: 99;
}
header .search {
  width: 160px;
  position: relative;
}
header .search:hover > input,
header .search input:focus,
header .search input:hover,
header .search input.ng-not-empty {
  opacity: 1;
  width: 100%;
}
header .search i {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 34px;
  padding: 0 12px;
  transform: rotateY(180deg);
  color: #999;
  font-size: 18px;
  z-index: 333;
  cursor: pointer;
}
header .search input {
  width: 0;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #999;
  opacity: 0;
  transition: all ease-in-out 0.5s;
  float: left;
  padding: 0 15px 0 30px;
  outline: none;
}
.container {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
}
.clear {
  clear: both;
  display: block;
  width: 100%;
  content: ' ';
}
.comments {
  margin: 40px auto;
  width: 100%;
}
.register-block {
  border-top: 1px solid #999;
  margin-top: 20px;
}
@media (max-width: 900px) {
  .projectModel .buttons {
    text-align: center;
  }
  .projectModel .details .pictures,
  .projectModel .details .info {
    float: none;
    width: 100%;
  }
  .projectModel .details .pictures {
    text-align: center;
    margin: 20px 0;
  }
  .projectModel .details .pictures .pic {
    text-align: center;
  }
  .projectModel .details .pictures img {
    margin: 0 auto;
  }
  .contact .inner {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .blog .list,
  .blog .side {
    width: 100%;
  }
  .blog .side {
    padding: 0;
  }
  .blog .side .box h2 {
    margin-left: 0;
  }
  .blog .model {
    width: 100% !important;
    float: none;
  }
  .blog .model .post-side,
  .blog .model .content {
    width: 100%;
    float: none;
  }
  .blog .post .thumb,
  .blog .post .info {
    width: 100%;
    padding: 0;
  }
  .projects .project {
    width: 100%;
  }
  footer .container {
    padding: 0 15px;
    font-size: 12px;
  }
  footer .container ul.categories li {
    display: block;
    vertical-align: top;
  }
  footer .container ul.categories li ul {
    vertical-align: top;
  }
  footer .container ul.categories li:after {
    display: none;
  }
  footer {
    text-align: center;
  }
  footer ul.pages {
    display: none;
  }
  footer .copyright {
    padding: 0;
    font-size: 10px;
  }
  header {
    padding-bottom: 40px;
    padding-top: 10px;
  }
  header .navToggle {
    display: block;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    height: 40px;
  }
  header .navToggle i {
    margin-top: 5px;
  }
  header .navToggle:hover {
    color: #6db2d6;
    cursor: pointer;
  }
  header nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 60px;
    z-index: 99999;
    left: 0;
    background: #fff;
    height: 100vh;
  }
  header nav ul.menu {
    padding: 0 20px;
  }
  header nav ul.menu li {
    display: block;
    height: auto;
    width: 100%;
    line-height: 30px;
  }
  header nav ul.menu li a {
    color: #666;
  }
  header nav ul.menu li > ul {
    display: block;
    position: relative;
    padding: 0 30px;
    margin: 0;
    top: unset !important;
    left: unset !important;
    line-height: 20px;
  }
  header nav ul.menu li > ul > li a {
    background: none;
    color: #999 !important;
    font-size: 15px !important;
  }
  header nav ul.menu li.active a {
    border-bottom: none;
  }
  header .search {
    width: 120px;
  }
  header .logo {
    height: auto;
    width: calc(100% - 40px);
    line-height: 40px;
    text-align: right;
    box-sizing: border-box;
  }
}