@model string
@{
    Layout = null;
}

<header>

        <img class="logo-image" alt="ترمیم مو الگانت مو" src="~/Themes/Elegantmoo/Images/Elegant.png" />
        <div class="text">
            <span>
                کاشت و ترمیم مو |  مناسب برای آقایان و خانم ها
            </span>
            @Html.Partial("_nav")
        </div>
    @*<h2 class="title">@Model</h2>*@

    <div class="clearfix"></div>
</header>