@using MoreLinq
@using HCMS.Dynamics.Data
@{



}



<div class="section video-page service-page">
    <div class="bg-overlay">
        @Html.Partial("_header", "ویدئو ها")

        <div class="page">
            <h2>
                ویدیو ها
            </h2>
            <div class="content">
                <div class="video">
                    <div id="1475074502458409">
                        <script type="text/JavaScript" src="https://www.aparat.com/embed/XnH81?data[rnddiv]=1475074502458409&data[responsive]=yes"></script>
                    </div>
                    <p class="video-desc">
                        ترمیم مو 2  28
                        ترمیم با جدیدترین روشهای روز دنیا باکادری مجرب 100% طبیعی و تضمینی.
                        <br />
                        برای کسب اطلاعات بیشتر به سایت ما مراجعه فرمایید(www.elegantmoo.com)و یا با ما تماس بگیرید.09123248155 88962259
                        6 مهر 1395 تبلیغات
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>