<div class="about">
    <img src="../img/نمای_سه_بعدی_ساختمان_حیات_نو_copy.jpg" class="main-image"/>
    <div class="background">
    </div>

    <div class="detail animated  bounceInDown">
        <a class="close" href="#!/hayat" title="بازگشت">
            <img src="/img/Hyat Type white.png" />
        </a>
        <h2>
            درباره حیات ( مانیفست)
        </h2>
        <p>
            اولین ساختمان حیات در سال 1387 الی 1388 ساخته شدو پس از آن حیات های دیگر یکی پس از دیگری ساخته شدند و در حال حاضر حیات نو خاص ترین پروژه در منطقه آماده تحویل می باشد و حیات نیاوران در مرحله اجرای اسکلت است
            اولین ساختمان حیات در سال 1387 الی 1388 ساخته شدو پس از آن حیات های دیگر یکی پس از دیگری ساخته شدند و در حال حاضر حیات نو خاص ترین پروژه در منطقه آماده تحویل می باشد و حیات نیاوران در مرحله اجرای اسکلت است
            اولین ساختمان حیات در سال 1387 الی 1388 ساخته شدو پس از آن حیات های دیگر یکی پس از دیگری ساخته شدند و در حال حاضر حیات نو خاص ترین پروژه در منطقه آماده تحویل می باشد و حیات نیاوران در مرحله اجرای اسکلت است
        </p>
    </div>

</div>